.search--input-container {
  display: flex;
  position: relative;
  z-index: 2;
}

.search--searchValue {
  font-size: 18px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  color: #43545f;
  background: none;
  cursor: pointer;
  opacity: 0.4;
  box-sizing: border-box;
}

.search--searchValue:hover {
  opacity: 0.7;
}

.search--searchValue--focused {
  /*opacity: 0.85;*/
  transition: 0.3s;
  cursor: text;
  font-size: 18px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  color: #6489ba;
  padding-top: 20px;
  box-sizing: border-box;
  background: none;
}

/* .search--Input--icon {
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 2;
  visibility: visible;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
} */

.search--flex-container--focused {
  width: 100%;
}

/*
.search--input-container--focused {
  display: flex;
  position: relative;
  flex-direction: row;
  height: 60px;
} */

.search--dropdown-selection--show {
  position: absolute;
  left: 0;
  z-index: 6;
  width: 100%;
  background-color: rgba(255, 255, 255, 1);
}

.search--dropdown-selection {
  height: 0px;
  overflow: hidden;
  animation: 0.3s;
}

.search--textInputLabel {
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  height: 1px;
  top: 20px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  opacity: 0.4;
}

.search--textInputLabel--focused {
  transform: translate(-14%, -15px) scale(0.72);
  color: #787878;
  pointer-events: none;
  height: 1px;
  top: 26px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 100%;
}

.search--input-box {
  flex: 1;
}

.search--dropdown-selection--show .search--dropdown-selection-item {
  font-size: 18px;
  padding: 10px 20px;
  border-top: solid 0.5px #e0e0e0;
}

.search--dropdown-selection--show .search--dropdown-selection-item:hover {
  background-color: rgba(44, 124, 221, 0.15);
  color: #43545f;
}

.search--dropdown-selection--show .search--dropdown-selection-item--select {
  background-color: blue;
  color: white;
}

/* .search--dropdown-selection-loadmore {
  padding: 10px 15px;
  text-align: center;
} */

.iphone-fix {
  display: none;
  height: 44px;
}

.searchInputLabel--error {
  transform: translate(-14%, -15px) scale(0.72);
  color: red;
  pointer-events: none;
  height: 1px;
  top: 26px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  font-weight: bold
}

.searchInputLabel-container--error input {
  background: none;
}