.application-cell-contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.application-cell-left {

}

.application-cell-right {

}

.application-cell-label {
  font-size: 14px;
  color: #4a4a4a;
}

.application-cell-text {
  font-size: 17px;
}
