html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
}

::-moz-selection {
	text-shadow: none;
	background: #e2e2e2;
}

::selection {
	text-shadow: none;
	background: #e2e2e2;
}

*:focus {
	outline: none;
}

.p-l-20 {
	padding-left: 20px;
}

.p-l-65 {
	padding-left: 65px
}

.others-container {
	display: flex;
	align-items: center;
}

.others-label {
	font-size: 16px;
	color: #444444;
	padding-right: 10px;
}

.p-r-0 {
	padding-right: 5px
}

.width-others {
	width: 660px
}

.error-button {
	/* min-width:60%; */
	display: block;
	padding: 16px;
	width: 235px;
	text-align: center;
	background-color: transparent;
	-webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
	-moz-transition: opacity .2s ease-in-out, -moz-transform .2s ease-in-out;
	transition: opacity .2s ease-in-out, transform .2s ease-in-out;
	font-size: 16px;
	border-radius: 5px;
	border: solid 1px #5d7dc8;
	color: #5d7dc8;
	margin-top: 27px;
	font-family: "Helvetica-Bold";
}

.error-button-container {
	display: flex;
	justify-content: center;
}

.error-pg-container {
	width: 689px;
	height: 428px;
	margin: 40px;
	border-radius: 10px;
	box-shadow: 0 2px 10px 0 rgba(173, 173, 173, 0.5);
	background-color: #ffffff;
}

/* tax self declaration css*/

.crs-container {
	padding-top: 15px;
	padding-left: 35px;
}

.crs-container .p-t-5 {
	padding-top: 5px;
	padding-bottom: 10px
}

.disabledText {
	color: #c0c0c0;
}

.radiobutton-container.radio-type2 .radio-description .disabledText {
	color: #c0c0c0;
}

/* input[type=radio] {
    -webkit-appearance: radio !important;
} */

input[type=checkbox] {
	-webkit-appearance: checkbox !important;
}

.specialRadio {
	-webkit-appearance: radio !important;
}

table {
	margin: 0;
	padding: 0;
	border-spacing: 0;
}

.enableOverflowX {
	width: 100%;
	overflow-x: auto;
	/* overflow-y: hidden; */
}

.textInputLabel--error {
	font-family: "Helvetica-Bold";
	font-weight: bold;
}

.searchInputLabel--error {
	font-family: "Helvetica-Bold";
	font-weight: bold;
}

body {
	color: #444444;
	font-size: 16px;
}

.p-lr-2rem {
	padding: 0 2rem;
}

.p-relative {
	position: relative;
}

.rightByYouLogo {
	width: 179px;
	height: 43px;
	padding: 40px 35px 0px !important;
	z-index: 5;
}

.fullWhitePage-logo .rightByYouLogo {
	padding: 20px 35px 0px !important;
}

.title-vertical-line {
	width: 1.5px;
	height: 41px;
	background-color: #002469;
	margin: 0 18px;
}

.productTitle-header {
	display: flex;
	justify-content: space-between;
}

.leftTopLogo {
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 25px 0 20px 0;
}

.uob-logo {
	margin-left: -15px;
}

.mobileTopTable th, .mobileTopTable td {
	padding: 0;
	margin: 0;
}

.mobileLogo {
	margin: 0;
}

.mobileSeparator {
	width: 3px;
	height: 34px;
	background: #002469;
	margin: 0 10px;
}

.mobileTitleTop {
	font-size: 14px;
	font-weight: 300;
	color: #002469;
	padding: 0;
}

.mobileTitleBottom {
	font-size: 18px;
	font-weight: 300;
	color: #002469;
	padding: 0;
}

.logoRight {
	display: none !important;
}

.alignCenter {
	display: flex;
	align-items: center;
}

.blue-uob-logo {
	z-index: 3;
	/* top: 44px; */
	position: relative;
	left: 35px;
	width: 114px;
}

.country-separator {
	background: #979797;
	width: 100%;
	height: 1px;
}

.errorMsg {
	font-size: 12px;
	color: red;
	/*padding-left: 10px;*/
}

.uob-content .country-separator {
	margin-top: 25px;
	margin-bottom: 10px;
	background: #979797;
	width: 100%;
	height: 1px;
}

/* 
.uob-content {
	max-width: calc(100vw - 245px);
	min-width: 600px;
	padding: 1rem 35px 2rem;
	box-sizing: border-box;
	scroll-behavior: smooth;
} */

.qnt-txt {
	font-size: 14px;
	flex: 1 0;
}

.txt-container {
	width: 100%;
	flex: 1 1;
}

.crs-txt {
	font-size: 12px;
	color: #444444;
}

.flex-1 {
	padding-right: 20px;
}

.crs-txt-container {
	padding: 30px 0 25px 0;
}

.crs-others-container {
	display: flex;
	align-content: center;
	justify-content: space-between;
	margin-left: 35px;
	padding-top: 20px;
}

.float-none {
	float: none
}

.crs-txt .float-none {
	float: none;
	padding-bottom: 15px;
}

.crs-questions {
	font-size: 14px;
	font-weight: bold;
	padding-top: 15px;
}

.crs-txt .crs-questions {
	font-size: 14px;
	font-weight: bold;
}

.p-t-5 {
	padding-top: 5px;
}

.p-t-20 {
	padding-top: 20px;
}

.crs-buttons {
	display: flex;
	align-items: center;
}

.crs-buttons input[type="radio"] {
	display: none;
}

.crs-buttons input[type="radio"]:checked+label {
	background: #dedede;
	color: #fff;
	/* border: 1px solid #dedede; */
	border-bottom: 0;
	padding-bottom: 4px;
}

.crs-buttons label {
	display: inline-block;
	width: 50px;
	color: #777777;
	padding: 5px 0px 4px;
	text-align: center;
	/* border: 1px solid #979797; */
	font-size: 12px;
	/* border-left: 1px solid #fff; */
	cursor: pointer;
	line-height: normal;
	/* -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5); */
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
	/* height: 15px; */
}

.crs-buttons div {
	float: left;
}

.crs-buttons label.lbl-first {
	border-radius: 5px 0 0 5px;
	/* border-right: 1px solid #979797;
	border-left: 1px solid #979797;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); */
}

.crs-buttons label.lbl-second {
	border-radius: 0 5px 5px 0;
	/* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5); */
}

/***Popup********/

.uob-form-loan.popup-on {
	overflow: hidden;
}

.popup {
	position: fixed;
	width: auto;
	height: 100%;
	top: 0;
	left: 246px;
	right: 0;
	bottom: 0;
	margin: 0;
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background-color: #ffffff;
	z-index: 5;
	overflow-y: auto;
	overflow-x: hidden;
}

.popup_inner {
	margin: auto;
	background: white;
}

.list-number {
	float: left;
	margin-top: 12px;
	/* background: #f0f6ff; */
	padding-top: 20px;
	padding-left: 40px;
	position: absolute;
}

.inner-content {
	padding: 20px 40px;
}

.inner-content h1 {
	margin-bottom: 28px;
}

#question2 {
	display: flex;
	align-items: flex-end;
}

.popup_inner .prefillSubtitle-container {
	margin-bottom: 30px;
}

.question-header {
	font-size: 22px;
	color: #777777;
	margin: 20px 0 10px;
}

.sub-question-header {
	margin-bottom: 18px;
}

.popup_inner .small-txt {
	color: #444444;
}

.scrollable {
	margin-bottom: 90px;
	font-size: 12px;
	color: #000;
}

.odd-class {
	background: #f7f7f7;
}

.odd-class.child {
	background: none;
	position: relative;
}

.even-class {
	background: #e8e8e8;
}

.close-icon {
	float: right;
	cursor: pointer;
}

.red-txt {
	color: #000;
	font-size: 14px;
}

.popup_inner .buttons-container {
	/* width: 13%; */
	/* display: table-cell; */
	float: none;
	vertical-align: bottom;
	display: flex;
	align-items: flex-end;
}

.inner-list-items {
	display: inline-block;
	width: 96%;
}

.flex-container {
	width: 100%;
	display: table;
	padding: 20px 40px;
	box-sizing: border-box;
}

.question-container {
	width: 100%;
	display: flex;
	padding: 20px 30px 20px 53px;
	box-sizing: border-box;
	/* align-items: flex-end; */
	justify-content: space-between;
}

li .odd-class {
	background: none;
}

.qnt-txt {
	font-size: 14px;
	display: table-cell;
	width: 85%;
	padding-right: 20px;
	/* margin-right: 2%;
    vertical-align: middle;
    line-height: 15px;
    margin: auto 0; */
}

.buttons-container div {
	float: left;
}

.buttons-container label {
	display: inline-block;
	width: 50px;
	color: #777777;
	padding: 5px 0px 4px;
	text-align: center;
	font-size: 12px;
	cursor: pointer;
	line-height: normal;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
	background: #fff;
}

.buttons-container label.lbl-first {
	border-radius: 5px 0 0 5px;
}

.buttons-container label.lbl-second {
	border-radius: 0 5px 5px 0;
}

.buttons-container input[type="radio"] {
	display: none;
}

.buttons-container input[type="radio"]:checked+label {
	background: #2961c5;
	color: #fff;
	border: 0;
	border-bottom: 0;
	padding-bottom: 4px;
}

.border-line {
	border-bottom: 1px solid #e5e5e5;
	margin: 26px 0 44px 0;
}

.list-questions {
	padding-left: 18px;
	font-size: 12px;
	padding-right: 20px;
}

.list-questions li {
	padding-top: 30px;
	border-top: 1px solid #e5e5e5;
	margin: 26px 0 30px 0;
}

.list-questions li:first-child {
	border: 0;
	padding: 0;
	margin-bottom: 20px;
}

ol.alpha {
	counter-reset: alpha;
	list-style: none;
	padding-left: 16px;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px 30px;
}

ol.alpha.diff-list-items {
	padding-bottom: 0;
	margin-bottom: 0;
}

ol.alpha.sub-list {
	padding-left: 0;
	padding-bottom: 0;
	padding-right: 0;
}

ol.alpha.sub-list li .question-container {
	padding: 0;
}

ol.alpha.sub-list li {
	padding: 20px 30px 20px 65px;
}

ol.alpha.sub-list li:nth-child(2n) {
	background: #e8e8e8;
}

ol.alpha.sub-list li:nth-child(2n+1) {
	background: #f7f7f7;
}

ol.alpha .flex-container {
	padding: 0;
	background: none;
}

.listitem-header {
	padding-bottom: 40px;
}

ol.alpha li {
	border: none;
	margin: 0;
	display: flex;
	line-height: 18px;
}

ol.alpha li:first-child {
	margin: 0;
}

.buttons-container {
	float: right;
	position: relative;
}

.popup-errorMsg {
	position: absolute;
	top: -20px;
	color: red;
}

.buttons-container div {
	float: left;
}

.buttons-container input[type="radio"] {
	display: none;
}

.buttons-container input[type="radio"]:checked+label {
	background: #dedede;
	color: #fff;
	/* border: 1px solid #dedede; */
	border-bottom: 0;
	padding-bottom: 4px;
}

.buttons-container .radio-disabled {
	pointer-events: none;
}

.border-line {
	border-bottom: 1px solid #e5e5e5;
	margin: 26px 0 44px 0;
}

.list-questions {
	padding-left: 18px;
	font-size: 12px;
	padding-right: 20px;
}

.list-questions li {
	padding-top: 30px;
	border-top: 1px solid #e5e5e5;
	margin: 26px 0 30px 0;
}

.list-questions li:first-child {
	border: 0;
	padding: 0;
	margin-bottom: 20px;
}

ol.alpha {
	counter-reset: alpha;
	list-style: none;
	padding-left: 16px;
	margin: 0;
	margin-bottom: 20px;
	padding: 10px 15px;
}

ol.upper-roman {
	list-style-type: lower-roman;
	margin-top: 10px !important;
}

ol.alpha.diff-list-items {
	padding-bottom: 0;
	margin-bottom: 0;
}

ol.alpha.sub-list {
	padding-left: 0;
	padding-bottom: 0;
	padding-right: 0;
}

ol.alpha.sub-list li {
	display: flex;
	align-items: flex-start;
}

ol.alpha.sub-list li .question-container {
	padding: 0;
}

ol.alpha.sub-list li {
	padding: 20px 30px 20px 65px;
}

ol.alpha .flex-container {
	padding: 0;
	background: none;
}

.listitem-header {
	padding-bottom: 40px;
}

ol.alpha li {
	border: none;
	margin: 0;
	display: flex;
	line-height: 20px;
}

ol.alpha.diff-list-items li {
	/* padding-top: 15px; */
}

ol.alpha li:first-child {
	margin: 0;
}

ol.alpha>li:before {
	counter-increment: alpha;
	content: counter(alpha, lower-alpha) ". ";
	/* vertical-align: top;
	padding-right: 10px;
	padding-top: 3px; */
	/* width: 20px; */
	padding-right: 10px;
}

#question3+ol.alpha>li:before {
	counter-increment: alpha;
	content: " (" counter(alpha, lower-alpha) ") ";
	padding-right: 10px;
}

ol.upper-roman>li:before {
	/* counter-increment: listStyle;
	content: counter(listStyle, lower-roman) ". ";
	/* vertical-align: top;
	padding-right: 10px;
	padding-top: 3px; */
	/* width: 20px;
	padding-right: 15px; */
}

.question-container ol.alpha>li:before {
	width: 20px;
}

.agreementContent ol.alpha>li:before {
	/* width: 18px; */
}

.agreementContent ol.upper-roman>li:before {
	width: 12px;
}

.btn-container {
	position: absolute;
	width: 100%;
	bottom: 0;
}

.btn-container .primary-button {
	width: 100%;
	margin: 0;
	font: 400 14px "Segoe UI" !important;
	background: #2b59ac;
	height: 46px;
	cursor: pointer;
	position: static;
}

/*.btn-container.fixedContinueGray {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/

.btn-container.fixedContinueGray .primary-button {
	background: #454545;
	cursor: default;
	position: static;
	border-radius: 0;
}

.custom-tooltip .tooltip {
	position: relative;
	display: inline-block;
	opacity: 1;
	color: #777777;
	cursor: pointer;
	font-family: "Helvetica-Light";
	font-size: 14px;
}

.tooltip .tooltiptext {
	visibility: hidden;
	width: 200px;
	background-color: #fff;
	color: #444;
	text-align: center;
	border-radius: 6px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -70px;
	opacity: 0;
	transition: opacity 0.3s;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 5px 10px;
	text-align: left;
}

/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;

}*/

.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/**table tooltip**/

.row-txt {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 140px;
	padding: 0px;
}

.custom-tooltip-tb .tooltip-tb {
	position: relative;
	display: inline-block;
	opacity: 1;
	color: #444;
	cursor: pointer;
	font-family: "Helvetica-Light";
	font-size: 12px;
}

.tooltip-tb .tooltiptext-tb {
	visibility: hidden;
	background: #fff;
	color: #444;
	text-align: center;
	border-radius: 2px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -74px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	-o-transition: opacity 0.3s;
	transition: opacity 0.3s;
	-webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
	font-size: 12px;
	padding: 5px 10px;
	text-align: left;
	display: inline-block;
}

.tooltip-tb:hover .tooltiptext-tb {
	visibility: visible;
	opacity: 1;
}

/*******Operating Mandate***********/

.big-text {
	font-size: 26px;
	color: #6489ba;
	padding-bottom: 8px;
}

.medium-txt {
	font-size: 14px;
	padding-bottom: 10px;
}

.radiobutton-container input {
	width: 12px;
	height: 12px;
}

.radiobutton-container [type="radio"]:checked, .radiobutton-container [type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

.radiobutton-container [type="radio"]:checked+label, .radiobutton-container [type="radio"]:not(:checked)+label {
	position: relative;
	padding-left: 24px;
	cursor: pointer;
	line-height: 16px;
	display: inline-block;
	color: #666;
}

.radiobutton-container [type="radio"]:checked+label:before, .radiobutton-container [type="radio"]:not(:checked)+label:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 10px;
	height: 10px;
	border: 1px solid #ddd;
	border-radius: 100%;
	background: #fff;
}

.radiobutton-container [type="radio"]:checked+label:after, .radiobutton-container [type="radio"]:not(:checked)+label:after {
	content: '';
	width: 6px;
	height: 6px;
	background: #a8c0ec;
	position: absolute;
	top: 3px;
	left: 3px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.radiobutton-container [type="radio"]:not(:checked)+label:after {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}

.signatory-info {
	margin-top: 50px;
}

.signatory-info .user0 {
	margin-bottom: 40px;
}

.bibuser .toggle-input--container {
	margin-left: 16px;
	padding-top: 19px;
	padding-bottom: 19px;
}

.bibuser-container {
	padding-left: 2px;
}

.bibuser-container .companyGroupIDInfo {
	padding-left: 22px;
}

.p-b-10 {
	padding-bottom: 10px;
}

.p-r-20 {
	padding-right: 20px;
}

/********ASR Form***************/

.radiobutton-container.radio-type2 {
	margin: 20px 0 30px 22px;
}

.radiobutton-container.radio-type2 .radio-description {
	font-weight: bold;
}

.radiobutton-container.radio-type2 .radio-subhead {
	font-weight: normal;
}

.asr-heading {
	margin-top: 48px;
	margin-bottom: 10px;
}

.asr-details .agreementContent {
	height: 350px;
	overflow-y: scroll;
	margin: 20px 0 40px;
	font-size: 14px;
}

.asr-details .medium-txt {
	padding-left: 24px;
}

.asr-details .radio-head {
	margin-top: 15px;
	border-bottom: 1px solid #b1b1b1;
}

.asr-details .radio-head .radiobutton-container {
	margin-top: 20px;
}

.dash {
	border-bottom: 1px solid #b1b1b1;
	padding: 0 15px;
}

.legend-box {
	border: 1px solid #979797;
	padding: 20px 25px;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 14px;
}

.legent-char {
	width: 2%;
	display: inline-block;
	vertical-align: top;
}

.legent-txt {
	width: 96%;
	display: inline-block;
}

.legend-box.m-bot0 {
	margin-bottom: 0;
}

#loadingPage {
	position: fixed;
	top: 0;
	/* to center it */
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

#loadingPage .uob-logo {
	padding: 0;
	margin: 0;
	margin-left: -20px;
}

.sub-headline {
	/*min-width: 669px;
	min-height: 14px;*/
	font-size: 12px;
	color: #777777;
	margin-bottom: 10px;
}

.sub-headline-bold {
	min-width: 669px;
	min-height: 14px;
	font-size: 12px;
	color: #777777;
	font-weight: bold;
}

.isRetrieving {
	z-index: 1
}

.loadingText {
	/* width: 186px; */
	height: 17px;
	font-family: "Helvetica-Light";
	font-size: 14px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #466c9f;
	padding-top: 20px;
}

.dot {
	height: 12px;
	width: 12px;
	background-color: #ffffff;
	border-radius: 50%;
	display: inline-block;
	float: left;
}

.dot-common {
	height: 15px;
	width: 15px;
	background-color: transparent;
	border: 2px solid #466c9f;
	border-radius: 50%;
	display: inline-block;
	float: left;
	position: relative;
}

.show-white-circle {
	border: 2px solid #ffffff;
}

.show-white-bg {
	border: 2px solid #ffffff;
	background-color: #ffffff;
}

.mid-dot {
	position: absolute;
	top: -1px;
	z-index: 1000;
	left: 3.5px;
	color: #ffffff;
	font-size: 13px;
	display: none;
}

.mid-tick {
	color: #002165;
	position: absolute;
	top: -1px;
	left: 2px;
	font-size: 12px;
	font-weight: bolder;
	transform: rotate(15deg);
	z-index: 1000;
	text-shadow: 1px 0px 0px #002165;
	display: none;
}

.mid-dot-show {
	display: block;
}

.mid-tick-show {
	display: block;
}

.vertical-line {
	width: 2px;
	height: 14px;
	background: #466c9f;
	display: block;
	margin: 0 7px;
	position: absolute;
	bottom: 30px;
}

.white {
	background: #ffffff;
}

.show-white-bg~.vertical-line {
	background: #ffffff;
}

.white {
	background: #ffffff;
}

.show-white-link {
	font-family: "Helvetica-Light" !important;
	font-weight: normal !important;
	color: #ffffff !important;
	cursor: pointer !important;
}

.show-white-bold-link {
	font-family: "Helvetica-Bold" !important;
	font-weight: bold !important;
	color: #ffffff !important;
	cursor: pointer !important;
}

.navbar-nav {
	margin-top: 10px;
	list-style: none;
}

#sideNav .navbar-nav .nav-item .nav-link {
	font-family: "Helvetica-Light";
	font-weight: normal;
	letter-spacing: 0.05rem;
	font-size: 12px;
	color: #466c9f;
	cursor: default;
}

#sideNav .navbar-nav .nav-item .navbarSelected {
	font-family: "Helvetica-Bold";
	font-weight: bold;
	color: #ffffff !important;
	opacity: 1;
}

#sideNav.navbar {
	padding: 3px !important;
}

#sideNav .navbar-toggler:focus {
	outline-color: #d48a6e;
}

#additionalPartnersDetails-section .uob-headline {
	margin-bottom: 0px;
}

section.resume-section {
	/* padding: 32px 35px 16px !important; */
	/* max-width: 1366px;
    margin: 0 auto; */
	background: none !important;
	/*max-width: 75rem;*/
	padding: 40px 35px 14px !important;
}

section.resume-section .resume-item .resume-date {
	min-width: none;
}

.bg-primary-left {
	background-color: #002165;
}

.text-primary {
	color: #000e2d !important;
}

a {
	color: #6489ba;
}

a:hover, a:focus, a:active {
	color: #6489ba;
}

.content_1 {
	margin: 0 auto;
}

.content_1 .title1 {
	display: grid;
}

.content_1 .title1 span {
	font-size: 20px;
	color: #6b6b6b;
}

.content_1 .title2 {}

.accountSettingMain>.row>div {
	cursor: pointer;
	font-size: 16px;
	display: block;
	border: none;
	outline: none;
	color: #43545f;
	background-color: rgba(255, 255, 255, 0.85);
	box-sizing: border-box;
	padding: 1rem;
}

.midBorder {
	border: none !important;
}

.accuntSettingSelected {
	background: #3366cc !important;
	font-size: 16px !important;
	color: #ffffff !important;
}

.additionalServiceTitle {
	font-size: 14px !important;
}

.m-r-10 {
	margin-right: 10px;
}

.accountSettingMain {
	border-top: 1px solid #f1f1f1;
}

.accountSettingMain h5 {
	font-size: 1rem;
}

.accuntSettingSelected h5 {
	color: #ffffff;
}

.cardAdd {
	width: 110px;
}

.cardAdd>span {
	display: block;
	text-align: center;
	padding: 8px 16px;
	color: #fff;
	line-height: 20px;
	padding: 5px 16px;
	color: #fff;
	margin-left: 1rem;
	font-size: 14px;
	background-color: #1f6eda;
	border-radius: 5px;
}

.cardAdded>span {
	background-color: transparent !important;
	border: 1px solid #ffffff;
}

.signatoriesInnerContent {
	background: #f3f3f3;
	padding: 1rem;
	margin-bottom: 6px;
}

.form-check {
	padding: 1rem 2rem;
}

.form-check-label {
	position: relative;
}

.form-check-input, .form-check-label {
	z-index: 100;
}

.radioContainer .form-check-label {
	cursor: pointer !important;
	width: 100%;
	height: 100%;
}

.radioContainer {
	position: relative;
	cursor: default !important;
	padding: 0 !important;
	cursor: pointer !important;
}

/* Create a custom checkbox */

.checkContainer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
}

.radioContainer .form-check:hover input~.checkContainer {
	background-color: #ccc;
}

.radioContainer .form-check input:checked~.checkContainer {
	background-color: #3366cc;
}

.radioContainer .form-check input:checked~.form-check-label {
	color: #fff !important;
}

.checkContainer:after {
	content: "";
	position: absolute;
	display: none;
}

.radioContainer .form-check input:checked~.checkContainer:after {
	display: block;
}

.fullWidth {
	width: 100%;
}

.fullWidth>div {
	width: 100%;
}

.flexCenterFullWidth {
	width: 100%;
	display: flex;
	align-items: center;
}

.top-border {
	border-top: 1px solid #b1b1b1;
}

.right-border {
	border-right: 1px solid #b1b1b1;
}

.main-applicant .halfRow:first-child {
	border-right: 1px solid #b1b1b1;
}

.main-applicant .halfRow:last-child {
	border-right: 0;
}

.main-applicant .halfRow {
	border-bottom: 1px solid #b1b1b1;
	;
}

.bottom-border {
	border-bottom: 1px solid #b1b1b1;
}

#email .textInput--focused, #email .read-only-text-input--input--focused {
	color: #336bce;
	padding-right: 3rem;
}

.fixedContinue button {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 5;
	margin: 0 !important;
	border-radius: 0;
	width: 100%;
	background: #2b59ac;
	font: 400 18px "Segoe UI" !important;
	min-height: 60px;
}

.fixedContinueGray button {
	background: #454545;
	cursor: default;
}

.fixedContinueGray button:hover {
	background: #2b59ac;
}

/* 
.common-content-padding {
	padding: 12px;
} */

.common-mobile-email-padding {
	padding: 3px 12px;
}

.common-special-padding {
	padding: 0 12px;
}

.fullTable {
	width: 100%;
	display: table !important;
}

.halfRow {
	width: 50%;
	display: table-cell;
	vertical-align: middle;
	min-width: 150px;
	height: 60px;
	padding-left: 20px;
}

.sub-div-common-no-top {
	width: 100%;
	height: 40px;
}

.sub-div-common {
	border-top: 1px solid #b1b1b1;
	width: 100%;
	height: 60px;
}

.align-left {
	margin-left: 60px;
}

.display-flex {
	display: flex;
	align-items: center;
}

.sectionTitle-blue {
	color: #6489ba;
	padding: 0.67em 0px;
	font-size: 26px;
}

.sectionTitle-grey {
	padding: 0.67em 0px;
}

.sub-title-confirm {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #6489ba;
	margin: 20px 0 10px;
}

.sub-title-confirm-grey {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin: 20px 0 10px;
}

.sub-title-grey {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin: 20px 0;
}

.sub-title {
	font-size: 16px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #6489ba;
	margin: 20px 0;
}

.cp-title {
	margin: 0;
	padding-top: 8px;
}

.desc-grey {
	font-size: 21px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	margin: 15px 0;
}

.desc {
	font-size: 21px;
	font-weight: 300;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #6489ba;
	margin: 15px 0;
}

.w-0 {
	width: 0px;
}

.small-txt {
	font-size: 12px;
	color: #787878;
	margin-bottom: 10px;
}

.p-0 {
	padding: 0 !important;
}

.p-0-20 {
	padding: 0 20px !important;
}

.p-12-20 {
	padding: 12px 20px !important;
}

.p-10-0 {
	padding: 10px 0 !important;
}

.p-32-0 {
	padding: 32px 0 !important;
}

.p-l-10 {
	padding-left: 20px;
}

.p-l-56 {
	padding-left: 56px;
}

.p-1-36 {
	padding-left: 36px;
}

.p-t-0 {
	padding-top: 0 !important;
}

.p-t-10 {
	padding-top: 10px !important;
}

.m-t-0 {
	margin-top: 0 !important;
}

.m-b-0 {
	margin-bottom: 5px !important;
}

.m-l-0 {
	margin-left: 0 !important;
}

.m-l-40 {
	margin-left: 40px !important;
}

.p-l-0 {
	padding-left: 0 !important;
}

.font-12 {
	font-size: 12px !important;
}

.font-14 {
	font-size: 14px !important;
}

.font-16 {
	font-size: 16px !important;
}

.font-18 {
	font-size: 18px !important;
}

.switch-bg--toggle-new {
	border-radius: 0;
	transition: 0.3s;
	position: relative;
	cursor: pointer;
	display: inline-block;
	height: 22px;
	background-color: transparent;
	border: 1px solid #336bce;
	width: 22px;
	margin-top: 10px;
}

.switch-toggle-new-tick {
	position: absolute;
	left: 5px;
	top: -3px;
	height: 20px;
}

.mail-checkBox {
	width: 100%;
}

.mail-checkBox tr td {
	vertical-align: middle;
}

.inputCheckBox {
	width: 17px;
	height: 17px;
	margin-left: 0;
}

.toggle-new-title {
	font-size: 26px;
	color: #6489ba;
	font-weight: 300;
}

.mailingDetails-section .confirmDetails-ValueCSS {
	color: #6489ba;
}

.currencyContent {
	width: 90%;
	max-width: 150px;
}

.currencyAmount {
	min-width: 70px;
}

.currencyType {
	font-size: 11px;
	width: 30px;
	color: #444444;
	font-weight: bold;
	text-align: right;
}

.ready-only-dropdown-container--focused .dropdown--value-text {
	color: #444444 !important;
}

.positionRelative {
	position: relative;
	cursor: pointer;
}

.lightGrey {
	color: #dfdfdf;
}

.darkGrey {
	color: #c0c0c0;
}

.bottomLine {
	width: 100%;
	height: 1px;
	background: #688cbc;
	position: absolute;
	left: 0;
	bottom: 0;
	display: none;
}

.positionRelative:hover .bottomLine {
	display: block;
}

.positionRelative:focus-within .bottomLine {
	display: block;
}

.textInputContainer--onFocus~.bottomLine {
	display: block !important;
}

.phoneInputContainer--onFocus~.bottomLine {
	display: block !important;
}

.postalCodeContainer--onFocus~.bottomLine {
	display: block !important;
}

.textInputLabel-container--error~.bottomLine {
	background: red;
	display: block !important;
	z-index: 1;
}

.searchInputLabel-container--error~.bottomLine {
	background: red;
	display: block !important;
	z-index: 1;
}

.dropdown--vertical-container--error~.bottomLine {
	background: red;
	display: block !important;
	z-index: 1;
}

.postal-code-input-container--error~.bottomLine {
	background: red;
	display: block !important;
	z-index: 1;
}

.PhoneInputContainer--error~.bottomLine {
	background: red;
	display: block !important;
	z-index: 1;
}

.textInputLabel-container--error~.fullErrorContent {
	background: #ffc8c8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.searchInputLabel-container--error~.fullErrorContent {
	background: #ffc8c8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.dropdown--vertical-container--error~.fullErrorContent {
	background: #ffc8c8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.postal-code-input-container--error~.fullErrorContent {
	background: #ffc8c8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.PhoneInputContainer--error~.fullErrorContent {
	background: #ffc8c8;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute;
}

.textInputLabel-container--error .textInput--focused, .PhoneInputContainer--error .phoneInput--focused, .dropdown--vertical-container--error .dropdown--value-text--error, .PhoneInputContainer--error .phoneInputFlag--number, .postal-code-input-container--error .postal-code-input--input--focused, .searchInputLabel-container--error .search--searchValue--focused {
	color: red !important;
}

.showBlueColor {
	color: #336bce !important;
}

.buttonCommon {
	display: inline-block;
	border-radius: 5px;
	border: solid 1px #0e3f97;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #15408e;
	font-size: 14px;
	cursor: pointer;
	margin-top: 8px;
	padding: 8px 20px;
}

.alignRight {
	text-align: right;
}

.agreementContent {
	/* height: calc(100% - 260px);
	box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
	background-color: #f8f8f8;
	padding: 20px;
	overflow: auto;
	margin: 10px 0 10px; */
	margin-top: 35px;
	border: solid 1px #979797;
	padding: 18px;
}

.agreementContentDesktop {
	box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
	border: 1px solid #979797;
	margin: 10px 0 10px;
	height: 200px;
}

.agreementContent p {
	color: #444444;
	font-size: 13px;
	margin: 0 0 1em 0;
}

.agreementContent ol {
	color: #444444;
	font-size: 13px;
	margin: 0 0 1em 0;
	line-height: 1.4;
	text-align: justify;
	padding: 0;
	margin-left: 20px;
}

.agreementContent ol ol ol {
	/* margin-left: 25px; */
}

.agreementContent ol ol.alpha li:first-child {
	margin-bottom: 20px;
}

.agreementContent ol li {
	margin-bottom: 20px;
	padding-left: 15px;
}

.agreementContent ol li ol li {
	/* padding-left: 0; */
}

.agreementContent ol.alpha>li:before {
	padding-top: 0;
}

.confirmDetails-LabelCSS {
	font-size: 12px;
	color: #787878;
}

.confirmDetails-labelValue {
	flex: 1;
}

.confirmDetails-flexContainer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-flow: row wrap;
	flex-wrap: wrap;
	justify-content: space-between;
}

.confirmDetails-label-container {
	flex: 0 50%;
	padding: 10px 0;
}

.confirmDetails-label-container .toggle-input--container {
	padding: 0;
}

.confirmDetails-flexContainer:nth-last-child(-n + 2) {
	color: #444444;
}

.confirmDetails-label-container.first-child:first-child {
	flex: none;
	width: 100%;
}

.confirmDetails-other-names {
	font-size: 15px;
	word-break: break-word;
}

.confirmDetails-ValueCSS {
	font-size: 16px;
	color: #444444;
	margin-top: 3px;
	padding: 0;
	word-wrap: break-word;
}

.--no-title {
	display: none;
}

.--no-button {
	display: none;
}

.reviewContent .confirmDetails-LabelCSS {
	display: inline-flex;
	float: left;
	min-width: 206px;
}

.reviewContent .confirmDetails-LabelCSS.mRight-20 {
	margin-right: 20px;
}

.reviewContent .confirmDetails-ValueCSS {
	display: inline-flex;
	float: left;
	margin-top: -3px;
}

.reviewContent .halfRow, .reviewContent .sub-div-common {
	height: 40px;
}

.reviewContent .display-flex .confirmDetails-labelValue {
	margin-top: 13px;
}

.grayRuler {
	border-top: 1px solid #979797;
	border-bottom: none;
}

.confirmationCheckBoxMain {
	margin-top: 16px;
	font-size: 16px;
	display: flex;
}

.confirmationCheckBoxMain .centerAlign {
	align-items: center;
}

.confirmationCheckBox {
	width: 20px;
	height: 20px;
	border-radius: 2px;
	border: solid 2px #444444;
	background-color: #ffffff;
}

.confirmationCheckBoxLable {
	margin-left: 1rem;
}

.income-breakdown-table--main-container-flex {
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.85);
	width: 100%;
	height: auto;
	border: 2px;
	border-radius: 2px;
	box-sizing: border-box;
}

.income-breakdown-table--titles-container-flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 10%;
	background-color: #e5e5e5;
}

.new-table .income-breakdown-table--titles-container-flex {
	background-color: #e7e7e7;
	border-top: 1px solid #979797;
	border-bottom: 1px solid #979797;
}

.income-breakdown-table--title-flex {
	font-family: "Helvetica-Bold";
	font-weight: bold;
	display: flex;
	flex: 1;
	font-size: 12px;
	width: 70px;
	color: #444444;
	padding: 14px 0px 14px 20px;
}

.income-breakdown-table--row-item-checkbox {
	height: 20px;
	width: 20px;
	margin-right: 20px;
	border-radius: 3px;
	background-color: white;
	border: solid 0.5px #e0e0e0;
	cursor: pointer;
}

.new-table .income-breakdown-table--row-flex .income-breakdown-table--row-item:last-child {
	border: 0;
	/* padding-right: 20px; */
}

.income-breakdown-table--row-item-checkbox--title {
	height: 20px;
	width: 20px;
	margin-right: 20px;
}

.income-breakdown-table--row-item-checkbox--selected {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	width: 20px;
	margin-right: 20px;
	border-radius: 3px;
	background-color: #1f6eda;
	border: solid 0.5px #1f6eda;
	cursor: pointer;
}

.income-breakdown-table--row-item-checkbox-tick {
	width: 12px;
	height: auto;
}

.income-breakdown-table--rows-container-flex {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	height: auto;
}

/* width */

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
	background: #f0f0f0;
	z-index: 2000;
}

/* Handle */

::-webkit-scrollbar-thumb {
	background: #c0c0c0;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
	background: #c0c0c0;
}

.new-table .income-breakdown-table--rows-container-flex {
	margin: 0;
}

.income-breakdown-table--row-flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.new-table .income-breakdown-table--row-flex .bg-checked {
	background: #e5f0ff;
}

.new-table .income-breakdown-table--row-flex {
	border-bottom: 1px solid #d9d9d9;
}

.income-breakdown-table--row-flex--selected {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 19px 10px;
	width: 100%;
	background-color: #e1ebf7;
}

.income-breakdown-table--row-item {
	width: 70px;
	flex: 1;
	font-size: 14px;
	color: #444444;
	padding: 10px 0px 10px 20px;
}

.new-table .income-breakdown-table--row-item {
	border-right: none;
}

.income-breakdown-table--separator {
	width: 100%;
	height: 1px;
	background: #d9d9d9;
}

.new-table .income-breakdown-table--separator {
	background: #d9d9d9;
	height: 1px;
}

.income-breakdown-table-header {
	font-size: 12px;
	color: #444444;
	padding: 10px;
}

.partner-subtitle-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/* height: 72px; */
	/* padding-top: 40px; */
	padding-bottom: 10px;
}

.partner-subtitle-container-confirm-cp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

.partner-subtitle {
	margin: 0;
	font-size: 14px;
	padding: 0;
	color: #777777
}

/*For review page*/

.partner-subtitle-container-confirm {
	justify-content: space-between;
	align-items: center;
	padding-bottom: 10px;
}

.partner-subtite {
	margin: 0;
	font-size: 12px;
	padding: 0;
	color: #444;
}

.partner-delete-icon {
	padding-top: 20px;
	width: 19px;
	height: 19px;
	cursor: pointer !important;
}

.noAdditionalPartnerContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.noAdditionalPartnerText {
	width: 578px;
	height: 36px;
	font-family: "Helvetica-Light";
	font-size: 30px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: normal;
	color: #cacaca;
	margin-bottom: 27px;
}

.mobileLogoMain {
	padding: 0 15px;
}

.uob-body {
	margin-bottom: 90px;
}

.flexDisplay {
	display: flex;
}

/* Contact Details */

.prefillSubtitle-container {
	border-radius: 5px;
	border: 1px solid #002469;
	background-color: #ddebff;
	display: flex;
	align-items: center;
	padding: 10px;
}

.prefillSubtitle-text {
	font-family: "Helvetica-Light";
	font-size: 16px;
	color: #002469;
	display: flex;
	/* justify-content: center;
	align-items: center; */
}

.prefillSubtitle-icon {
	font-size: 24px;
	padding: 0 10px 0 0;
	color: #002469;
	margin-top: -5px;
}

.title1 {
	margin-bottom: 0;
}

.additionalServicesMain {
	padding-left: 12px;
}

.additionalServicesMain .checkbox-container {
	width: auto;
	height: auto;
}

.additionalServicesMain .toggle-input--container {
	padding-top: 10px;
}

.additionalServicesMain .standardRoleMain .toggle-input--container {
	padding-bottom: 5px;
}

.checkBoxBottomSub {
	padding-left: 45px;
	display: block;
	color: #777777;
	font-size: 12px;
	margin-top: 5px;
}

.multicheckbox-container .toggle-input--container {
	padding-top: 20px;
	margin-left: 12px;
}

.multicheckbox-container--read-only {
	pointer-events: none;
}

.checkbox-headlabel {
	margin-top: 20px;
	padding-left: 12px;
}

.companyGroupIDInfo {
	font-size: 16px;
	color: #777777;
	margin-top: 5px;
	margin-bottom: 10px;
}

.BIBPlusMain {
	padding-left: 45px;
	padding-bottom: 10px;
}

.BIBPlusMain-p-60 {
	padding-left: 60px;
}

.BIBSubTitle {
	font-size: 12px;
	color: #777777;
}

.standardRoleBottom {
	padding: 0;
	margin: 0;
}

.standardRoleBottom li {
	text-decoration: none;
	list-style: none;
}

.standardRoleMain {
	padding: 0 0 30px;
	color: #777;
}

.standardRoleMain label {
	color: #777
}

/* .read-only-text-input--container {
	height: auto !important;
} */

.dropdown-nopadding {
	padding: 0;
}

.flex-alignCenter {
	display: flex;
	align-items: center;
}

.review-page-pencil {
	height: 20px;
	width: 20px;
	padding-bottom: 10px;
}

.review-page-header-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.payNowIdBottomDash {
	position: absolute;
	bottom: 8px;
	left: 8px;
	font-size: 30px;
	letter-spacing: 6px;
	font-family: serif;
}

#payNowID input {
	letter-spacing: 13px;
}

.mainUploadSection {
	margin-top: 10px;
}

.p-b-0 {
	padding-bottom: 0 !important;
}

/* Nav Bar */

.show-finished-img {
	display: block;
}

.finished-img {
	display: none;
}

.show-current-img {
	display: block;
}

.current-img {
	display: none;
}

.show-not-finished-img {
	display: block;
}

.not-finished-img {
	display: none;
}

/* new asr  */

ol.withAlpha {
	list-style-type: lower-alpha;
	margin-left: 15px;
	margin-top: 10px;
}

ol.withAlpha li {
	padding-left: 5px;
}

.asrText {
	padding-left: 5px;
}

.tandc-text {
	margin-left: -20px !important;
}

.fullWhitePage-logo {
	display: flex;
	justify-content: space-between;
	padding-left: 35px;
}

.fullWhitePage-title {
	display: flex;
	align-items: center;
	padding-top: 15px;
}

.fullWhitePage-logo .blue-uob-logo {
	width: 110px;
	position: static;
}

.dividerPadding {
	padding-top: 30px;
}

.verify-content {
	width: 700px;
	height: 100%;
	border-radius: 10px;
	box-shadow: 0 2px 8px 0 rgba(192, 192, 192, 0.5);
	background-color: #ffffff;
	padding: 30px;
}

.verify-title {
	font-family: "Helvetica-Light";
	font-size: 36px;
	color: #002469;
	text-align: center;
}

.subtitle-box-subtite {
	font-family: "Helvetica-Light";
	font-size: 16px;
	color: #002469;
	justify-content: center;
}

.subtitle-box-icon {
	font-size: 24px;
	padding: 0 10px 0 0;
	color: #002469;
	margin-top: -5px;
}

.subtite-box, .subtitle-box-subtite {
	display: -ms-flexbox;
	display: flex;
}

.subtitle-box {
	/* height: 45px; */
	border-radius: 5px;
	border: 1px solid #002469;
	background-color: #ddebff;
	margin-bottom: 20px;
	margin-top: 15px;
	padding: 10px 10px;
	display: flex;
}

.subtitle-box-subtite ol {
	margin: 10px 15px;
}

.verify-primary-button .primary-button {
	margin-bottom: 0;
}

.verify-red {
	color: #E14747;
	font-family: "Helvetica-Bold";
}

.verify-content-text {
	color: #444;
	font-family: "Helvetica-Light";
}

.subtitle-content li {
	color: #E14747;
	margin-bottom: 10px;
	font-family: "Helvetica-Bold";
}

#verify-container {
	/* max-width: 650px; */
	width: 100%;
	/* padding: 0 15px 15px; */
	/* -webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 auto; */
	margin-top: auto;
	display: flex;
	align-items: center;
	justify-content: center;
}

#verify-container h1 {
	color: #444;
	font-size: 34px;
	margin: 0;
	padding: 15px;
}

.verify-container {
	background-size: contain;
	background-repeat: no-repeat;
	justify-content: center;
	overflow-x: hidden;
	background-position: 50%;
	height: 400px;
	background-color: white;
}

.verify-primary-button {
	display: flex;
	justify-content: center;
}

.verfiying-container {
	height: calc(100vh - 65px);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}

.icon-verifying--spinner {
	animation: App-icon-spin infinite 1.5s linear;
	width: 45px;
	margin-bottom: 10px;
}

/****SessionExpire Popup*************************/

.popup-container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 1100;
}

.popup-inner {
	margin: auto;
	background: white;
	width: 482px;
	height: 252px;
	margin-top: 10%;
	border-radius: 10px;
	position: relative;
}

.popup-content {
	margin-top: 20px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.popup-content span {
	color: #6489ba;
	font-size: 20px;
	text-align: center;
}

.popup-content p {
	width: 394px;
	margin: 0 auto;
	margin-top: 25px;
	font-size: 14px;
}

.popup-inner .close-icon {
	margin: 20px 20px 0 0;
	position: absolute;
	right: 0;
}

.popup-inner .primary-button {
	width: 100%;
	bottom: 0;
	position: absolute;
	margin: 0;
	border-radius: 0 0 10px 10px;
	font-size: 14px;
	background: #2b59ac;
}

.agreementMainPopup {
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: #ffffff;
	width: 100%;
	height: 100%;
}

.agreementCloseMark {
	position: relative;
	right: 20px;
	top: 20px;
	cursor: pointer;
	display: block;
}

/*  confirm t and c*/

#confirmTandC .toggle-input--container {
	display: block;
}

#confirmTandC .checkbox-container {
	height: auto;
}

/* ==========================================================================
   ReModal  styles
   ========================================================================== */

.remodal-overlay {
	position: fixed;
	z-index: 9999;
	top: -5000px;
	right: -5000px;
	bottom: -5000px;
	left: -5000px;
	display: none;
}

.remodal-wrapper {
	position: fixed;
	z-index: 1000000;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	-webkit-overflow-scrolling: touch;
	padding: 10px;
	align-items: center;
}

.remodal-wrapper:after {
	display: inline-block;
	height: 100%;
	margin-left: -0.05em;
	content: "";
}

.remodal-overlay, .remodal-wrapper {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.remodal-overlay {
	background: rgba(192, 192, 192, 0.90);
}

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal-overlay.remodal-is-opening {
	-webkit-animation: remodal-overlay-opening-keyframes 0.3s;
	animation: remodal-overlay-opening-keyframes 0.3s;
}

.remodal-overlay.remodal-is-closing {
	-webkit-animation: remodal-overlay-closing-keyframes 0.3s;
	animation: remodal-overlay-closing-keyframes 0.3s;
}

.remodal.remodal-is-opening, .remodal.remodal-is-closing {
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
}

.remodal.remodal-is-opening {
	-webkit-animation: remodal-opening-keyframes 0.3s;
	animation: remodal-opening-keyframes 0.3s;
}

.remodal.remodal-is-closing {
	-webkit-animation: remodal-closing-keyframes 0.3s;
	animation: remodal-closing-keyframes 0.3s;
}

.agreementButton {
	display: flex;
	align-items: center;
	border: 1px solid #6489ba;
	border-radius: 10px;
	background-color: #ffffff;
	padding: 40px 20px;
	cursor: pointer;
	font-size: 20px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.25;
	text-align: center;
	color: #6489ba;
	justify-content: center;
}

.agreementButton--selected {
	border: 3px solid #2961c5;
	font-weight: bold;
	font-size: 16px;
	text-decoration: underline;
}

.agreementButton--error {
	border: 1px solid #e14747;
	background-color: #ffffff;
	color: #e14747;
}

@-webkit-keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@keyframes remodal-opening-keyframes {
	from {
		-webkit-transform: scale(1.05);
		transform: scale(1.05);
		opacity: 0;
	}
	to {
		-webkit-transform: none;
		transform: none;
		opacity: 1;
	}
}

@-webkit-keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}
}

@keyframes remodal-closing-keyframes {
	from {
		-webkit-transform: scale(1);
		transform: scale(1);
		opacity: 1;
	}
	to {
		-webkit-transform: scale(0.95);
		transform: scale(0.95);
		opacity: 0;
	}
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes remodal-overlay-opening-keyframes {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@keyframes remodal-overlay-closing-keyframes {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

#sideNav {
	text-align: left;
	position: fixed;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 240px;
	height: 100vh;
	z-index: 10;
}

#sideNav .navbar-brand {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: auto auto 0;
	padding: 0.5rem;
}

#sideNav .navbar-brand .img-profile {
	max-width: 10rem;
	max-height: 10rem;
	border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

#sideNav .navbar-collapse {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 1;
	width: 100%;
	margin-bottom: auto;
	align-items: top;
}

#sideNav .navbar-collapse .navbar-nav {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
	padding-left: 15px;
}

#sideNav .navbar-collapse .navbar-nav .nav-item {
	display: flex;
	align-items: center;
	min-height: 35px;
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
	display: inline-block;
	text-decoration: none;
	float: left;
	padding: 0;
	margin-left: 10px;
	line-height: normal;
	max-width: 185px;
}

.mob-logo, .sideBarCloseImage {
	display: none;
}

#confirmationMain {
	margin: 40px 0;
}

.standardRoleMain .checkBoxBottomSub {
	padding-left: 48px;
	padding-top: 0;
}

.tax-glossary {
	font-size: 14px;
	color: #444444;
	margin-top: 40px;
	line-height: 17px;
}

/*Navbar CSS taken from main*/

.productTitle-header, .productTitle-header.showNav {
	padding-left: 245px;
}

.productTitle-header, .productTitle-header.hideNav {
	padding-left: 0px;
}

.uob-form-loan-container.hideNav {
	padding-left: 0px;
}

.title-vertical-line {
	width: 1.5px;
	height: 41px;
	background-color: #002469;
	margin: 0 18px;
}

.displayHeader, .displayVerify {
	display: none;
}

.underline {
	text-decoration: underline;
	color: #6489ba !important;
}

@media only screen and (min-width: 1500px) and (min-height: 700px) {
	.popup {
		left: 15%;
	}
}

@media only screen and (max-width: 824px) {
	.padding-0 .confirmDetails-label-container {
		padding: 0;
	}
	.reviewContent .confirmDetails-ValueCSS {
		margin-top: 3px;
	}
	.reviewContent .confirmDetails-LabelCSS {
		width: 100%
	}
	#confirmTandC .toggle-input--container {
		padding-top: 10px;
		margin: 10px;
	}
	#confirmTandC .checkbox-container {
		font-size: 14px;
		padding-left: 60px;
		padding-top: 10px;
	}
	.inner-content {
		padding: 10px;
	}
	.inner-content h1 {
		margin-top: 0;
	}
	.mobileProgressTop {
		width: 0;
		height: 5px;
		background: #9fc8ff;
	}
	.progressTopMain {
		background: #f5f5f5;
		width: 100%;
		height: 5px;
	}
	.menuButton {
		border: none;
		background: none;
		color: #002165;
		cursor: pointer;
		font-size: 25px;
		padding: 0px 8px 3px;
	}
	.menuButton:hover {
		color: #6489ba;
	}
	.sideBarCloseImage {
		position: absolute;
		top: 23px;
		right: 10px;
		display: flex;
		width: 30px;
		height: 30px;
		align-items: center;
		text-align: center;
		justify-content: center;
		float: right;
		cursor: pointer;
		z-index: 10;
	}
	.title-vertical-line {
		margin: 0 10px 0 6px;
		width: 1px;
	}
	.apply-page-header-title .title-vertical-line {
		margin: 0 10px 0 10px;
		height: 28px;
	}
	.uob-form-loan, .uob-form-loan.hideNav {
		padding-right: 0;
	}
	.fixedContinue .primary-button.hideNav {
		padding-left: 0px;
	}
	#sideNav, #sideNav .hideNav {
		display: none;
		transition: 0.3s;
	}
	.productTitle-header {
		width: 100vw;
		justify-content: left;
		position: fixed;
		background: white;
		outline: none;
		z-index: 10;
		display: inherit;
	}
	.productTitle-header.hideNav {
		padding-left: 0px !important;
	}
	#sideNav.showNav {
		display: flex;
		transition: 0.3s;
		z-index: 1090;
	}
	.menuButton.showNav {
		display: none;
	}
	.displayHeader {
		display: flex;
		margin: 6px 0;
	}
	.showNav .displayHeader {
		padding-left: 10px;
	}
	.leftTopLogo .uob-logo, .leftTopLogo {
		display: none;
	}
	.prefillSubtitle-container {
		height: auto;
	}
	.popup_inner .prefillSubtitle-container {
		margin-bottom: 10px;
		margin: 0;
		box-sizing: border-box;
		margin: 0 10px;
	}
	.prefillSubtitle-text {
		position: relative;
		/* padding-left: 10px; */
	}
	.popup .prefillSubtitle-text {
		margin: 0;
	}
	section.resume-section {
		display: none !important;
	}
	.uob-body {
		margin-bottom: 40px;
		overflow-x: hidden;
	}
	.slideRightPanel {
		margin-left: 245px;
		width: 100vw;
	}
	.slideTopPanel {
		margin-left: 245px;
		width: 100vw;
	}
	.rightByYouLogo {
		display: none;
	}
	#sideNav .navbar-nav .nav-item .nav-link {
		font-size: 14px;
	}
	.content_1 {
		width: 100%;
		background: #fff;
		z-index: 99;
		position: fixed;
		justify-content: flex-start;
		height: 56px;
	}
	.content_1 .title1 {
		margin-top: 0;
	}
	.mainContentMargin {
		margin-top: 90px;
	}
	.popup {
		height: calc(100% - 115px);
		left: 0;
		margin: 55px 0 60px;
	}
	.scrollable {
		margin-bottom: 0;
	}
	#confirmationMain {
		margin: 40px 0;
	}
}

@media only screen and (min-width: 992px) {
	body {
		padding-top: 0;
		padding-left: 246px;
	}
	.menuButton {
		display: none;
	}
	.fixedContinue button {
		padding-left: 18.4rem;
	}
}

@media only screen and (max-width: 991px) {
	.inner-content {
		padding: 20px 0;
	}
	.inner-content h1 {
		margin: 0 0 10px 15px;
	}
	.inner-content .close-icon {
		width: 20px;
		height: 20px;
		margin-right: 20px;
		margin-top: 6px;
	}
	.mobileProgressTop {
		width: 0;
		height: 5px;
		background: #9fc8ff;
	}
	.progressTopMain {
		background: #f5f5f5;
		width: 100%;
		height: 5px;
		position: absolute;
		top: 50px;
	}
	.mob-prodtitle {
		font-size: 14px;
		color: #002469;
	}
	.displayHeader {
		display: flex;
	}
	.showNav .uob-content {
		min-width: calc(100% + 245px);
	}
	.uob-form-loan.whitePage-header {
		padding: 0;
	}
	#confirmDetailsPage-section .agreementContent {
		height: calc(100% - 260px);
		box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
		background-color: #f8f8f8;
		padding: 20px;
		overflow: auto;
		border: 0;
		margin: 10px 0 10px;
	}
	body, html {
		/* overflow: auto!important; */
	}
	::-webkit-scrollbar {
		width: 10px;
		height: 3px;
	}
	::-webkit-scrollbar-track {
		background: #F2F2F2;
		z-index: 2000;
	}
	::-webkit-scrollbar-thumb {
		background: #c0c0c0;
	}
	.p-l-10 {
		padding-left: 0;
	}
	.crs-container {
		padding-left: 0;
	}
	.width-others {
		flex: 1 1 auto;
		width: auto;
	}
	.crs-container .p-t-5 {
		padding-top: 0;
		padding-bottom: 0;
	}
	.subtitle-box-subtite ol {
		margin: 0;
	}
	.uob-headline {
		margin: 10px 0 20px;
	}
	.new-table .income-breakdown-table--titles-container-flex-fatca {
		display: none;
	}
	.new-table .income-breakdown-table--row-item-fatca {
		width: 100%;
		border: 0;
	}
	.fatca-radio-input .radio-container {
		margin-bottom: 0px;
		padding-left: 48px;
		padding-top: 8px;
	}
	.crs-container {
		padding-left: 0;
	}
	.crs-buttons label {
		width: 86px;
		padding: 8px 0px 8px;
		font-size: 18px;
	}
	.crs-buttons input[type="radio"]:checked+label {
		padding-bottom: 8px;
	}
	.crs-buttons div {
		padding: 10px 0;
	}
	.others-container {
		width: 100%;
	}
	.positionRelative>div {
		width: 100%;
	}
	/* .common-content-padding{
		padding: 12px 0;
	} */
	.common-mobile-email-padding {
		padding: 3px 0;
	}
	.common-special-padding {
		padding: 0;
	}
	.fullTable {
		width: 100%;
		display: flex !important;
	}
	/* .halfRow {
		width: 100% !important;
		display: flex !important;
		align-items: center !important;
	} */
	.halfRow {
		display: block;
		width: 100%;
		border-bottom: 1px solid #b1b1b1;
		padding-left: 0;
		border-right: 0;
		height: auto;
	}
	.bottom-border .halfRow.dropdown-nopadding, .sub-div-common.mob-border {
		border: 0;
	}
	.top-border .bottom-border .halfRow.dropdown-nopadding.mob-border, .mailingDetails-section .fullTable .halfRow:nth-child(2), .crs-container .bottom-border .halfRow.dropdown-nopadding {
		border-bottom: 1px solid #b1b1b1;
	}
	.fullTable .halfRow:nth-child(2) {
		border-bottom: 0;
	}
	.sub-div-common {
		height: auto;
	}
	/* .read-only-text-input--container {
		width: 100% !important;
		display: flex !important;
		align-items: center !important;
	} */
	.right-border {
		border-right: none !important;
		border-bottom: 1px solid #b1b1b1 !important;
	}
	/* .read-only-text-input--content {
		padding: 0 10px;
	} */
	.BIBPlusMain {
		padding-left: 0;
	}
	#loadingPage {
		width: 100%;
		padding: 10px;
	}
	.error-pg-container {
		width: 100%;
		height: 100%;
		min-height: 428px;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: flex-start;
		align-items: flex-start;
		margin-top: 0;
	}
	.whitePage-error {
		width: 100%;
	}
	.multicheckbox-container .toggle-input--container {
		margin-left: 0;
		padding-bottom: 12px;
	}
	.checkbox-headlabel {
		padding-left: 0;
	}
	.radiobutton-container.radio-type2 {
		margin: 20px 0 30px 0;
	}
	.radio-toggle-input--container {
		margin-left: 0!important;
	}
	.bibuser .toggle-input--container {
		margin-left: 0;
	}
}

@media only screen and (min-width: 991px) {
	/* section.resume-section {
		min-height: 100vh;
		background: rgba(0, 123, 255, 0.08);
	}
	section.resume-section .resume-item .resume-date {
		min-width: 18rem;
	} */
	.midBorder {
		border-left: 1px solid #c4c8d2bf !important;
		border-right: 1px solid #c4c8d2bf !important;
	}
}

@media only screen and (max-width: 600px) {
	.agreementContent {
		height: calc(100% - 280px);
	}
}

@media only screen and (max-width: 400px) {
	.mobileTitleBottom {
		font-size: 16px;
	}
	.agreementContent {
		height: calc(100% - 320px);
	}
	.mobileLogo {
		width: 80px;
	}
}

@media only screen and (max-width: 340px) {
	.mobileTitleBottom {
		font-size: 15px;
	}
	.agreementContent {
		height: 35%;
	}
}

/*Responsiveness Update according to zeplin*/

@media only screen and (max-width: 824px) {
	.subtitle-content {
		margin: 15px;
	}
	.enableOverflowX {
		margin: 0 -14px;
		width: auto;
	}
	.close-icon {
		margin-right: 0px;
		margin-top: -15px;
	}
	.question-header {
		margin-top: 10px;
		margin-left: 15px;
	}
	.question-container {
		padding-left: 15px;
		padding-right: 15px;
		flex-direction: column;
	}
	.qnt-txt {
		padding: 0;
		margin-bottom: 30px;
		width: auto;
	}
	.popup_inner .buttons-container {
		justify-content: flex-end;
	}
	.buttons-container label {
		font-size: 18px;
		width: 88px;
		padding: 9px 0px 8px;
	}
	.sub-question-header {
		margin-left: 15px;
		margin-right: 15px;
	}
	.list-number {
		padding-left: 15px;
	}
	ol.alpha.sub-list li {
		padding-left: 32px;
		padding-right: 15px;
	}
	.tooltip .tooltiptext {
		width: 148px;
		left: 39%;
		font-size: 14px;
	}
	.buttons-container input[type="radio"]:checked+label {
		padding-bottom: 8px;
	}
	.popup-errorMsg {
		right: 55px;
		bottom: 53px;
		font-size: 16px;
		top: -24px;
	}
	.sub-title {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.sub-title-grey {
		margin-top: 20px;
		margin-bottom: 10px;
	}
	.uob-content {
		min-width: 300px;
		padding: 4rem 10px 2rem;
		width: 100vw;
	}
	.uob-content.additional-service {
		padding-top: 10px;
	}
	.uob-content#contactDetails-section {
		padding-top: 65px;
	}
	.p-b-0 {
		padding-bottom: 2rem !important;
	}
	.checkBoxBottomSub {
		padding-left: 0;
		padding-top: 10px;
	}
	.BIBPlusMain {
		padding-left: 0;
		padding-bottom: 10px;
	}
	.checkBoxBottomSub.custom-tooltip {
		padding-top: 0;
		margin-top: 0;
		padding-left: 60px;
	}
	.bibuser .toggle-input--container {
		margin-bottom: 20px;
	}
	.additionalServicesMain, .bibuser-container .companyGroupIDInfo, .checkbox-headlabel {
		padding-left: 0;
		font-size: 14px;
	}
	.standardRoleMain .radio-container {
		padding-top: 5px;
	}
}

@media screen and (max-width: 450px) {
	#confirmDetailsPage-section .agreementContent {
		height: calc(100% - 280px);
	}
}

@media (min-width: 320px) and (max-width: 400px) {
	#confirmTandC .checkbox-container {
		padding-top: 8px;
	}
	#confirmDetailsPage-section .agreementContent {
		height: calc(100% - 320px);
	}
}