.apply-page-header-container {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 5;
}

.apply-page-header-title img {
	/* width: 93px;
	height: 33px; */
}

.apply-page-header-title {
	display: flex;
	align-items: center;
}

.title-text {
	font-family: "Helvetica-Light";
	font-size: 28px;
	color: #002469;
}

.img-size {
	width: 100px;
	height: 32px;
	padding-top: 3px;
}

.right-by-you-container img {
	width: 178px;
	height: 43px
}

.apply-page-body-container-padding {
	padding-top: 55px !important;
}

.apply-page-body-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-top: 15px;
}

.apply-page-body-separater {
	width: 40px;
	height: 100%;
}

.apply-page-body-left, .apply-page-body-right {
	width: 610px;
	height: 483px;
	border-radius: 10px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
	background-color: #2360a7;
}

.body-left-content, .body-right-content {
	height: 403px
}

.body-left-refNo-container {
	/* position: absolute; */
	margin-left: 30px;
	color: #fff;
	/* margin-top: 60px; */
	font-size: 12px;
	padding-bottom: 10px;
}

.body-left-footer, .body-right-footer {
	height: 80px;
	border-radius: 10px;
	background-color: #ffffff;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
	padding: 0 30px;
	display: flex;
	align-items: center;
}

/* body left */

.body-left-left {
	flex: 2;
}

.body-left-right {
	flex: 1;
	text-align: right
}

.body-left-right-desp, .body-left-left-desp {
	font-size: 18px;
	color: #9fc8ff;
}

.body-left-right-title, .body-left-left-title {
	font-size: 14px;
	color: #9fc8ff;
}

.body-left-title {
	font-size: 40px;
	line-height: 1.25;
	color: #ffffff;
	padding: 30px 30px 15px 30px;
}

.body-left-subtite {
	padding: 0 30px 10px 30px;
	display: flex;
	align-items: center;
}

.body-left-subtite-text {
	font-family: "Helvetica-Bold";
	font-size: 16px;
	line-height: 1.25;
	color: #ffefa3;
	margin-left: 35px;
}

.body-left-description {
	font-size: 14px;
	color: #ffffff;
	padding: 0 30px 20px 30px;
}

.apply-page-tick {
	/* list-style-image: url('img/bullet.png'); */
	list-style-type: circle;
	margin: 0px
}

.body-left-description p {
	margin-top: 0px;
}

.body-left-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	/* margin-top: 40px; */
}

.body-left-button {
	width: 233px;
	height: 50px;
	border-radius: 5px;
	background-color: #547fcc;
	color: #fff;
	font-family: "Helvetica-Bold";
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
	cursor: pointer;
}

.body-left-footer-image img {
	width: 85px;
	height: 32px;
}

.body-left-footer-text {
	font-size: 12px;
	color: #444444;
	padding-left: 15px;
}

/* body right */

.body-right-title {
	font-size: 40px;
	line-height: 1.25;
	color: #ffffff;
	padding: 30px 30px 20px 30px;
}

.body-right-subtite {
	padding: 0 30px 20px 30px;
	display: flex;
	align-items: center;
}

.body-right-subtite-text {
	font-size: 16px;
	line-height: 1.25;
	color: #fff;
	margin-left: 35px;
}

.body-right-description {
	font-size: 14px;
	color: #ffffff;
	padding: 0 30px 20px 30px;
}

.body-right-description p {
	margin-top: 0px;
}

.body-right-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

.body-right-button {
	width: 233px;
	height: 50px;
	border-radius: 5px;
	background-color: #547fcc;
	color: #fff;
	font-family: "Helvetica-Bold";
	font-size: 16px;
	text-align: center;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid;
}

.body-right-footer-image img {
	width: 85px;
	height: 50px;
}

.body-right-footer-text {
	font-size: 12px;
	color: #444444;
	padding-left: 15px;
}

.body-right-button-withoutDesc {
	padding-top: 104px;
}

/*  others */

input[type="radio"] {
	-webkit-appearance: none;
}

/* ipad below */
@media only screen and (max-width: 767px){
	.verify-primary-button>div {
		width: 100%;
	}
}

@media only screen and (max-width: 991px) {
	.apply-page-body-container {
		width: 100%;
		flex-direction: column;
		/* padding: 0 !important; */
	}
	.apply-page-body-left, .apply-page-body-right {
		width: 100%;
		margin-bottom: 30px;
	}
	.body-left-title, .body-right-title {
		font-size: 26px;
		height: 70px;
	}
	.body-left-subtite-text, .body-right-subtite-text {
		font-size: 14px;
	}
	.body-left-description {
		font-size: 12px;
	}
	.body-left-footer, .body-right-footer {
		padding: 0 10px;
	}
	.apply-page-container {
		padding: 10px;
	}
	.body-left-footer-image img {
		width: 70px;
		height: 27px;
	}
	.apply-page-header-title img {
		width: 93px;
		height: 33.26px;
	}
	/* .apply-page-body-container, .apply-page-body-container-padding {
		padding-top: 0 !important;
  } */
	.title-text {
		font-size: 18px;
	}
	.right-by-you-container img {
		display: none;
	}
	.apply-page-header-container {
		padding: 0;
		padding-bottom: 15px;
	}
	.whitePage-header {
		padding: 10px;
	}
	.whitepage-navBar {
		display: none;
	}
	.body-left-subtite {
		flex-direction: column;
		align-items: flex-start;
	}
	.body-left-right {
		padding-top: 20px;
	}
	.body-left-right-desp {
		text-align: left;
	}
	.verify-content {
		padding: 15px;
	}

	.applyPage-container {
		padding: 10px;
		overflow-x: hidden;
	}
	.apply-for-mobile {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	.apply-container-for-mobile {
		margin: auto;
	}
}

@media only screen and (max-width: 765px) {
	.uob-logo {
		padding: 26px 40px;
		/*margin: 15px;*/
	}
}

/*All Devices up to iPhone X*/

@media only screen and (max-width: 824px) {
	.body-left-refNo-container {
		padding-top: 15px;
	}
}

/*iPhone 5/SE */

@media only screen and (min-width: 320px) and (max-width: 359px) {}

/*Galaxy S5 to iPhone X */

@media only screen and (min-width: 360px) and (max-width: 824px) {}

/*Galaxy S5*/

@media only screen and (min-width: 321px) and (max-width: 360px) {
	.body-left-refNo-container {
		padding-top: 10px;
		padding-bottom: 15px;
	}
	.body-left-description {
		padding: 0 30px 20px 30px;
	}
	.body-left-subtite {
		padding: 0 30px 10px 30px;
	}
	.body-left-footer {
		padding: 0 5px;
	}
}