/* Common Use CSS */

.uob-form-loan, .uob-form-loan--withBox, .uob-form-loan.showNav {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    overflow-x: hidden;
    /*Todo : remove comment*/
    background-position: 100%;
}

.uob-form-loan.whitePage-header {
    padding-left: 0px;
}

.uob-form-loan-container, .uob-form-loan-container.showNav {
    background: #ffffff;
    padding-bottom: 3rem;
    padding-top: 0px;
    padding-left: 245px;
}

.uob-form-separator {
    /*background-color: #fff;*/
    background-color: transparent;
    width: 30px;
    height: 0;
}

.uob-input-separator {
    margin-top: 15px;
    position: relative;
}

.uob-space-separator {
    width: 2%;
}

.uob-headline {
    color: #444444;
    font-size: 16px;
    margin: 10px 0 30px;
}

.uob-content {
    /*
    max-width: calc(100vw - 245px);*/
    min-width: 600px;
    padding: 1rem 35px 2rem;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.uob-header-wrap {
    width: 100%;
    padding: 20px 15px;
}

.uob-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

/* .uob-logo {
    max-width: 300px;
    margin-top: -8px;
} */

.uob-dealer-logo {
    max-width: 190px;
}

.uob-subtitle {
    font-size: 14px;
    padding-left: 8px;
}

.uob-pages-subtitle {
    padding-bottom: 15px;
}

.uob-toggle-separator {
    margin: 30px 0;
}

.uob-line-separator {
    height: 2px;
    background-color: #fff;
    opacity: 0.5;
    margin: 30px 0;
}

.uob-button-separator {
    margin: 30px 0;
}

.uob-input-line-separator {
    height: 1px;
    background: #9b9b9b;
    margin: 0 15px;
}

.uob-input-separator-half {
    width: 50%;
}

.uob-input-separator-col {
    display: flex;
    margin-top: 15px;
}

.uob-dash {
    padding: 20px 5px;
}

.uob-terms {
    font-size: 12px;
    color: #444444;
    margin-top: 40px;
    line-height: 18px;
}

.uob-input-separator-twocols {
    margin-top: 11px;
    display: flex;
    justify-content: center;
}

.uob-input-separator-half {
    flex: 1 1 0%;
}

.space {
    width: 2.5%;
}

.uob-other-info--focused, .uob-other-info {
    padding-left: 14px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #43545f;
    background-color: hsla(0, 0%, 100%, 0.85);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.uob-other-info {
    opacity: 0.4;
}

/* white board */

.uob-input-white-board {
    background: rgba(255, 255, 255, 0.85);
    border-radius: 2px;
}

.uob-input-white-board-line-separator {
    height: 1px;
    background: #e2e2e2;
    margin: 0 15px;
}

.uob-input-whiteline-separator {
    height: 1px;
    background: #fff;
    margin: 20px 0px;
}

/* helpMessage */

.helpMessageContainer {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 40px 8px 20px;
    z-index: 100;
}

.helpMessage--expanded {
    cursor: pointer;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 0 32px 10px 20px;
    z-index: 999;
    color: #1f6eda;
}

.helpSubtitle {
    display: none;
}

.helpSubtitle--expanded {
    font-size: 10px;
    position: fixed;
    bottom: 67px;
    right: 125px;
    font-weight: bold;
}

.helpNumber {
    display: none;
}

.helpNumber--expanded {
    font-size: 11px;
    position: fixed;
    bottom: 40px;
    right: 125px;
}

.helpMessage-mobile {
    margin-left: 5px;
    pointer-events: none;
    text-decoration: none;
    color: inherit;
}

.helpMessage-text {
    display: flex;
    flex-direction: row;
}

/*PendingPage*/

.pendingPage-wrapper {
    display: flex;
    /* justify-content: space-between; */
}

.pendingPage-button-space {
    width: 2.5%;
}

.pendingPage-button {
    flex: 1;
}

/*BasicDetailsPage*/

.basicInfoOtherNames {
    padding-left: 14px;
    padding-bottom: 10px;
    font-size: 13px;
    color: #090909;
    background-color: hsla(0, 0%, 100%, 0.85);
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.img-wrap {
    position: absolute;
    top: -5px;
    right: 4px;
}

.uob-header span {
    margin-left: 8px;
    vertical-align: top;
    font-size: 32px;
    color: rgb(6, 55, 123);
    font-weight: 300;
    line-height: 28px;
    display: inline-block;
}

/* .uob-logo {
    width: 130px;
    height: 34px;
    margin-right: 0.5rem;
    position: relative;
    top: 2px;
} */

.mobileView {
    display: none;
}

/* Media - mobile view */

@media only screen and (max-width: 320px) {
    /* .uob-logo {
        width: 130px;
        margin-right: 0.5rem;
    } */
    .uob-header span {
        line-height: 20px;
        font-size: 20px;
    }
    .uob-subtitle {
        padding-left: 0;
        display: flex;
    }
}

.logoRight {
    display: none !important;
}

@media only screen and (max-width: 991px) {
    .logoRight {
        display: inline-block !important;
    }
    /* .uob-logo {
        width: 130px;
        margin-right: 0.5rem;
    } */
    .uob-header span {
        line-height: 20px;
        font-size: 20px;
    }
    .uob-form-loan {
        height: 100%;
        background-attachment: fixed;
        /*    overflow-y: scroll;
        -webkit-overflow-scrolling: touch;*/
    }
    .uob-vertical-line-separator {
        width: 0;
        margin: 15px;
    }
    .uob-input-separator-twocols {
        flex-direction: column;
        margin-top: 3px;
        padding-top: 10px;
    }
    .uob-input-separator-twocols .uob-input-separator-half:last-child {
        margin-top: 11px;
    }
    .uob-input-separator-half {
        width: 100%;
    }
    /* helpMessage mobileView */
    .--expanded {
        overflow: hidden;
    }
    .helpMessageContainer--expanded {
        background-color: rgba(45, 45, 45, 0.6);
        position: fixed;
        z-index: 1001;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .helpMessageContainer {
        margin: 0 10px 0 0;
    }
    .helpMessage--expanded {
        position: fixed;
        margin-right: 25px;
        padding-left: 0;
        margin: 0;
    }
    .helpSubtitle--expanded {
        font-size: 10px;
        position: fixed;
        bottom: 58px;
        right: 90px;
        font-weight: bold;
    }
    .helpNumber--expanded {
        font-size: 11px;
        position: fixed;
        bottom: 30px;
        right: 90px;
    }
    .helpMessage-mobile {
        margin-left: 5px;
        pointer-events: auto;
        text-decoration: underline;
        color: darkBlue;
    }
    .helpMessage-text {
        display: flex;
        flex-direction: row;
    }
    .uob-form-loan-container, .uob-form-loan-container.hideNav {
        padding-left: 0px;
        transition: 0.2s;
    }
    .uob-content {
        padding: 4.5rem 35px 2rem;
        transition: 0.2s;
        max-width: 100vw;
    }
    .mobileView {
        display: block;
        width: 100%
    }
}

@media only screen and (min-width: 320px) and (max-width: 600px) {
    .uob-input-separator-half {
        flex: none;
    }
}

@media only screen and (max-width: 669px) {
    .primary-button {
        width: 100%;
    }
}

.product-summary {
    /*background-color: #345185;*/
    padding: 0;
    border-radius: 4px;
    display: flex;
}

.summary-left {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex: 1 1;
    flex: 1 1;
    /*border-right: 2px solid #a6a6a6;*/
    padding-right: 1.5rem;
    /*padding: 15px 30px 15px 15px;*/
    display: flex;
}

.summary-left img {
    width: 50px;
    background: white;
}

.summary-right {
    /*  -ms-flex: 2 1;
    flex: 2 1;*/
    /*padding: 15px 15px 15px 30px;*/
}

.brand-model {
    color: #fff;
    text-align: center;
    margin-bottom: 0;
    font-size: 15px;
}

.table-basic-overview-separator {
    font-size: 15px;
    line-height: 1.54;
    color: #fff;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.table-basic-overview-labels {
    -ms-flex: 2 1;
    flex: 2 1;
    color: #fff;
    font-size: 12px;
}

.table-basic-overview-value {
    -ms-flex: 1 1;
    flex: 1 1;
    text-align: right;
    color: #fff;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #bd5d38;
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
    color: #bd5d38;
}