/* .dropdown {
  width: 100%;
  outline:none;
}

body {
  background : grey;
}

.dropdown-container {
  display: flex;
  opacity: 0.4;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  height: 60px;
}

.dropdown-container--focused {
  display: flex;
  opacity: 0.85;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  height: 60px;
}

.dropdown--content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.dropdown--content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

/*.dropdown-container:hover {
  opacity: 0.7;
}

.dropdown--inputLabel {
  padding-left: 15px;
  font-size: 18px;
  transition: 0.3s;
  z-index: 2;
  position: absolute;
}

.dropdown--inputLabel--focused {
  padding-left: 20px;
  font-size: 13px;
  color: #1f6eda;
  transform: translateY(-20px);
  transition: 0.3s;
  z-index: 2;
  position: absolute;
}

.dropdown--selectValue {
  display: none;
}

.dropdown--value-text {
  padding: 23px 0 0 20px;
  font-size: 24px;
  height: 100%;
}

.dropdown--input-container {
  display: none;
  flex-direction: column;
  height:60px;
}

.dropdown--input-container--focused {
  display: flex;
  position: relative;
  flex-direction: row;
  background: #E0E0E0;
  height:60px;
}

.dropdown--input-searchInput--icon {
  z-index: 2;
  padding: 20px 20px 0 0;
  right: 0;
  position: absolute;
}

.dropdown--searchValue--focused {
  font-size: 16px;
  border-radius: 2px;
  outline: none;
  border: 0px;
  margin: 10px;
  padding: 0 30px 0 10px;
  width: 100%;
}

.dropdown--inputArrow {
  padding-right: 15px;
}

.dropdown-selection {
  height: 0px;
  overflow: hidden;
  animation: 0.3s
}

.dropdown-selection--focused {
  display: block;
  max-height: 168px;
  overflow-y: auto;
  width: 100%;
  background-color: white;
  opacity: 0.85;
  animation: 0.3s
}

.dropdown-selection--focused .dropdown-selection-item {
  font-size: 18px;
  padding: 10px 20px;
  border-top: solid 0.5px #e0e0e0;
}

.dropdown-selection--focused .dropdown-selection-item:hover {
  background-color: rgba(44, 124, 221, 0.15);
  color: black;
}

.dropdown-selection--focused .dropdown-selection-item--select {
  background-color: blue;
  color: white;
}

.dropdownLabel--error {
  color: red;
} */
