.textInputContainer {
    display: flex;
    position: relative;
    border: 1px solid transparent;
    z-index: 2;
}

.textInput {
    font-size: 18px;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    color: #43545f;
    background: none;
    cursor: pointer;
    opacity: 0.4;
    /* padding-left: 15px; */
    box-sizing: border-box;
}

.textInput:hover {
    opacity: 0.7;
}

.textInput--focused {
    /*opacity: 0.85;*/
    transition: 0.3s;
    cursor: text;
    font-size: 16px;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    color: #6489ba;
    /*background: white;*/
    /* background-color: rgba(255, 255, 255, 0.85); */
    padding-top: 20px;
    /* padding-left: 15px; */
    box-sizing: border-box;
    background: none;

}

.textInputContent {
    flex: 1;
}

.textInputLabel {
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    height: 1px;
    top: 20px;
    display: block;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    text-align: left;
    width: 100%;
    opacity: 0.4;
    /* padding-left: 15px; */
}

.textInputLabel--focused {
    transform: translate(-14%, -15px) scale(0.72);
    color: #787878;
    /* font-size: 18px; */
    /* font-weight: bold; */
    pointer-events: none;
    /* left: 15px; */
    height: 1px;
    top: 28px;
    display: block;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    text-align: left;
    width: 100%;
}

.textInputTickContainer {
    background-color: white;
    opacity: 0.85;
    display: flex;
    align-items: center;
    transition: 0.3s;
    border: none;
    outline: none;
}

.textInputTick--visible {
    position: absolute;
    right: 20px;
    top: 20px;
    z-index: 2;
    visibility: visible;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    width: 25px;
    height: 25px;
}

.textInputTick--invisible {
    position: absolute;
    right: 10px;
    top: 22px;
    z-index: 2;
    visibility: hidden;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
}

.textInputLabel--error {
  transform: translate(-14%, -15px) scale(0.72);
  color: red;
  /* font-size: 18px; */
  /* font-weight: bold; */
  pointer-events: none;
  /* left: 15px; */
  height: 1px;
  top: 28px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  /* font-weight: bold */
  font-family: "Helvetica-Bold";
}

.textInputLabel-container--error {
    /* background-color: rgb(255, 242, 242);
    border: 1px solid red;
    box-shadow: 0 0 9px rgba(255, 0, 0, .5); */
}

.textInputLabel-container--error input {
    background: none;
}
