::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

*:focus {
    outline: none;
}
/* tax self declaration css*/
.crs-container {
    padding-top: 15px;
    padding-left: 35px;
}

.crs-container .p-t-5 {
    padding-top: 5px;
    padding-bottom: 20px

}
/* width */
::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f0f0f0;
    z-index: 2000;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.enableOverflowX {
    width: 100%;
    overflow-x: auto;
}

.textInputLabel--error {
    font-family: "Helvetica-Bold";
    font-weight: bold;
}

body {
    color: #444444;
    font-size: 16px;
}

.p-lr-2rem {
    padding: 0 2rem;
}

.p-relative {
    position: relative;
}

.leftTopLogo {
    /* padding: 35px !important; */
    display: none;
    padding-top: 40px;
    padding-bottom: 20px;
}

.logoRight {
    display: none !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.blue-uob-logo {
    z-index: 3;
    top: 44px;
    position: absolute;
    left: 35px;
    width: 130px;
}

/***Popup********/
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}

.popup_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    background: white;
    width: 720px;
    height: 90%;
    border-radius: 10px;

}

.inner-content {
    padding: 15px 20px 15px 40px;
}

.scrollable {

    overflow-y: scroll;
    height: 400px;
}

.close-icon {
    float: right;
    cursor: pointer;
}

.red-txt {
    color: #d23e3e;
    font-size: 12px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.country-separator　{
    background: #979797;
    width: 100%;
    height: 1px;
}

.crs-container .country-separator {

}
.qnt-txt {
    font-size: 12px;
    flex: 1 0;
}

.crs-txt{
    padding-bottom: 15px;
    font-size: 12px;
    width: 100%;
    float: left;
    color: #444444;
}

.float-none {
    float:none
}

.crs-txt .float-none {
    float:none;
    padding-bottom: 15px;
}
.crs-questions {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}

.crs-txt .crs-questions {
    font-size: 14px;
    font-weight: bold;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-20 {
    padding-top: 20px;
}

.crs-buttons {
    padding-top: 20px;
    margin-bottom: 60px;
}

.crs-buttons input[type="radio"] {
    display: none;
}

.crs-buttons input[type="radio"]:checked + label {
    background: #2961c5;
    color: #fff;
    border: 1px solid #2961c5;
    border-bottom: 0;
    padding-bottom: 4px;
}

.crs-buttons label {
    display: inline-block;
    width: 50px;
    color: #787878;
    padding: 5px 0px 3px;
    text-align: center;
    border: 1px solid #979797;
    font-size: 12px;
    border-left: 1px solid #fff;
    cursor: pointer;

}

.crs-buttons div {
    float: left;
}

.crs-buttons label.lbl-first {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.crs-buttons label.lbl-second {
    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.buttons-container {
    float: right;

}

.buttons-container div {
    float: left;
}

.buttons-container label {
    display: inline-block;
    width: 50px;
    color: #787878;
    padding: 5px 0px 3px;
    text-align: center;
    border: 1px solid #979797;
    font-size: 12px;
    border-left: 1px solid #fff;
    cursor: pointer;

}

.buttons-container label.lbl-first {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
}

.buttons-container label.lbl-second {
    border-radius: 0 5px 5px 0;
}

.buttons-container input[type="radio"] {
    display: none;
}

.buttons-container input[type="radio"]:checked + label {
    background: #2961c5;
    color: #fff;
    border: 1px solid #2961c5;
    border-bottom: 0;
    padding-bottom: 4px;
}

.border-line {
    border-bottom: 1px solid #e5e5e5;
    margin: 26px 0 44px 0;
}

.list-questions {
    padding-left: 18px;
    font-size: 12px;
    padding-right: 20px;
}

.list-questions li {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
    margin: 26px 0 30px 0;

}

.list-questions li:first-child {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
}

ol.alpha {
    counter-reset: alpha;
    list-style: none;
    padding-left: 16px;

}

.listitem-header {
    padding-bottom: 40px;
}

ol.alpha li {
    border: none;
    margin: 0;
    display: flex;
}

ol.alpha.diff-list-items li {
    padding-top: 15px;
}

ol.alpha li:first-child {
    margin: 0;
}

ol.alpha > li:before {
    counter-increment: alpha;
    content: "(" counter(alpha, lower-alpha) ") ";
    vertical-align: top;
    padding-right: 10px;
}

.btn-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.btn-container .primary-button {
    width: 100%;
    margin: 0;
    border-radius: 0 0 10px 10px;
    font: 400 14px "Segoe UI" !important;
    background: #2b59ac;
    height: 46px;
    cursor: pointer;
    position: static;
}

/*.btn-container.fixedContinueGray {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/
.btn-container.fixedContinueGray .primary-button {
    background: #454545;
    cursor: default;
    position: static;
}

/*******Operating Mandate***********/
.big-text {
    font-size: 26px;
    color: #6489ba;
    padding-bottom: 8px;
}

.medium-txt {
    font-size: 14px;
    padding-bottom: 10px;
}

.radiobutton-container div {
    margin-top: 10px;
    margin-left: 10px;
    font-size: 14px;
}

.radiobutton-container label {
    margin-left: 5px;
}

.radiobutton-container input {
    width: 12px;
    height: 12px;
}

.radiobutton-container [type="radio"]:checked, .radiobutton-container [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radiobutton-container [type="radio"]:checked + label, .radiobutton-container [type="radio"]:not(:checked) + label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #666;
}

.radiobutton-container [type="radio"]:checked + label:before, .radiobutton-container [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.radiobutton-container [type="radio"]:checked + label:after, .radiobutton-container [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #568aea;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radiobutton-container [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.signatory-info {
    margin-top: 50px;
}

.bibuser .toggle-input--container {
    margin-left: 14px;
    padding-top: 27px;
    padding-bottom: 27px;
}

.bibuser-container {
    padding-left: 2px;
}

.bibuser-container .companyGroupIDInfo {
    padding-left: 12px;
}

@media only screen and (max-width: 991px) {
    .logoRight {
        display: inline-block !important;
    }

    .uob-logo {
        width: 130px;
        height: 34px;
        margin-right: 0.5rem;
    }
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 246px;
    }

    .leftTopLogo {
        display: block;
    }
}

#loadingPage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingPage .uob-logo {
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.sub-headline {
  min-width: 669px;
  min-height: 14px;
  font-size: 12px;
  color: #777777;
}

.isRetrieving {
    z-index: 1
}

.loadingText {
    /* width: 186px; */
    height: 17px;
    font-family: Helvetica;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #466c9f;
    padding-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.dot-common {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid #466c9f;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

.show-white-circle {
    border: 2px solid #ffffff;
}

.show-white-bg {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.mid-dot {
    position: absolute;
    top: -1px;
    z-index: 1000;
    left: 3.5px;
    color: #ffffff;
    font-size: 13px;
    display: none;
}

.mid-tick {
    color: #002165;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    font-weight: bolder;
    transform: rotate(15deg);
    z-index: 1000;
    text-shadow: 1px 0px 0px #002165;
    display: none;
}

.mid-dot-show {
    display: block;
}

.mid-tick-show {
    display: block;
}

.vertical-line {
    width: 2px;
    height: 25px;
    background: #466c9f;
    display: block;
    margin: 3px 8px;
    position: absolute;
    top: 35px;
    left: 0;
}

.show-white-bg ~ .vertical-line {
    background: #ffffff;
}

.show-white-link {
    font-family: "Helvetica" !important;
    font-weight: normal !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.show-white-bold-link {
    font-family: "Helvetica-Bold" !important;
    font-weight: bold !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-family: "Helvetica";
    font-weight: normal;
    letter-spacing: 0.05rem;
    font-size: 12px;
    color: #466c9f;
    cursor: default;
}

#sideNav .navbar-nav .nav-item .navbarSelected {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    color: #ffffff !important;
    opacity: 1;
}

#sideNav.navbar {
    padding: 3px !important;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

@media (min-width: 992px) {
    #sideNav {
        text-align: left;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 240px;
        height: 100vh;
    }

    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }

    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }

    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 1;
        width: 100%;
        margin-bottom: auto;
        align-items: top;
    }

    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: flex;
        align-items: center;
        min-height: 50px;
    }

    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: inline-block;
        text-decoration: none;
        float: left;
        padding: 0;
        line-height: 10px;
        margin-left: 10px;
        line-height: 20px;
        max-width: 185px;
    }
}

#additionalPartnersDetails-section .uob-headline {
    margin-bottom: 0px;
}

section.resume-section {
    /* padding: 32px 35px 16px !important; */
    max-width: 1366px;
    margin: 0 auto;
    background: none !important;
    /*max-width: 75rem;*/
    padding: 40px 35px 14px !important;;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        /*min-height: 100vh;*/
        background: rgba(0, 123, 255, 0.08);
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

.bg-primary-left {
    background-color: #002165;
}

.text-primary {
    color: #000e2d !important;
}

a {
    color: #bd5d38;
}

a:hover,
a:focus,
a:active {
    color: #824027;
}

.content_1 {
    margin-bottom: 0;
}

.content_1 .title1 {
    display: grid;
}

.content_1 .title1 span {
    font-size: 20px;
    color: #6b6b6b;
}

.content_1 .title2 {
}

.accountSettingMain > .row > div {
    cursor: pointer;
    font-size: 16px;
    display: block;
    border: none;
    outline: none;
    color: #43545f;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 1rem;
}

.midBorder {
    border: none !important;
}

@media (min-width: 768px) {
    .midBorder {
        border-left: 1px solid #c4c8d2bf !important;
        border-right: 1px solid #c4c8d2bf !important;
    }
}

.accuntSettingSelected {
    background: #3366cc !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.additionalServiceTitle {
    font-size: 14px !important;
}

.m-r-10 {
    margin-right: 10px;
}

.accountSettingMain {
    border-top: 1px solid #f1f1f1;
}

.accountSettingMain h5 {
    font-size: 1rem;
}

.accuntSettingSelected h5 {
    color: #ffffff;
}

.cardAdd {
    width: 110px;
}

.cardAdd > span {
    display: block;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    line-height: 20px;
    padding: 5px 16px;
    color: #fff;
    margin-left: 1rem;
    font-size: 14px;
    background-color: #1f6eda;
    border-radius: 5px;
}

.cardAdded > span {
    background-color: transparent !important;
    border: 1px solid #ffffff;
}

.signatoriesInnerContent {
    background: #f3f3f3;
    padding: 1rem;
    margin-bottom: 6px;
}

.form-check {
    padding: 1rem 2rem;
}

.form-check-label {
    position: relative;
}

.form-check-input,
.form-check-label {
    z-index: 100;
}

.radioContainer .form-check-label {
    cursor: pointer !important;
    width: 100%;
    height: 100%;
}

.radioContainer {
    position: relative;
    cursor: default !important;
    padding: 0 !important;
    cursor: pointer !important;
}

/* Create a custom checkbox */
.checkContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.radioContainer .form-check:hover input ~ .checkContainer {
    background-color: #ccc;
}

.radioContainer .form-check input:checked ~ .checkContainer {
    background-color: #3366cc;
}

.radioContainer .form-check input:checked ~ .form-check-label {
    color: #fff !important;
}

.checkContainer:after {
    content: "";
    position: absolute;
    display: none;
}

.radioContainer .form-check input:checked ~ .checkContainer:after {
    display: block;
}

.fullWidth {
    width: 100%;
}

.fullWidth > div {
    width: 100%;
}

.flexCenterFullWidth {
    width: 100%;
    display: flex;
    align-items: center;
}

.top-border {
    border-top: 1px solid #b1b1b1;
}

.right-border {
    border-right: 1px solid #b1b1b1;
}

.bottom-border {
    border-bottom: 1px solid #b1b1b1;
}

#email .textInput--focused,
#email .read-only-text-input--input--focused {
    color: #336bce;
    padding-right: 3rem;
}

.fixedContinue button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0 !important;
    border-radius: 0;
    width: 100%;
    background: #2b59ac;
    font: 400 18px "Segoe UI" !important;
}

@media (min-width: 992px) {
    .fixedContinue button {
        padding-left: 18.4rem;
    }
}

.fixedContinueGray button {
    background: #454545;
    cursor: default;
}

.fixedContinueGray button:hover {
    background: #2b59ac;
}

.fullTable {
    width: 100%;
    display: table !important;
}

.halfRow {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: 150px;
    height: 60px;
    padding-left: 20px;
}

.sub-div-common-no-top {
    width: 100%;
    height: 40px;
}

.sub-div-common {
    border-top: 1px solid #b1b1b1;
    width: 100%;
    height: 60px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.sub-title {
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 40px 0 10px;
}

.desc {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 20px 0 10px;
}

.w-0 {
    width: 0px;
}

.small-txt {
    font-size: 10px;
    color: #787878;
    margin-bottom: 10px;
}

.p-10-0 {
    padding: 10px 0 !important;
}

.p-32-0 {
    padding: 32px 0 !important;
}

.p-l-10 {
    padding-left: 20px;
}

.p-l-56 {
    padding-left: 56px;
}

.p-1-36 {
    padding-left: 36px;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 0 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.switch-bg--toggle-new {
    border-radius: 0;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    background-color: transparent;
    border: 1px solid #336bce;
    width: 22px;
    margin-top: 10px;
}

.switch-toggle-new-tick {
    position: absolute;
    left: 5px;
    top: -3px;
    height: 20px;
}

.mail-checkBox {
    width: 100%;
}

.mail-checkBox tr td {
    vertical-align: middle;
}

.inputCheckBox {
    width: 17px;
    height: 17px;
    margin-left: 0;
}

.toggle-new-title {
    font-size: 26px;
    color: #6489ba;
    font-weight: 300;
}

.mailingDetails-section .confirmDetails-ValueCSS {
    color: #6489ba;
}

.mailingDetails-section {
    padding-top: 46px;
}

.currencyContent {
    width: 100%;
    max-width: 150px;
}

.currencyAmount {
    min-width: 70px;
}

.currencyType {
    font-size: 11px;
    width: 30px;
    color: #444444;
    font-weight: bold;
    text-align: right;
}

.ready-only-dropdown-container--focused .dropdown--value-text {
    color: #444444 !important;
}

.positionRelative {
    position: relative;
    cursor: pointer;
}

.bottomLine {
    width: 100%;
    height: 3px;
    background: #688cbc;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.positionRelative:hover .bottomLine {
    display: block;
}

.positionRelative:focus-within .bottomLine {
    display: none;
}

.textInputLabel-container--error ~ .bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.dropdown--vertical-container--error ~ .bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.postal-code-input-container--error ~ .bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.PhoneInputContainer--error ~ .bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.textInputLabel-container--error ~ .fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.dropdown--vertical-container--error ~ .fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.postal-code-input-container--error ~ .fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.PhoneInputContainer--error ~ .fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.textInputLabel-container--error .textInput--focused, .PhoneInputContainer--error .phoneInput--focused, .dropdown--vertical-container--error .dropdown--value-text--error, .PhoneInputContainer--error .phoneInputFlag--number, .postal-code-input-container--error .postal-code-input--input--focused {
    color: red !important;
}

.showBlueColor {
    color: #336bce !important;
}

.buttonCommon {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #0e3f97;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #15408e;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    padding: 8px 20px;
}

.alignRight {
    text-align: right;
}

.agreementContent {
    margin-top: 35px;
    border: solid 1px #979797;
    padding: 18px;
}

.agreementContent p {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
}

.agreementContent ol {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
}

.confirmDetails-LabelCSS {
    font-size: 12px;
    color: #787878;
}

.confirmDetails-labelValue {
    flex: 1;
}

.confirmDetails-flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.85);
}

.confirmDetails-label-container {
    flex: 0 50%;
    padding: 0;
}

.confirmDetails-label-container .toggle-input--container {
    padding: 0;
}

.confirmDetails-flexContainer:nth-last-child(-n + 2) {
    color: #444444;
}

.confirmDetails-label-container.first-child:first-child {
    flex: none;
    width: 100%;
}

.confirmDetails-other-names {
    font-size: 15px;
    word-break: break-word;
}

.confirmDetails-ValueCSS {
    font-size: 14px;
    color: #444444;
    margin-top: 3px;
    padding: 0;
    word-wrap: break-word;
}

.--no-title {
    display: none;
}

.--no-button {
    display: none;
}

.reviewContent .confirmDetails-LabelCSS {
    display: inline-flex;
    float: left;
    min-width: 206px;
}

.reviewContent .confirmDetails-ValueCSS {
    display: inline-flex;
    float: left;
    margin-top: -3px;
}

.reviewContent .halfRow,
.reviewContent .sub-div-common {
    height: 40px;
}

.reviewContent .display-flex .confirmDetails-labelValue {
    margin-top: 13px;
}

.grayRuler {
    border-top: 1px solid #979797;
    border-bottom: none;
}

.confirmationCheckBoxMain {
    margin-top: 16px;
    font-size: 16px;
    display: flex;
}

.confirmationCheckBoxMain .centerAlign {
    align-items: center;
}

.confirmationCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 2px #444444;
    background-color: #ffffff;
}

.confirmationCheckBoxLable {
    margin-left: 1rem;
}

.income-breakdown-table--main-container-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    border: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.income-breakdown-table--titles-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #e5e5e5;
}

.new-table .income-breakdown-table--titles-container-flex {
    background-color: #e6eef7;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--title-flex {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    display: flex;
    flex: 1;
    font-size: 12px;
    width: 70px;
    color: #444444;
    padding: 14px 10px;
}

.income-breakdown-table--row-item-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: white;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.new-table
.income-breakdown-table--row-flex
.income-breakdown-table--row-item:last-child {
    border: 0;
}

.income-breakdown-table--row-item-checkbox--title {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.income-breakdown-table--row-item-checkbox--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #1f6eda;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}

.income-breakdown-table--row-item-checkbox-tick {
    width: 12px;
    height: auto;
}

.income-breakdown-table--rows-container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.new-table .income-breakdown-table--rows-container-flex {
    margin: 0;
}

.income-breakdown-table--row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-table .income-breakdown-table--row-flex {
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--row-flex--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.income-breakdown-table--row-item {
    width: 70px;
    flex: 1;
    font-size: 14px;
    color: #444444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
}

.new-table .income-breakdown-table--row-item {
    border-right: none;
}

.income-breakdown-table--separator {
    width: 100%;
    height: 1px;
    background: #c0c0c0;
}

.new-table .income-breakdown-table--separator {
    background: #c0c0c0;
    height: 1px;
}

.income-breakdown-table-header {
    font-size: 12px;
    color: #444444;
    padding: 10px;
}

.partner-subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 72px; */
    padding-top: 40px;
    padding-bottom: 10px;
}

.partner-subtite {
    margin: 0;
}

.partner-delete-icon {
    margin-right: 10px;
    cursor: pointer !important;
}

.noAdditionalPartnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.noAdditionalPartnerText {
    width: 578px;
    height: 36px;
    font-family: Helvetica;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cacaca;
    margin-bottom: 27px;
}

@media (max-width: 991px) {
    .uob-content {
        padding: 1rem 35px 2rem !important;
    }

    section.resume-section {
        padding: 32px 32px 0 !important;
    }
}

/* Contact Details */
.prefillSubtitle-container {
    height: 45px;
    border-radius: 5px;
    border: solid 1px #89b4cc;
    background-color: #e6f2f9;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding: 0 20px;
}

.prefillSubtitle-text {
    font-family: Helvetica;
    font-size: 14px;
    color: #444444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefillSubtitle-icon {
    font-size: 24px;
    padding: 0 20px 0 0;
    color: #466c9f;
    margin-top: -5px;
}

.title1 {
    margin-bottom: 0;
}

.additionalServicesMain {

}

.additionalServicesMain .checkbox-container {
    width: initial;
    height: initial;
}

.additionalServicesMain .toggle-input--container {
    padding-top: 20px;
}

.checkBoxBottomSub {
    padding-left: 35px;
    display: block;
    color: #777777;
    font-size: 12px;
    margin-top: 5px;
}

.companyGroupIDInfo {
    font-size: 14px;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 10px;
}

.BIBPlusMain {
    padding-left: 35px;
}

.BIBSubTitle {
    font-size: 12px;
    color: #777777;
}

.standardRoleBottom {
    padding: 0;
    margin: 0;
}

.standardRoleBottom li {
    text-decoration: none;
    list-style: none;
}

.standardRoleMain {
    padding: 0 0 30px;
}

@media (max-width: 767px) {
    .positionRelative > div {
        width: 100%;
    }

    .halfRow {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        padding-left: 0 !important;
    }

    .halfRow > div {
        padding: 10px;
    }

    .read-only-text-input--container {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
    }

    .right-border {
        border-right: none !important;
        border-bottom: 1px solid #b1b1b1 !important;
    }

    .read-only-text-input--content {
        padding: 0 10px;
    }

    .BIBPlusMain {
        padding-left: 0;
    }
}
