.overviewTable{
  padding:20px;
  background: white;
}

.overviewTable_td , .overviewTable_td_value{
  font-size: 13px;
  padding-right: 30px;
  color: #43545f;
}

@media only screen and (max-width: 320px){
  .overviewTable{
    padding: 20px;
  }
  .overviewTable_td{
    padding-right: 50px;
  }
  .overviewTable_td_value{
    padding-right: 0;
  }
}

@media only screen and (min-width: 375px) and (max-width: 600px){
  .overviewTable{
    padding: 15px;
  }
  .overviewTable_td{
    padding-right: 100px;
  }
  .overviewTable_td_value{
    padding-right: 0;
  }
}
