.ready-only-dropdown {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  min-width: 150px;
  padding: 10px 0;
  /* height: 70px; */
}

.ready-only-dropdown-container {
  display: flex;
  opacity: 0.8;
  align-items: center;
  border-radius: 2px;
  background-color: white;
  width: 100%;
  height: 100%;
}

.ready-only-dropdown-container--focused {
  display: flex;
  /*opacity: 0.8;*/
  align-items: center;
  border-radius: 2px;
  /*background-color: white;*/
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  padding-left: 20px;
}

.read-only-dropdown--inputArrow {
  padding-right: 15px;
  width: 67px;
  height: 100%;
  box-sizing: border-box;
}

.ready-only-dropdown--inputLabel--focused {
  font-size: 12px;
  color: #787878;
}

.ready-only-dropdown--value-text {
  font-size: 16px;
  color: #444444;
  padding: 0;
  word-wrap: break-word;
}

.ready-only-dropdown--value-text--withFlag {
  font-size: 16px;
  color: #444444;
  padding: 0;
  word-wrap: break-word;
  padding: 3px 0px 0px 0px;
}

.read-only-input-field {
  display: flex;
  padding-left: 0;
  padding-top: 1px;
  align-items: center;
}
/* .dropdown--content {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
} */

/* .dropdown--content-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
} */

/*.dropdown-container:hover {
  opacity: 0.7;
}*/

/* .dropdown--inputLabel {
  padding-left: 15px;
  font-size: 18px;
  transition: 0.3s;
  z-index: 2;
  position: absolute;
} */

.dropdown--inputLabel--focused {
  /*transform: translate(-20%, -15px) scale(0.6);
  color:#1f6eda;
  font-size:18px;
  width : 150%;
  font-weight:normal;
  pointer-events:none;
  left:15px;
  height: 1px;
  top:22px;
  display: block;
  z-index: 2;
  position: relative;
  transition:0.3s;
  text-align: left;*/
}

/* .dropdown--selectValue {
  display: none;
} */

.dropdown--value-text {
  /*padding: 23px 0 0 16px;
  font-size: 18px;
  height: 100%;*/
}

/* .dropdown--input-container {
  display: none;
  flex-direction: column;
  height:60px;
}

.dropdown-selection {
  height: 0px;
  overflow: hidden;
  animation: 0.3s
}

.dropdown-selection--focused .dropdown-selection-item {
  font-size: 18px;
  padding: 10px 20px;
  border-top: solid 0.5px #e0e0e0;
}

.dropdown-selection--focused .dropdown-selection-item:hover {
  background-color: rgba(44, 124, 221, 0.15);
  color: #43545f;
}

.dropdown-selection--focused .dropdown-selection-item--select {
  background-color: blue;
  color: white;
}

.dropdownLabel--error {
  color: red;
  font-weight: bold;
} */

@media only screen and (max-width: 767px) { 

  .read-only-text-input--container {
    padding: 10px 0;
    height: auto;
  }
  .ready-only-dropdown {
    padding: 10px 0;
  }
  
  .ready-only-dropdown-container--focused {
    padding-left: 0;
  }
}