.carLoanSummary-header{
  font-size: 13px;
  display: flex;
  padding-bottom: 10px;
  text-decoration: underline;
}

.carLoanSummary-headerDescription{
  padding-left: 15px;
}

.carLoanSummary-labelValue{
  display: flex;
  font-size: 13px;
}

.carLoanSummary-number{
  width: 25px;
}

#item21No.carLoanSummary-number{
  width: 29%;
}

.carLoanSummary-value{
  flex: 1 1;
  text-align: right;
}


.carLoanSummary-item1{
  display: flex;
  font-size: 13px;
}

.carLoanSummary-index{
  width: 25px;

}

.carLoanSummary-description{
  flex: 2;
}

.carLoanSummary-purchasePrice{
  display: flex;
  justify-content: space-between;
}

.carLoanSummary-item{
  display: flex;
  font-size: 13px;
}

#descriptions.carLoanSummary-item{
  padding-bottom: 10px;
}

.carLoanSummary-descriptions{
  font-size: 13px;
}

#rebateFormula.carLoanSummary-descriptions{
  margin-left: 50px;
}

#descriptionsUnderline.carLoanSummary-descriptions{
  text-decoration: underline;
}

#note.carLoanSummary-descriptions{
  font-style: italic;
}

.carLoanSummary-item17{
  margin-left: 25px;
  font-size: 13px;
}

.carLoanSummary-img{
  height: 32px;
  margin: 8px 0px;
}

.carLoanSummary-table{
  border-collapse: collapse;
}

.carLoanSummary-tableLabel{
  width: 200px;
  padding-right: 25px;
}

.carLoanSummary-tableValue{
  text-align: right;
  width: 90px;
}

#settlementAmount.carLoanSummary-tableValue{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.carLoanSummary-tableSymbol{
  padding-left: 10px;
}

.carLoanSummary-item1920label{
  flex: 1;
}

.carLoanSummary-item1920{
  flex: 1;
}

@media only screen and (min-width: 320px) and (max-width: 600px){
  .carLoanSummary-cashPrice{
    flex: 1;
  }

  .carLoanSummary-headerDescription{
    padding-left: 5px;
  }

  .summary-item-label-value{
    display: flex;
    flex-direction: column;
    text-align: left;
  }

  .carLoanSummary-purchasePrice-date{
    display: flex;
    align-items: flex-end;
  }
}
