.read-only-text-input--container {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: 150px;
    height: 60px;
}

.read-only-text-input--input {
    font-size: 15px;
    border-radius: 2px;
    display: block;
    width: 100%;
    height: 60px;
    border: none;
    outline: none;
    color: #43545f;
    /*background: white;*/
    cursor: not-allowed;
    /*opacity:0.4;*/
    /* padding-left: 15px; */
    background-color: rgba(255, 255, 255, 0.4);
    box-sizing: border-box;
}

input:disabled {
    -webkit-text-fill-color: #43545f;
    -webkit-opacity: 1;
}
input[disabled] {
    -webkit-text-fill-color: #43545f;
    opacity: 1;
}

.read-only-text-input--input--focused {
    font-size: 16px;
    color: #444444;
    margin-top: 3px;
    padding: 0;
    word-wrap: break-word;
}

.read-only-text-input--content {
    flex: 1;
    cursor: default !important;
}

.read-only-text-input--label {
    /* font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    height: 1px;
    top: 20px;
    display: block;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    text-align: left;
    width: 150%;
    opacity: 0.4; */
    /* padding-left: 15px; */
}

.read-only-text-input--label--focused {
    font-size: 12px;
    color: #787878;
}

.read-only-text-input--tick--visible {
    position: absolute;
    right: 15px;
    top: 25px;
    z-index: 2;
    visibility: visible;
    border: none;
    outline: none;
    width: 49.5px;
    background-color: rgba(0, 0, 0, 0);
}

/* .textInputLabel--error {
    transform: translate(-14%, -15px) scale(0.72);
    color: red;
    font-size: 18px;
    font-weight: bold;
    pointer-events: none;
    /* left: 15px;
    height: 1px;
    top: 28px;
    display: block;
    z-index: 2;
    position: relative;
    transition: 0.3s;
    text-align: left;
    width: 150%;
} */
