.tenor-table--main-container-flex {
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    padding: 10px;
    border: 2px;
    border-radius: 2px;
}

.tenor-table--titles-container-flex {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 10%;
    width: 100%;
    padding: 15px 5px 20px 5px;
}

.tenor-table--title-flex {
    display: flex;
    flex: 1;
    /*width: 78px;*/
    font-size: 10px;
    font-weight: bold;
    margin-right: 5px;
    max-width: 78px;
    color: #1f6eda;
}

.tenor-table--row-item-checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 10px;
    background: none;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.tenor-table--row-item-checkbox--title {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.tenor-table--row-item-checkbox--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 20px;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}
.tenor-table--row-item-checkbox-inner-circle {
    height: 9px;
    width: 9px;
    border-radius: 5px;
    background-color: #1f6eda;
}

.tenor-table--row-item-checkbox-tick {
    width: 12px;
    height: auto;
}

.tenor-table--rows-container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
    width: 100%;
}

.tenor-table--row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
}

.tenor-table--row-flex--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.tenor-table--row-item {
    width: 70px;
    flex: 1;
    font-size: 12px;
    color: #43545f;
    max-width: 78px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tenor-table--separator {
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}
