.radio-toggle-input--container {
  margin-left: 20px
}

.p-32-0 {
  padding: 32px 0 !important;
}

.inputradio {
  width: 17px;
  height: 17px;
  margin-left: 0;
}

/* Customize the label (the container) */
.radio-container {
  display: block;
  position: relative;
  padding-left: 30px;
  padding-bottom: 10px;
  /* margin-bottom: 12px; */
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* width: 389px; */
  height: 17px;
  font-family: Helvetica;
  font-size: 14px;
  color: #444444;
}

/* Hide the browser's default radio */
.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio */
.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: solid 1px #444444;
}

.sub-sub-title {
  color: #777777;
  font-size: 14px;
  margin-bottom: 20px;
}

/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radio-checkmark {
  /* background-color: #ccc; */
}

/* When the radio is checked, add a blue background */
.radio-container input:checked ~ .radio-checkmark {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

/* Create the radio-checkmark/indicator (hidden when not checked) */
.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the radio-checkmark when checked */
.radio-container input:checked ~ .radio-checkmark:after {
  display: block;
}

/* Style the radio-checkmark/indicator */
.radio-container .radio-checkmark:after {
  top: 2.8px;
  left: 2.5px;
  width: 6.5px;
  height: 6.5px;
  background-color: #568aea;
  border-radius: 50%
}

.radio-errorMsg {
  font-size: 12px;
  padding-bottom: 10px;
  color: red;
}

.radio-container input:disabled ~ .radio-checkmark{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: solid 1px #c0c0c0;
}

.radio-container input:disabled ~ .disabledCheckRadio {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: solid 1px #444444;
}

.radio-container input:disabled ~ .radio-checkmark:after {
  top: 2.8px;
  left: 2.5px;
  width: 6.5px;
  height: 6.5px;
  background-color: #568aea;
  border-radius: 50%
}

.disabledText {
  color: #c0c0c0;
}
