.passcode-box {
  width: 40px;
  height: 40px;
  margin: 0;
  background: white;
  border: none;
  font-size: 19px;
  padding: 0 10px;
  border-right: 1px dashed;
  text-align: center;
}
.passcode-box:last-child {border-right: none}
.passcode-input-hidden {
  opacity: 0;
  margin-left: -9999999px;
  position: absolute;
  filter: Alpha(opacity = 0);
}

.passcode-container {
  display: flex;
  align-items: center;
  opacity: 0.85;
}

.passcode-prefix {
  background: white;
  height: 35px;
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  color: #1f6eda;
  font-weight: bold;
  /* border: 1px solid #b5cacf; */
  border-radius: 2px;
  font-size: 13px;
  letter-spacing: 5px;
  padding: 5px;
  padding-left: 10px;
}

.passcode-box-container {
  border-radius: 2px;
  /* border: 1px solid #b5cacf; */
  height: 45px;
  box-sizing: border-box;
  display: flex;
  border-color: #b5cacf;
  background: #fff;
  width: 330px;
}

.passcode-small-box-wrap {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.passcode-small-box {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  flex-basis: 10px;
  flex: 1;
  width: 55px;
  height: 45px;
}

.passcode-small-box::after
{
  content: '';
  height: 50%;
  position: absolute;
  bottom: 25%;
  border-right: 1px solid black;
  animation: blinking .6s linear infinite;
  visibility: hidden;
}

.passcode-small-box-active::after {
  content: '';
  height: 50%;
  position: absolute;
  bottom: 25%;
  opacity: 0;
  border-right: 1px solid black;
  animation: blinking .6s linear infinite;
  visibility: visible;
}

.passcode-small-box {
    border-right: 1px dashed silver;
}

.passcode-small-box:last-child {
    border-right: none;
}

.isfocus {
  /* border: 2px solid #b5cacf; */
}

@-webkit-keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

@media (max-width: 479px) {

  /* .passcode-box {
    padding: 0 2px;
  } */

}
@media (max-width: 480px) {

  .passcode-small-box {
    width: 40px;
  }

  .passcode-box-container {
    width: 242px;
  }
}

@media (max-width: 375px) {
  .passcode-small-box {
    width: 33px;
  }

  .passcode-box-container {
    width: 200px;
  }
}

@media (max-width: 320px) {
  .passcode-prefix{
    display: none;
    width: 40px
  }
}
