.radio-option-container {
  background-color: #fff;
}

.radio-option-row {

}

.radio-option-item {
  padding: 15px 20px 30px 20px;
  flex: 1;
  border-right: 1px solid #e9e9e9;
  color: #43545f;
}

.radio-option-item--selected {
  background-color: #d4eaff;
}

.radio-button-top {
  display: flex;
  justify-content: flex-end;
}

.radio-option-middle {
  flex-direction: column;
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.radio-button-title {
  font-size: 18px;
  padding-top: 15px;
  font-weight: bold;
  text-align: center;
  width: calc(100% - 2px);
}

.radio-button-subtitle {
  font-size: 13px;
  padding-top: 10px;
}

.radio-button-option-icon {
  width: 22px;
  height: 22px;
}

.radio-button-car-icon {
  height: 43px;
  width: 59px
}
