.uob-secondary-button-container {
  display: flex;
  justify-content: flex-end;
}

.uob-secondary-button {
  display: flex;
  border-radius: 5px;
  border: solid 1px #0e3f97;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #15408e;
  font-size: 12px;
  cursor: pointer;
  margin-top: 20px;
  padding: 2px 10px;
}

.uob-secondary-button-icon {
  margin-right: 10px;
}