.sortingbar-wrap {
  /* border-top: 3px solid #024796; */
  background: #fff;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.sortingbar-container {
  /* margin-bottom: 10px; */
  border-bottom: 3px solid rgba(192, 192, 192, 0.5);
}

.sortingbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: -3px;
}

.popover-button label {
  padding-right: 10px;
}

.sortingbar-list-item {
  float: left;
  padding: 10px 0;
  color: #1f6eda;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica-Light;
  font-size: 20px;
  color: #444;
  /* border-bottom: 3px solid #777777; */
  margin-right: 100px;
}

.sortingbar-list-item--active {
  float: left;
  padding: 10px 0;
  color: #1f6eda;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  font-family: Helvetica-Light;
  font-size: 20px;
  color: #444;
  border-bottom: 3px solid #777777;
  margin-right: 100px;
}

/* .sortingbar-list-item:hover {
  border-top: 3px solid #024796;
  background: #EDF7FF;
} */

.popover-list-hover {
  display: block;
}

.upDownArrow--visible {
  margin-left: 10px;
  vertical-align: middle;
}

.upDownArrow {
  margin-left: 10px;
  vertical-align: middle;
}

.sortingbar-container .searchString {
  font-size: 15px;
  padding: 0 10px 10px 10px;
  opacity: 0.85;
}

@media only screen and (max-width: 824px) {
  .sortingbar-list-item {
    margin-right: 40px;
    font-size: 16px;
  }
  .sortingbar-list-item--active {
    margin-right: 40px;
    font-size: 16px;
  }
  .sortingbar-list {
    margin: 0px 0 -3px 35px
  }
}


@media only screen and (min-width: 320px) and (max-width: 359px) {
  .sortingbar-list-item {
    margin-right: 20px;
    font-size: 16px;
  }
  .sortingbar-list-item--active {
    margin-right: 20px;
    font-size: 16px;
  }
  .sortingbar-list {
    margin: 0px 0 -3px 25px
  }
}