::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

*:focus {
    outline: none;
}

.p-l-20 {
    padding-left: 20px;
}

.mob-logo, .sideBarCloseImage,
.mob-hide {
    display: none;
}

.error-button {
    /* min-width:60%; */
    display: block;
    padding: 16px;
    width: 235px;
    text-align: center;
    background-color: #547fcc;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, -moz-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #fff;
    color: #fff;
    margin-top: 27px;
    font-family: "Helvetica-Bold";
    letter-spacing: 2px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.error-button-container {
    display: flex;
    justify-content: center;
}

.error-pg-container {
    width: 689px;
    height: 428px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(173, 173, 173, 0.5);
    background-color: #ffffff;
    margin-bottom: 0;
}

.displayHeader, .displayVerify {
    display: none;
}

/* tax self declaration css*/

.crs-container {
    padding-top: 15px;
    padding-left: 45px;
}

.crs-container .p-t-5 {
    padding-top: 5px;
    padding-bottom: 10px
}

.tax-glossary {
    font-size: 14px;
    color: #444444;
    margin-top: 40px;
    line-height: 17px;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f0f0f0;
    z-index: 2000;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

/* input[type=radio] {
    -webkit-appearance: radio !important;
} */

input[type=checkbox] {
    -webkit-appearance: checkbox !important;
}

.specialRadio {
    -webkit-appearance: radio !important;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.enableOverflowX {
    width: 100%;
    overflow-x: auto;
}

.textInputLabel--error {
    font-family: "Helvetica-Bold";
    font-weight: bold;
}

.textInputLabelOthers--error {
    font-family: "Helvetica-Bold";
    font-weight: bold;
}

.searchInputLabel--error {
    font-family: "Helvetica-Bold";
    font-weight: bold;
}

body {
    color: #444444;
    font-size: 16px;
}

.p-lr-2rem {
    padding: 0 2rem;
}

.p-relative {
    position: relative;
}

.rightByYouLogo {
    width: 179px;
    height: 43px;
    padding: 40px 35px 0px !important;
    z-index: 5;
}

.fullWhitePage-logo .rightByYouLogo {
    padding: 20px 35px 0px !important;
}

.productTitle-header {
    display: flex;
    justify-content: space-between;
}

.productTitle-header, .productTitle-header.showNav {
    padding-left: 245px;
}

.leftTopLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0 20px 0;
}

.logoRight {
    display: none !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.blue-uob-logo {
    z-index: 3;
    /* top: 44px; */
    position: relative;
    left: 35px;
    width: 114px;
}

.fullWhitePage-logo {
    display: flex;
    justify-content: space-between;
    padding-left: 35px;
}

.fullWhitePage-title {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.fullWhitePage-logo .blue-uob-logo {
    width: 110px;
    position: static;
}

.uob-logo {
    margin-left: -15px;
}

/***Popup********/

.uob-form-loan.popup-on {
    overflow: hidden;
}

.popup {
    position: fixed;
    width: auto;
    height: 100%;
    top: 0;
    left: 246px;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    z-index: 5;
    overflow-y: auto;
    overflow-x: hidden;
}

.popup_inner {
    margin: auto;
    background: white;
}

.list-number {
    float: left;
    margin-top: 12px;
    background: #f0f6ff;
    padding-top: 20px;
    padding-left: 30px;
    position: absolute;
}

.inner-content {
    padding: 20px 40px;
}

.inner-content h1 {
    margin-bottom: 28px;
}

#question2 {
    display: flex;
    align-items: flex-end;
}

.popup_inner .prefillSubtitle-container {
    margin-bottom: 30px;
}

.question-header {
    font-size: 22px;
    color: #6489ba;
    margin: 20px 0 10px;
}

.sub-question-header {
    margin-bottom: 18px;
}

.popup_inner .small-txt {
    color: #444444;
}

.scrollable {
    margin-bottom: 90px;
    font-size: 12px;
    color: #000;
}

.odd-class {
    background: #f0f6ff;
}

.odd-class.child {
    background: none;
    position: relative;
}

.even-class {
    background: #f8fbff;
}

.close-icon {
    float: right;
    cursor: pointer;
}

.red-txt {
    color: #002469;
    font-size: 14px;
}

.popup_inner .buttons-container {
    /* width: 13%; */
    /* display: table-cell; */
    float: none;
    vertical-align: bottom;
    display: flex;
    align-items: flex-end;
}

.inner-list-items {
    display: inline-block;
    width: 96%;
}

.flex-container {
    width: 100%;
    display: table;
    padding: 20px 40px;
    box-sizing: border-box;
}

.question-container {
    width: 100%;
    display: flex;
    padding: 20px 30px 20px 30px;
    box-sizing: border-box;
    /* align-items: flex-end; */
    justify-content: space-between;
}

li .odd-class {
    background: none;
}

.qnt-txt {
    font-size: 14px;
    display: table-cell;
    width: 85%;
    padding-right: 20px;
    /* margin-right: 2%;
    vertical-align: middle;
    line-height: 15px;
    margin: auto 0; */
}

.qnt-txt ol {
    padding-left: 15px;
    margin: 0;
}

.qnt-txt ol li {
    padding-left: 12px;
}

.country-separator {
    background: #979797;
    width: 100%;
    height: 1px;
}

.errorMsg {
    font-size: 12px;
    color: red;
    padding-left: 10px;
}

.uob-content .country-separator {
    margin-top: 25px;
    margin-bottom: 10px;
    background: #979797;
    width: 100%;
    height: 1px;
}

.txt-container {
    width: 100%;
    flex: 1 1;
}

.crs-txt {
    font-size: 12px;
    color: #444444;
}

.flex-1 {
    padding-right: 20px;
}

.crs-txt-container {
    padding: 30px 0 25px 0;
}

.others-container {
    display: flex;
    align-items: center;
}

.others-label {
    font-size: 16px;
    color: #444444;
    padding-right: 10px;
}

.p-r-0 {
    padding-right: 5px
}

.p-r-20 {
    padding-right: 20px
}

.p-l-65 {
    padding-left: 65px
}

.crs-others-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-left: 35px;
    padding-top: 20px;
}

.float-none {
    float: none;
}

.crs-txt .float-none {
    float: none;
    padding-bottom: 15px;
}

.crs-questions {
    font-size: 14px;
    font-weight: bold;
    padding-top: 15px;
}

.crs-txt .crs-questions {
    font-size: 14px;
    font-weight: bold;
}

.p-t-5 {
    padding-top: 5px;
}

.p-t-20 {
    padding-top: 20px;
}

.crs-buttons {
    display: flex;
    align-items: center;
}

.crs-buttons input[type="radio"] {
    display: none;
}

.crs-buttons input[type="radio"]:checked+label {
    background: #2961c5;
    color: #fff;
    border: 1px solid #2961c5;
    border-bottom: 0;
    padding-bottom: 4px;
}

.crs-buttons label {
    display: inline-block;
    width: 50px;
    color: #787878;
    padding: 5px 0px 3px;
    text-align: center;
    border: 1px solid #979797;
    font-size: 12px;
    border-left: 1px solid #fff;
    cursor: pointer;
}

.crs-buttons div {
    float: left;
}

.crs-buttons label.lbl-first {
    border-radius: 5px 0 0 5px;
    border-right: 1px solid #979797;
    border-left: 1px solid #979797;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.crs-buttons label.lbl-second {
    border-radius: 0 5px 5px 0;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
}

.buttons-container {
    float: right;
    position: relative;
}

.popup-errorMsg {
    position: absolute;
    bottom: 28px;
    color: red;
}

.buttons-container div {
    float: left;
}

.buttons-container label {
    display: inline-block;
    width: 50px;
    color: #787878;
    padding: 5px 0px 4px;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    line-height: normal;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .5);
    background: #fff;
}

.buttons-container label.lbl-first {
    border-radius: 5px 0 0 5px;
}

.buttons-container label.lbl-second {
    border-radius: 0 5px 5px 0;
}

.buttons-container input[type="radio"] {
    display: none;
}

.buttons-container input[type="radio"]:checked+label {
    background: #2961c5;
    color: #fff;
    border: 0;
    border-bottom: 0;
    padding-bottom: 4px;
}

.border-line {
    border-bottom: 1px solid #e5e5e5;
    margin: 26px 0 44px 0;
}

.list-questions {
    padding-left: 18px;
    font-size: 12px;
    padding-right: 20px;
}

.list-questions li {
    padding-top: 30px;
    border-top: 1px solid #e5e5e5;
    margin: 26px 0 30px 0;
}

.list-questions li:first-child {
    border: 0;
    padding: 0;
    margin-bottom: 20px;
}

ol.alpha {
    counter-reset: alpha;
    list-style: none;
    padding-left: 16px;
    margin: 0;
    margin-bottom: 20px;
    padding: 10px 15px;
}

ol.upper-roman {
    list-style-type: lower-roman;
    margin-top: 10px !important;
}

ol.alpha.diff-list-items {
    padding-bottom: 0;
    margin-bottom: 0;
}

ol.alpha.sub-list {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
}

ol.alpha.sub-list li {
    display: flex;
    align-items: flex-start;
}

ol.alpha.sub-list li .question-container {
    padding: 0;
}

ol.alpha.sub-list li {
    padding: 20px 30px 20px 56px;
}

ol.alpha.sub-list li:nth-child(2n) {
    background: #f8fbff;
}

ol.alpha.sub-list li:nth-child(2n+1) {
    background: #f0f6ff;
}

ol.alpha .flex-container {
    padding: 0;
    background: none;
}

.listitem-header {
    padding-bottom: 40px;
}

ol.alpha li {
    border: none;
    margin: 0;
    display: flex;
    line-height: 20px;
}

ol.alpha li:first-child {
    margin: 0;
}

ol.alpha>li:before {
    counter-increment: alpha;
    content: counter(alpha, lower-alpha) ". ";
    /* vertical-align: top;
    padding-right: 10px;
    padding-top: 3px; */
    /* width: 20px; */
    padding-right: 10px;
}

#question3+ol.alpha>li:before {
    counter-increment: alpha;
    content: " (" counter(alpha, lower-alpha) ") ";
    padding-right: 10px;
}

ol.upper-roman>li:before {
    /* counter-increment: listStyle;
    content: counter(listStyle, lower-roman) ". ";
    /* vertical-align: top;
    padding-right: 10px;
    padding-top: 3px; */
    /* width: 20px;
    padding-right: 15px; */
}

.question-container ol.alpha>li:before {
    max-width: 20px;
    min-width: 20px;
}

.agreementContent ol.alpha>li:before {
    /* width: 18px; */
}

.agreementContent ol.upper-roman>li:before {
    width: 12px;
}

.btn-container {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.btn-container .primary-button {
    width: 100%;
    margin: 0;
    font: 400 14px "Segoe UI" !important;
    background: #2b59ac;
    height: 46px;
    cursor: pointer;
    position: static;
}

/*.btn-container.fixedContinueGray {
    position: absolute;
    width: 100%;
    bottom: 0;
}*/

.btn-container.fixedContinueGray .primary-button {
    background: #454545;
    cursor: default;
    position: static;
    border-radius: 0;
}

.custom-tooltip .tooltip {
    position: relative;
    display: inline-block;
    opacity: 1;
    color: #6489ba;
    cursor: pointer;
    font-family: "Helvetica-Light";
    font-size: 14px;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 215px;
    background-color: #fff;
    color: #444;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
}

/* tooltip */

/*.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;

}*/

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/**table tooltip**/

.row-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    padding: 0px;
}

.custom-tooltip-tb .tooltip-tb {
    position: relative;
    display: inline-block;
    opacity: 1;
    color: #444;
    cursor: pointer;
    font-family: "Helvetica-Light";
    font-size: 12px;
}

.tooltip-tb .tooltiptext-tb {
    visibility: hidden;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -74px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    display: inline-block;
}

.tooltip-tb:hover .tooltiptext-tb {
    visibility: visible;
    opacity: 1;
}

/*******Operating Mandate***********/

.big-text {
    font-size: 26px;
    color: #6489ba;
    padding-bottom: 8px;
}

.medium-txt {
    font-size: 14px;
    padding-bottom: 10px;
}

.radiobutton-container input {
    width: 12px;
    height: 12px;
}

.radiobutton-container [type="radio"]:checked, .radiobutton-container [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.radiobutton-container [type="radio"]:checked+label, .radiobutton-container [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 24px;
    cursor: pointer;
    line-height: 16px;
    display: inline-block;
    color: #666;
}

.radiobutton-container [type="radio"]:checked+label:before, .radiobutton-container [type="radio"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}

.radiobutton-container [type="radio"]:checked+label:after, .radiobutton-container [type="radio"]:not(:checked)+label:after {
    content: '';
    width: 6px;
    height: 6px;
    background: #568aea;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.radiobutton-container [type="radio"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.signatory-info {
    margin-top: 50px;
}

.signatory-info .user0 {
    margin-bottom: 40px;
}

.bibuser .toggle-input--container {
    margin-left: 16px;
    padding-top: 19px;
    padding-bottom: 19px;
}

.bibuser-container {
    padding-left: 2px;
}

.bibuser-container .companyGroupIDInfo {
    padding-left: 22px;
}

/********ASR Form***************/

.radiobutton-container.radio-type2 {
    margin: 20px 0 30px 22px;
}

.radiobutton-container.radio-type2 .radio-description {
    font-weight: bold;
}

.radiobutton-container.radio-type2 .radio-subhead {
    font-weight: normal;
}

.asr-heading {
    margin-top: 48px;
    margin-bottom: 10px;
}

.asr-details .agreementContent {
    height: 350px;
    overflow-y: scroll;
    margin: 20px 0 40px;
    font-size: 14px;
}

.asr-details .medium-txt {
    padding-left: 24px;
}

.asr-details .radio-head {
    margin-top: 15px;
    border-bottom: 1px solid #b1b1b1;
}

.asr-details .radio-head .radiobutton-container {
    margin-top: 20px;
}

.dash {
    border-bottom: 1px solid #b1b1b1;
    padding: 0 15px;
}

.legend-box {
    border: 1px solid #979797;
    padding: 15px 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 14px;
}

.legent-char {
    width: 2%;
    display: inline-block;
    vertical-align: top;
}

.legent-txt {
    width: 96%;
    display: inline-block;
}

.legend-box.m-bot0 {
    margin-bottom: 0;
}

/*@media only screen and (max-width: 991px) {
    .logoRight {
        display: inline-block !important;
    }

    .uob-logo {
        width: 130px;
        height: 34px;
        margin-right: 0.5rem;
    }
}*/

#loadingPage {
    position: fixed;
    top: 0;
    /* to center it */
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#loadingPage .uob-logo {
    padding: 0;
    margin: 0;
    margin-left: -20px;
}

.sub-headline {
    min-width: 669px;
    min-height: 14px;
    font-size: 12px;
    color: #777777;
}

.sub-headline-bold {
    min-width: 669px;
    min-height: 14px;
    font-size: 12px;
    color: #777777;
    font-weight: bold;
}

.isRetrieving {
    z-index: 1
}

.loadingText {
    /* width: 186px; */
    height: 17px;
    font-family: "Helvetica-Light";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #466c9f;
    padding-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.dot-common {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid #466c9f;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

.show-white-circle {
    border: 2px solid #ffffff;
}

.show-white-bg {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.mid-dot {
    position: absolute;
    top: -1px;
    z-index: 1000;
    left: 3.5px;
    color: #ffffff;
    font-size: 13px;
    display: none;
}

.mid-tick {
    color: #002165;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    font-weight: bolder;
    transform: rotate(15deg);
    z-index: 1000;
    text-shadow: 1px 0px 0px #002165;
    display: none;
}

.mid-dot-show {
    display: block;
}

.mid-tick-show {
    display: block;
}

.vertical-line {
    width: 2px;
    height: 14px;
    background: #466c9f;
    display: block;
    margin: 0 7px;
    position: absolute;
    bottom: 30px;
}

.dotted-line {
    display: block;
    margin: 0 7px;
    position: absolute;
    bottom: 42px;
}

.dottedLinePadding {
    padding-top: 40px;
}

.white {
    background: #ffffff;
}

.show-white-bg~.vertical-line {
    background: #ffffff;
}

.show-white-link {
    font-family: "Helvetica-Light" !important;
    font-weight: normal !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.show-white-bold-link {
    font-family: "Helvetica-Bold" !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.navbar-nav {
    margin-top: 10px;
    list-style: none;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-family: "Helvetica-Light";
    font-weight: normal;
    letter-spacing: 0.05rem;
    font-size: 12px;
    color: #466c9f;
    cursor: default;
}

#sideNav .navbar-nav .nav-item .navbarSelected {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    color: #ffffff !important;
    opacity: 1;
}

#sideNav.navbar {
    padding: 3px !important;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

#sideNav {
    text-align: left;
    position: fixed;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 240px;
    height: 100vh;
    z-index: 10;
}

#sideNav .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto auto 0;
    padding: 0.5rem;
}

#sideNav .navbar-brand .img-profile {
    max-width: 10rem;
    max-height: 10rem;
    border: 0.5rem solid rgba(255, 255, 255, 0.2);
}

#sideNav .navbar-collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 1;
    width: 100%;
    margin-bottom: auto;
    align-items: top;
}

#sideNav .navbar-collapse .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding-left: 15px;
}

#sideNav .navbar-collapse .navbar-nav .nav-item {
    display: flex;
    align-items: center;
    min-height: 35px;
}

#sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
    display: inline-block;
    text-decoration: none;
    float: left;
    padding: 0;
    margin-left: 10px;
    line-height: normal;
    max-width: 185px;
}

#additionalPartnersDetails-section .uob-headline {
    margin-bottom: 0px;
}

section.resume-section {
    /* padding: 32px 35px 16px !important; */
    /* max-width: 1366px;
    margin: 0 auto; */
    background: none !important;
    /*max-width: 75rem;*/
    padding: 20px 35px 14px !important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

/*@media (min-width: 768px) {
    section.resume-section {
        !*min-height: 100vh;*!
        background: rgba(0, 123, 255, 0.08);
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}*/

.bg-primary-left {
    background-color: #002165;
}

.text-primary {
    color: #000e2d !important;
}

a {
    color: #6489ba;
}

a:hover, a:focus, a:active {
    color: #6489ba;
}

.content_1 {
    margin: 0 auto;
}

.content_1 .title1 {
    display: grid;
}

.content_1 .title1 span {
    font-size: 20px;
    color: #6b6b6b;
}

.content_1 .title2 {}

.accountSettingMain>.row>div {
    cursor: pointer;
    font-size: 16px;
    display: block;
    border: none;
    outline: none;
    color: #43545f;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 1rem;
}

.midBorder {
    border: none !important;
}

/*@media (min-width: 768px) {
    .midBorder {
        border-left: 1px solid #c4c8d2bf !important;
        border-right: 1px solid #c4c8d2bf !important;
    }
}*/

.accuntSettingSelected {
    background: #3366cc !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.additionalServiceTitle {
    font-size: 14px !important;
}

.m-r-10 {
    margin-right: 10px;
}

.top-20 {
    top: 20px !important;
}

.fullErrorContent .top-20 {
    top: 20px !important;
}

.accountSettingMain {
    border-top: 1px solid #f1f1f1;
}

.accountSettingMain h5 {
    font-size: 1rem;
}

.accuntSettingSelected h5 {
    color: #ffffff;
}

.cardAdd {
    width: 110px;
}

.cardAdd>span {
    display: block;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    line-height: 20px;
    padding: 5px 16px;
    color: #fff;
    margin-left: 1rem;
    font-size: 14px;
    background-color: #1f6eda;
    border-radius: 5px;
}

.cardAdded>span {
    background-color: transparent !important;
    border: 1px solid #ffffff;
}

.signatoriesInnerContent {
    background: #f3f3f3;
    padding: 1rem;
    margin-bottom: 6px;
}

.form-check {
    padding: 1rem 2rem;
}

.form-check-label {
    position: relative;
}

.form-check-input, .form-check-label {
    z-index: 100;
}

.radioContainer .form-check-label {
    cursor: pointer !important;
    width: 100%;
    height: 100%;
}

.radioContainer {
    position: relative;
    cursor: default !important;
    padding: 0 !important;
    cursor: pointer !important;
}

/* Create a custom checkbox */

.checkContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.radioContainer .form-check:hover input~.checkContainer {
    background-color: #ccc;
}

.radioContainer .form-check input:checked~.checkContainer {
    background-color: #3366cc;
}

.radioContainer .form-check input:checked~.form-check-label {
    color: #fff !important;
}

.checkContainer:after {
    content: "";
    position: absolute;
    display: none;
}

.radioContainer .form-check input:checked~.checkContainer:after {
    display: block;
}

.fullWidth {
    width: 100%;
}

.fullWidth>div {
    width: 100%;
}

.flexCenterFullWidth {
    width: 100%;
    display: flex;
    align-items: center;
}

.top-border {
    border-top: 1px solid #b1b1b1;
}

.right-border {
    border-right: 1px solid #b1b1b1;
}

.main-applicant .halfRow:first-child {
    border-right: 1px solid #b1b1b1;
}

.main-applicant .halfRow:last-child {
    border-right: 0;
}

.main-applicant .halfRow {
    border-bottom: 1px solid #b1b1b1;
    ;
}

.bottom-border {
    border-bottom: 1px solid #b1b1b1;
}

#email .textInput--focused, #email .read-only-text-input--input--focused {
    color: #336bce;
    padding-right: 3rem;
}

.fixedContinue button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 5;
    margin: 0 !important;
    border-radius: 0;
    width: 100%;
    background: #2b59ac;
    font: 400 18px "Helvetica-Light" !important;
    min-height: 60px;
}

.fixedContinueGray button {
    background: #454545;
    cursor: default;
}

.fullTable {
    width: 100%;
    display: table !important;
}

.halfRow {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: 150px;
    height: 60px;
    padding-left: 20px;
}

.sub-div-common-no-top {
    width: 100%;
    height: 40px;
}

.sub-div-common {
    border-top: 1px solid #b1b1b1;
    width: 100%;
}

.align-left {
    margin-left: 60px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.sub-title-confirm {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 20px 0 10px;
}

.sub-title {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 40px 0 10px;
}

.desc {
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 40px 0 10px;
}

.w-0 {
    width: 0px;
}

.small-txt {
    font-size: 12px;
    color: #787878;
    margin-bottom: 10px;
}

.p-10-0 {
    padding: 10px 0 !important;
}

.p-32-0 {
    padding: 32px 0 !important;
}

.p-l-10 {
    padding-left: 20px;
}

.p-l-56 {
    padding-left: 56px;
}

.p-1-36 {
    padding-left: 36px;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.m-b-0 {
    margin-bottom: 5 !important;
}

.m-l-0 {
    margin-left: 0 !important;
}

.m-l-40 {
    margin-left: 40px !important;
}

.p-l-0 {
    padding-left: 0 !important;
}

.font-12 {
    font-size: 12px !important;
}

.font-14 {
    font-size: 14px !important;
}

.font-16 {
    font-size: 16px !important;
}

.font-18 {
    font-size: 18px !important;
}

.switch-bg--toggle-new {
    border-radius: 0;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    background-color: transparent;
    border: 1px solid #336bce;
    width: 22px;
    margin-top: 10px;
}

.switch-toggle-new-tick {
    position: absolute;
    left: 5px;
    top: -3px;
    height: 20px;
}

.mail-checkBox {
    width: 100%;
}

.mail-checkBox tr td {
    vertical-align: middle;
}

.inputCheckBox {
    width: 17px;
    height: 17px;
    margin-left: 0;
}

.toggle-new-title {
    font-size: 26px;
    color: #6489ba;
    font-weight: 300;
}

.mailingDetails-section .confirmDetails-ValueCSS {
    color: #6489ba;
}

.currencyContent {
    width: 90%;
    max-width: 150px;
}

.currencyAmount {
    min-width: 70px;
}

.currencyType {
    font-size: 11px;
    width: 30px;
    color: #444444;
    font-weight: bold;
    text-align: right;
}

.ready-only-dropdown-container--focused .dropdown--value-text {
    color: #444444 !important;
}

.positionRelative {
    position: relative;
    cursor: pointer;
}

.lightGrey {
    color: #dfdfdf;
}

.darkGrey {
    color: #c0c0c0;
}

.bottomLine {
    width: 100%;
    height: 1px;
    background: #688cbc;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.width-others {
    width: 660px
}

.positionRelative:hover .bottomLine {
    display: block;
}

.positionRelative:focus-within .bottomLine {
    display: block;
}

.textInputContainer--onFocus~.bottomLine {
    display: block !important;
}

.textInputOthersContainer--onFocus~.bottomLine {
    display: block !important;
}

.phoneInputContainer--onFocus~.bottomLine {
    display: block !important;
}

.postalCodeContainer--onFocus~.bottomLine {
    display: block !important;
}

.textInputLabel-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.textInputLabelOthers-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.searchInputLabel-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.dropdown--vertical-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.postal-code-input-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.PhoneInputContainer--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.textInputLabel-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.textInputLabelOthers-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 21px;
    top: 0;
    left: 0;
    position: absolute;
}

.searchInputLabel-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.dropdown--vertical-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.postal-code-input-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.PhoneInputContainer--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    position: absolute;
}

.textInputLabel-container--error .textInput--focused, .PhoneInputContainer--error .phoneInput--focused, .dropdown--vertical-container--error .dropdown--value-text--error, .PhoneInputContainer--error .phoneInputFlag--number, .postal-code-input-container--error .postal-code-input--input--focused, .searchInputLabel-container--error .search--searchValue--focused, .textInputLabelOthers-container--error .textInputOthers--focused {
    color: red !important;
}

.showBlueColor {
    color: #336bce !important;
}

.buttonCommon {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #0e3f97;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #15408e;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    padding: 8px 20px;
}

.alignRight {
    text-align: right;
}

.agreementContent {
    margin-top: 35px;
    border: solid 1px #979797;
    padding: 18px;
}

.agreementContent p {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
}

.agreementContent ol {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
    padding: 0;
    margin-left: 20px;
}

.agreementButton {
    display: flex;
    align-items: center;
    border: 1px solid #6489ba;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    text-align: center;
    color: #6489ba;
    justify-content: center;
}

.agreementButton--selected {
    border: 3px solid #2961c5;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.agreementButton--error {
    border: 1px solid #e14747;
    background-color: #ffffff;
    color: #e14747;
}

.agreementMainPopup {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.agreementCloseMark {
    position: relative;
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
}

.sectionTitle {
    color: #6489ba;
    font-size: 26px;
    margin: 0;
}

.agreementCloseMark .close-icon {
    margin: 0;
}

/* .agreementContent ol ol {
    margin-left: 0;
    margin-top: 15px;
} */

.agreementContent ol ol ol {
    /* margin-left: 25px; */
}

.agreementContent ol ol.alpha li:first-child {
    margin-bottom: 20px;
}

.agreementContent ol li {
    margin-bottom: 20px;
    padding-left: 15px;
}

.agreementContent ol li ol li {
    /* padding-left: 0; */
}

.agreementContent ol.alpha>li:before {
    padding-top: 0;
}

.confirmDetails-LabelCSS {
    font-size: 12px;
    color: #787878;
}

.confirmDetails-labelValue {
    flex: 1;
}

.confirmDetails-flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
}

.confirmDetails-flexContainer.p-l-10 {
    padding: 20px
}

.confirmDetails-label-container {
    flex: 0 50%;
    padding: 10px 0;
}

.confirmDetails-label-container .toggle-input--container {
    padding: 0;
}

.confirmDetails-flexContainer:nth-last-child(-n + 2) {
    color: #444444;
}

.confirmDetails-label-container.first-child:first-child {
    flex: none;
    width: 100%;
}

.confirmDetails-other-names {
    font-size: 15px;
    word-break: break-word;
}

.confirmDetails-ValueCSS {
    font-size: 16px;
    color: #444444;
    margin-top: 3px;
    padding: 0;
    word-wrap: break-word;
}

.--no-title {
    display: none;
}

.--no-button {
    display: none;
}

.reviewContent .confirmDetails-LabelCSS {
    display: inline-flex;
    float: left;
    min-width: 206px;
}

.reviewContent .confirmDetails-LabelCSS.mRight-20 {
    margin-right: 20px;
}

.reviewContent .confirmDetails-ValueCSS {
    display: inline-flex;
    float: left;
    margin-top: -3px;
}

.reviewContent .halfRow, .reviewContent .sub-div-common {
    height: 40px;
}

.reviewContent .display-flex .confirmDetails-labelValue {
    margin-top: 13px;
}

.review-header-container {
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}

.hide-page-title {
    display: none;
}

.top-border--hide {
    border-top: 0px;
}

.half-width-left-border {
    border-left: 1px solid #b1b1b1;
}

.half-width {
    width: 50%;
    float: left;
}

.review-field-row {
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #b1b1b1;
}

.review-field-label {
    padding-left: 20px;
    width: 206px;
    display: table-cell;
    padding-right: 5px;
    font-size: 12px;
    color: #787878;
    float: left;
}

.review-field-value {
    margin-top: -3px;
    word-wrap: break-word;
    font-size: 16px;
    color: #444444;
    float: left;
}

.grayRuler {
    border-top: 1px solid #979797;
    border-bottom: none;
}

.confirmationCheckBoxMain {
    margin-top: 16px;
    font-size: 16px;
    display: flex;
}

.confirmationCheckBoxMain .centerAlign {
    align-items: center;
}

.confirmationCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 2px #444444;
    background-color: #ffffff;
}

.confirmationCheckBoxLable {
    margin-left: 1rem;
}

.income-breakdown-table--main-container-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    border: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.income-breakdown-table--titles-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #e5e5e5;
}

.new-table .income-breakdown-table--titles-container-flex {
    background-color: #e6eef7;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--title-flex {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    display: flex;
    flex: 1;
    font-size: 12px;
    width: 70px;
    color: #444444;
    padding: 14px 0px 14px 20px;
}

.income-breakdown-table--row-item-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: white;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.new-table .income-breakdown-table--row-flex .income-breakdown-table--row-item:last-child {
    border: 0;
    /* padding-right: 20px; */
}

.income-breakdown-table--row-item-checkbox--title {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.income-breakdown-table--row-item-checkbox--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #1f6eda;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}

.income-breakdown-table--row-item-checkbox-tick {
    width: 12px;
    height: auto;
}

.income-breakdown-table--rows-container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.new-table .income-breakdown-table--rows-container-flex {
    margin: 0;
}

.income-breakdown-table--row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-table .income-breakdown-table--row-flex .bg-checked {
    background: #e5f0ff;
}

.new-table .income-breakdown-table--row-flex {
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--row-flex--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.income-breakdown-table--row-item {
    width: 70px;
    flex: 1;
    font-size: 14px;
    color: #444444;
    padding: 10px 0px 10px 20px;
}

.new-table .income-breakdown-table--row-item {
    border-right: none;
}

.income-breakdown-table--separator {
    width: 100%;
    height: 1px;
    background: #c0c0c0;
}

.new-table .income-breakdown-table--separator {
    background: #c0c0c0;
    height: 1px;
}

.income-breakdown-table-header {
    font-size: 12px;
    color: #444444;
    padding: 10px;
}

.partner-subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 72px; */
    /* padding-top: 40px; */
    padding-bottom: 10px;
}

.partner-subtitle-container-confirm-cp {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*For review page*/

.partner-subtitle-container-confirm {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;
}

.partner-subtitle {
    margin: 0;
    font-size: 14px;
    padding: 0;
    color: #777777
}

.partner-subtitle-confirm {
    margin: 0;
    font-size: 12px;
    padding: 0;
    color: #777777
}

.cp-title {
    margin: 0;
    padding-top: 8px;
}

.cp-title-confirm {
    font-size: 12px;
    margin: 0;
    padding-top: 8px;
}

.partner-delete-icon {
    width: 19px;
    height: 19px;
    cursor: pointer !important;
}

.noAdditionalPartnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.noAdditionalPartnerText {
    width: 578px;
    height: 36px;
    font-family: "Helvetica-Light";
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cacaca;
    margin-bottom: 27px;
}

/*@media (max-width: 991px) {
    .uob-content {
        padding: 1rem 35px 2rem !important;
    }

    section.resume-section {
        padding: 32px 32px 0 !important;
    }
}*/

.flexDisplay {
    display: flex;
}

/* Contact Details */

.prefillSubtitle-container {
    border-radius: 5px;
    border: 1px solid #002469;
    background-color: #ddebff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.prefillSubtitle-text {
    font-family: "Helvetica-Light";
    font-size: 16px;
    color: #002469;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prefillSubtitle-icon {
    font-size: 24px;
    padding: 0 10px 0 0;
    color: #002469;
    margin-top: -5px;
}

.popup .prefillSubtitle-icon {
    margin-top: 0; 
}

.title1 {
    margin-bottom: 0;
}

.additionalServicesMain {
    padding-left: 20px;
}

.additionalServicesMain .checkbox-container {
    width: initial;
    height: initial;
}

.additionalServicesMain .toggle-input--container {
    padding-top: 10px;
}

.additionalServicesMain .standardRoleMain .toggle-input--container {
    padding-bottom: 5px;
}

.checkBoxBottomSub {
    padding-left: 45px;
    display: block;
    color: #777777;
    font-size: 12px;
    margin-top: 5px;
}

.standardRoleMain .checkBoxBottomSub {
    padding-left: 48px;
    padding-top: 0;
}

.multicheckbox-container .toggle-input--container {
    padding-top: 20px;
    margin-left: 23px;
}



.checkbox-headlabel {
    margin-top: 20px;
    padding-left: 23px;
}

.companyGroupIDInfo {
    font-size: 16px;
    color: #777777;
    margin-top: 5px;
    margin-bottom: 10px;
}

.BIBPlusMain {
    padding-left: 45px;
    padding-bottom: 10px;
}

.BIBPlusMain-p-60 {
    padding-left: 65px;
}

.BIBSubTitle {
    font-size: 12px;
    color: #777777;
}

.standardRoleBottom {
    padding: 0;
    margin: 0;
    margin-top: -15px;
}

.underline {
    text-decoration: underline;
}

.standardRoleBottom li {
    text-decoration: none;
    list-style: none;
}

.standardRoleMain {
    padding: 0 0 30px;
}

/*@media (max-width: 767px) {
    .positionRelative > div {
        width: 100%;
    }

    .halfRow {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        padding-left: 0 !important;
    }

    .halfRow > div {
        padding: 20px;
    }

    .read-only-text-input--container {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
    }

    .right-border {
        border-right: none !important;
        border-bottom: 1px solid #b1b1b1 !important;
    }

    .read-only-text-input--content {
        padding: 0 10px;
    }

    .BIBPlusMain {
        padding-left: 0;
    }
}*/

.dropdown-nopadding {
    padding: 0;
}

.flex-alignCenter {
    display: flex;
    align-items: center;
}

.review-page-pencil {
    height: 20px;
    width: 20px;
    padding-bottom: 10px;
}

.review-page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.payNowIdBottomDash {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 30px;
    letter-spacing: 6px;
    font-family: serif;
}

#payNowID input {
    letter-spacing: 13px;
}

.p-b-0 {
    padding-bottom: 0 !important;
}

.p-b-10 {
    padding-bottom: 10px;
}

/* Nav Bar */

.show-finished-img {
    display: block;
}

.finished-img {
    display: none;
}

.show-current-img {
    display: block;
}

.current-img {
    display: none;
}

.show-not-finished-img {
    display: block;
}

.not-finished-img {
    display: none;
}

input {
    font-family: "Helvetica-Light";
}

/********Save and Exit**************/

.save-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.save-exit-container {
    /* float: right; */
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.save-exit-container img {
    background: #fff;
}

/*  confirm t and c*/

#confirmTandC .toggle-input--container {
    display: block;
}

/* Booking Appointment */

.bookAppointment-popup {
    position: fixed;
    min-width: 100%;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
    padding: 0px;
    display: flex;
}

.bookAppointment-inner {
    background: white;
    height: 100vh;
    width: 95%;
    /* margin: auto; */
}

.bookAppointment-content {
    padding: 5px 2rem;
}

.bookAppointmentNavMain {
    color: #ffffff;
    margin-top: 40px;
    list-style: none;
}

.bookAppointmentNavTitle {
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.bookAppointmentCloseMark {
    position: relative;
    right: 10px;
    top: 5px;
    cursor: pointer;
    display: block;
}

.bookAppointmentIcon {
    font-size: 20px;
    color: #ffffff;
}

.bookAppointmentNavButton {
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
}

.bookingEmptyBottomDiv {
    height: 5rem;
}

.bookAppointmentTable {
    margin-top: 10px;
    font-size: 14px;
}

.bookAppointmentFixed button {
    position: fixed;
    bottom: 0;
    z-index: 5;
    margin: 0 !important;
    border-radius: 0;
    width: 95vw;
    background: #2b59ac;
    font: 400 18px "Segoe UI" !important;
}

.bookAppointmentFixedGray button {
    background: #454545;
    cursor: default;
}

.bookAppointmentFixedGray button:hover {
    background: #2b59ac;
}

.bookAppointment-table {
    display: flex;
    margin-top: 49px;
}

.bookAppointment-table-left, .bookAppointment-table-right {
    width: 360px;
    border-bottom: 1px solid #777777;
}

.bookAppointment-table-left {
    margin-right: 100px;
}

.clickOutsideBox {
    width: 2.5%
}

.bookAppointment-table .dropdown--content {
    margin: 0;
}

/* @media only screen and (max-width: 919px) {
  .bookAppointment-popup {
    height: 100%;
  }
  .bookAppointment-inner {
    width: 1100px;
    max-width:1366px;
    margin: 0;
    height: 100%;
  }
} */

/* ==========================================================================
   ReModal  styles
   ========================================================================== */

.remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}

.remodal-wrapper {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    align-items: center;
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

.remodal-overlay, .remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.remodal-overlay {
    background: rgba(192, 192, 192, 0.90);
}

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.remodal-overlay.remodal-is-opening {
    -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
    animation: remodal-overlay-opening-keyframes 0.3s;
}

.remodal-overlay.remodal-is-closing {
    -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
    animation: remodal-overlay-closing-keyframes 0.3s;
}

.remodal.remodal-is-opening, .remodal.remodal-is-closing {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.remodal.remodal-is-opening {
    -webkit-animation: remodal-opening-keyframes 0.3s;
    animation: remodal-opening-keyframes 0.3s;
}

.remodal.remodal-is-closing {
    -webkit-animation: remodal-closing-keyframes 0.3s;
    animation: remodal-closing-keyframes 0.3s;
}

@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}

@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* new asr  */

ol.withAlpha {
    list-style-type: lower-alpha;
    margin-left: 15px;
    margin-top: 10px;
}

ol.withAlpha li {
    padding-left: 5px;
}

.asrText {
    padding-left: 5px;
}

.tandc-text {
    margin-left: -20px !important;
}

.pt-20 {
    padding-top: 20px;
}

/****Save and retrieve Popup*************************/

.save-popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
}

.save-popup-inner {
    margin: auto;
    background: white;
    width: 482px;
    height: 252px;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}

.save-popup-content {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.save-popup-content span {
    color: #6489ba;
    font-size: 20px;
    text-align: center;
}

.save-popup-content p {
    width: 394px;
    margin: 0 auto;
    margin-top: 25px;
    font-size: 18px;
}

.save-popup-inner .close-icon {
    margin: 20px 20px 0 0;
    position: absolute;
    right: 0;
}

.save-popup-inner .primary-button {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    background: #2b59ac;
}

.hideSaveExit {
    display: none;
}

/*Full Content Loading Animation Start Here*/

.blobs {
    width: 100%;
    height: 300px;
    position: relative;
    overflow: hidden;
    border-radius: 70px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.blobs .blob-center {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: absolute;
    background: #9FC8FF;
    top: 50%;
    left: 50%;
    width: 30px;
    height: 30px;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);
    -webkit-animation: blob-grow linear 3.4s infinite;
    animation: blob-grow linear 3.4s infinite;
    border-radius: 50%;
    box-shadow: 0 -10px 40px -5px #9FC8FF;
}

.blob {
    position: absolute;
    background: #9FC8FF;
    top: 50%;
    left: calc(-10px + 50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    -webkit-animation: blobs ease-out 3.4s infinite;
    animation: blobs ease-out 3.4s infinite;
    -webkit-transform: scale(0.9) translate(-50%, -50%);
    transform: scale(0.9) translate(-50%, -50%);
    -webkit-transform-origin: center top;
    transform-origin: center top;
    opacity: 0;
}

.loadingWording {
    position: absolute;
    top: calc(26px + 50%);
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #777777;
}

.blob:nth-child(1) {
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}

.blob:nth-child(2) {
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.blob:nth-child(3) {
    -webkit-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.blob:nth-child(4) {
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.blob:nth-child(5) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
}

@-webkit-keyframes blobs {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translate(calc(-330px - 50%), -50%);
        transform: scale(0) translate(calc(-330px - 50%), -50%);
    }
    1% {
        opacity: 1;
    }
    35%, 65% {
        opacity: 1;
        -webkit-transform: scale(0.9) translate(-50%, -50%);
        transform: scale(0.9) translate(-50%, -50%);
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0) translate(calc(330px - 50%), -50%);
        transform: scale(0) translate(calc(330px - 50%), -50%);
    }
}

@keyframes blobs {
    0% {
        opacity: 0;
        -webkit-transform: scale(0) translate(calc(-330px - 50%), -50%);
        transform: scale(0) translate(calc(-330px - 50%), -50%);
    }
    1% {
        opacity: 1;
    }
    35%, 65% {
        opacity: 1;
        -webkit-transform: scale(0.9) translate(-50%, -50%);
        transform: scale(0.9) translate(-50%, -50%);
    }
    99% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0) translate(calc(330px - 50%), -50%);
        transform: scale(0) translate(calc(330px - 50%), -50%);
    }
}

@-webkit-keyframes blob-grow {
    0%, 39% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
    }
    40%, 42% {
        -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
        transform: scale(1, 0.9) translate(-50%, -50%);
    }
    43%, 44% {
        -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }
    45%, 46% {
        -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }
    47%, 48% {
        -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }
    52% {
        -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }
    54% {
        -webkit-transform: scale(1.7, 1.6) translate(-50%, -50%);
        transform: scale(1.7, 1.6) translate(-50%, -50%);
    }
    58% {
        -webkit-transform: scale(1.8, 1.7) translate(-50%, -50%);
        transform: scale(1.8, 1.7) translate(-50%, -50%);
    }
    68%, 70% {
        -webkit-transform: scale(1.7, 1.5) translate(-50%, -50%);
        transform: scale(1.7, 1.5) translate(-50%, -50%);
    }
    78% {
        -webkit-transform: scale(1.6, 1.4) translate(-50%, -50%);
        transform: scale(1.6, 1.4) translate(-50%, -50%);
    }
    80%, 81% {
        -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }
    82%, 83% {
        -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }
    84%, 85% {
        -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }
    86%, 87% {
        -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }
    90%, 91% {
        -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
        transform: scale(1, 0.9) translate(-50%, -50%);
    }
    92%, 100% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
    }
}

@keyframes blob-grow {
    0%, 39% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
    }
    40%, 42% {
        -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
        transform: scale(1, 0.9) translate(-50%, -50%);
    }
    43%, 44% {
        -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }
    45%, 46% {
        -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }
    47%, 48% {
        -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }
    52% {
        -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }
    54% {
        -webkit-transform: scale(1.7, 1.6) translate(-50%, -50%);
        transform: scale(1.7, 1.6) translate(-50%, -50%);
    }
    58% {
        -webkit-transform: scale(1.8, 1.7) translate(-50%, -50%);
        transform: scale(1.8, 1.7) translate(-50%, -50%);
    }
    68%, 70% {
        -webkit-transform: scale(1.7, 1.5) translate(-50%, -50%);
        transform: scale(1.7, 1.5) translate(-50%, -50%);
    }
    78% {
        -webkit-transform: scale(1.6, 1.4) translate(-50%, -50%);
        transform: scale(1.6, 1.4) translate(-50%, -50%);
    }
    80%, 81% {
        -webkit-transform: scale(1.5, 1.4) translate(-50%, -50%);
        transform: scale(1.5, 1.4) translate(-50%, -50%);
    }
    82%, 83% {
        -webkit-transform: scale(1.4, 1.3) translate(-50%, -50%);
        transform: scale(1.4, 1.3) translate(-50%, -50%);
    }
    84%, 85% {
        -webkit-transform: scale(1.3, 1.2) translate(-50%, -50%);
        transform: scale(1.3, 1.2) translate(-50%, -50%);
    }
    86%, 87% {
        -webkit-transform: scale(1.2, 1.1) translate(-50%, -50%);
        transform: scale(1.2, 1.1) translate(-50%, -50%);
    }
    90%, 91% {
        -webkit-transform: scale(1, 0.9) translate(-50%, -50%);
        transform: scale(1, 0.9) translate(-50%, -50%);
    }
    92%, 100% {
        -webkit-transform: scale(0) translate(-50%, -50%);
        transform: scale(0) translate(-50%, -50%);
    }
}

.title-vertical-line {
    width: 1.5px;
    height: 41px;
    background-color: #002469;
    margin: 0 18px;
}

.linksTableNavSide {
    display: none;
}

/*Full Content Loading Animation End Here*/

/***********Media Querries************/

@media (min-width: 1500px) and (min-height: 700px) {
    .popup {
        left: 15%;
    }
}

@media only screen and (min-width: 992px) {
    .menuButton {
        display: none;
    }
    .fixedContinue button {
        padding-left: 18.4rem;
    }
}

@media only screen and (max-width: 991px) {
    body, html {
        overflow: auto!important;
    }
    .positionRelative:hover .bottomLine,
    .positionRelative:focus-within .bottomLine {
        display: none;
    }
    
    .sideBarCloseImage {
        position: absolute;
        top: 23px;
        right: 10px;
        display: flex;
        width: 30px;
        height: 30px;
        align-items: center;
        text-align: center;
        justify-content: center;
        float: right;
        cursor: pointer;
        z-index: 10;
    }
    #sideNav .navbar-nav .nav-item .nav-link {
        font-size: 14px;
    }
    .productTitle-header {
        width: 100vw;
        justify-content: left;
        position: fixed;
        background: white;
        outline: none;
        z-index: 10;
        display: inherit;
    }
    .productTitle-header.hideNav {
        padding-left: 0px !important;
    }
    .rightByYouLogo {
        display: none;
    }
    .leftTopLogo .uob-logo, .leftTopLogo {
        display: none;
    }
    #sideNav, #sideNav .hideNav {
        display: none;
        transition: 0.3s;
    }
    #sideNav.showNav {
        display: flex;
        transition: 0.3s;
        z-index: 1090;
    }
    .menuButton {
        border: none;
        background: none;
        color: #002165;
        cursor: pointer;
        font-size: 25px;
        padding: 0px 8px 3px;
    }
    .title-vertical-line {
        margin: 0 10px 0 6px;
        width: 1px;
        display: inline-block;
    }
    .displayHeader {
        display: flex;
        margin: 5px 0;
    }
    .apply-page-header-container .displayHeader {
        display: none;
        margin: 0; 
        width: 100%;
    }
    .mob-prodtitle {
        display: inline-block;
    }
    .apply-page-header-title .title-vertical-line {
        margin: 0 10px 0 10px;
        height: 28px;
    }
    .menuButton.showNav {
        display: none;
    }
    .menuButton:hover {
        color: #6489ba;
    }
    
    
    .showNav .displayHeader {
        padding-left: 10px;
    }
    .mobileProgressTop {
        width: 0;
        height: 5px;
        background: #9fc8ff;
    }
    .progressTopMain {
        background: #f5f5f5;
        width: 100%;
        height: 5px;
    }
    .mobile-flex {
        justify-content: left;
        width: auto;
        display: flex;
    }
    section.resume-section {
        display: none;
    }
    .fixedContinue .primary-button.hideNav {
        padding-left: 0px;
    }
    .sub-div-common {
        height: auto;
    }
    .popup {
        height: calc(100% - 55px);
        left: 0;
        margin: 55px 0 120px;
    }
    .scrollable {
        margin-bottom: 0;
    }
    .inner-content {
        padding: 10px;        
    }
    .inner-content h1 {
        margin-top: 0;
    }
    .review-field-label {
        width: 165px;
    }
    .review-field-row {
        height: 48px;
    }
}

@media only screen and (max-width: 767px) {
    body, html {
        overflow: auto;
    }
    ::-webkit-scrollbar {
        width: 10px;
        height: 5px;
    }
    ::-webkit-scrollbar-track {
        background: #F2F2F2;
        z-index: 2000;
    }
    ::-webkit-scrollbar-thumb {
        background: #c0c0c0;
    }
    .bookAppointmentTable {
        display: none;
    }
    .linksTableNavSide {
        display: block;
    }
    .linksTableNavSide span {
        font-size: 20px;
        border-bottom: 1px solid #fff;
        display: inline-block;
    }
    .linksTableNavSide span a {
        color: #fff;
        text-decoration: none;
    }
    .linksTableNavSide td {
        padding-top: 30px;
    }
    .title-vertical-line {
        float: left;
    }
    .apply-page-header-container .displayHeader {
        display: flex;
        margin: 6px 0;
    }
    .displayVerify {
        display: flex;
        margin: 6px 0;
    }
    .uob-headline {
        margin: 10px 0 20px;
    }
    .displayHeader {
        display: flex;
    }
    .sub-title {
        margin-top: 20px;
    }
    h1 {
        margin-bottom: 10px;
    }
    .uob-terms {
        margin: 30px 0;
    }
    .uob-input-separator {
        margin-top: 0;
    }
    .enableOverflowX {
        margin: 0 -10px;
        width: auto;
    }
    .uob-form-loan, .uob-form-loan.hideNav {
        padding-right: 0;
    }
    .uob-form-loan.whitePage-header {
        padding: 0;
    }
    #loadingPage {
        width: 100%;
        padding: 10px;
        top: 60px;
        position: static;
    }
    .error-pg-container {
        width: 100%;
        height: auto;
        min-height: 87vh;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 0;
    }
    .error-button-container {
        flex: 0 1 auto;
        align-self: stretch;
        margin: 0 10px 10px 10px;
    }
    .error-button {
        width: 100%;
        height: 44px;
        padding: 0;
        margin-top: 0;
        padding-top: 24px;
        letter-spacing: 1px;
    }
    .apply-page-header-title .title-text {

    }
    .cont-wrap {
        width: 90%;
    }
    .content_1 {
        width: 100%;
        background: #fff;
        z-index: 99;
        position: fixed;
        justify-content: flex-start;
        height: 56px;
    }
    .content_1 .title1 {
        margin-top: 0;
    }
    section.resume-section {
        display: none;
    }
    .progressTopMain {
        background: #f5f5f5;
        width: 100%;
        height: 5px;
        position: absolute;
        top: 50px;
    }
    .mob-prodtitle {
        font-size: 14px;
        color: #002469;
    }
    .mobileProgressTop {
        width: 0;
        height: 5px;
        background: #9fc8ff;
    }
    .uob-content {
        min-width: 300px;
        padding: 4rem 10px 2rem;
        width: 100vw;
    }
    .showNav .uob-content {
        min-width: calc(100% + 245px);
    }
    .uob-content.additional-service {
        padding-top: 10px;
    }
    .prefillSubtitle-container {
        height: auto;
    }
    .prefillSubtitle-text {
        position: relative;
        padding-left: 30px;
    }
    .prefillSubtitle-icon {
        position: absolute;
        left: 0;
        top: 0;
    }
    .halfRow {
        display: block;
        width: 100%;
        border-bottom: 1px solid #b1b1b1;
        padding-left: 0;
        border-right: 0;
        height: auto;
    }
    .bottom-border .halfRow.dropdown-nopadding, .sub-div-common.mob-border, .halfRow.mob-border {
        border: 0;
    }
    .top-border .bottom-border .halfRow.dropdown-nopadding.mob-border, .mailingDetails-section .fullTable .halfRow:nth-child(2), .crs-container .bottom-border .halfRow.dropdown-nopadding {
        border-bottom: 1px solid #b1b1b1;
    }
    .fullTable .halfRow:nth-child(2) {
        border-bottom: 0;
    }
    .sub-div-common {
        height: auto;
    }
    .crs-container .p-t-5 {
        padding-top: 0;
        padding-bottom: 0;
    }
    .p-l-10 {
        padding-left: 0;
    }
    .confirmDetails-flexContainer.p-l-10 {
        padding: 0;
    }
    .confirmDetails-flexContainer .confirmDetails-label-container, .ils-flexContainer .confirmDetails-label-container {
        margin: 10px 0;
        padding: 0;
    }
    .save-popup-inner {
        width: 96%;
        height: auto;
    }
    .call-popup .save-popup-inner {
        width: 70%;
    }
    .call-popup .save-popup-content {
        margin: 0;
        font-family: "Helvetica";
    }
    .save-popup-content span {
        font-size: 24px;
    }
    .call-popup .save-popup-content p {
        font-size: 22px;
        color: #444;
    }
    .number-btn {
        border-top: 1px solid #c0c0c0;
    }
    .call-popup .number-btn span {
        display: inline-block;
        width: 49%;
        border-right: 1px solid #c0c0c0;
        padding: 12px 0;
        font-size: 20px;
    }
    .call-popup .number-btn span a {
        text-decoration: none;
    }
    .call-popup .number-btn span:nth-child(2) {
        border-right: 0;
        font-family: "Helvetica-Bold";
        color: #6489ba;
    }
    .save-popup-content p {
        font-size: 16px;
        padding: 25px 20px;
        margin: 0;
        box-sizing: border-box;
        width: 100%;
    }
    .save-popup-inner .primary-button {
        font-size: 16px;
        position: static;
    }
    .inner-content {
        padding: 20px 0;
        padding-bottom: 60px;
    }
    .inner-content h1 {
        margin: 0 0 10px 15px;
    }
    .inner-content .close-icon {
        width: 20px;
        height: 20px;
        margin-right: 20px;
        margin-top: 5px;
    }
    
    .popup .prefillSubtitle-text {
        margin: 0;
    }
    .popup_inner .prefillSubtitle-container {
        margin-bottom: 10px;
        margin: 0;
        box-sizing: border-box;
        margin: 0 10px;
    }
    .question-header {
        margin-top: 10px;
        margin-left: 15px;
    }
    .question-container {
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
    }
    .qnt-txt {
        padding: 0;
        margin-bottom: 30px;
        width: auto;
    }
    .popup_inner .buttons-container {
        justify-content: flex-end;
    }
    .buttons-container label {
        font-size: 18px;
        width: 88px;
        padding: 9px 0px 8px;
    }
    .sub-question-header {
        margin-left: 15px;
        margin-right: 15px;
    }
    .list-number {
        padding-left: 15px;
    }
    ol.alpha.sub-list li {
        padding-left: 32px;
        padding-right: 15px;
    }
    .tooltip .tooltiptext {
        width: 148px;
        left: 39%;
        font-size: 14px;
    }
    .buttons-container input[type="radio"]:checked+label {
        padding-bottom: 8px;
    }
    .popup-errorMsg {
        right: 55px;
        bottom: 53px;
        font-size: 16px;
        top: -24px;
    }
    .multicheckbox-container .toggle-input--container {
        margin-left: 0;
        padding-bottom: 12px;
    }
    .width-others {
        flex: 1 1 auto;
        width: 100%;
    }
    .posRelContainer .textInputLabelOthers--error {
        width: 125%;
    }
    .additionalServicesMain, .bibuser-container .companyGroupIDInfo, .checkbox-headlabel {
        padding-left: 0;
        font-size: 14px;
    }
    .radio-toggle-input--container, .bibuser .toggle-input--container {
        margin-left: 0;
    }
    .review-field-row {
        flex-direction: column;
        padding: 10px 0;
        width: 100%;
        height: auto;
    }
    .review-field-row.half-width-left-border {
        border-left: 0;
    }
    .review-field-label {
        width: 100%;
        padding-left: 0;
        margin-bottom: 10px;
        padding-right: 0;
    }
    .review-field-value {
        display: block;
        width: 100%;
    }
    .sub-headline, .sub-headline-bold, .file-upload-container-drag input {
        width: 100%;
        min-width: auto;
    }
    .new-table .income-breakdown-table--titles-container-flex-fatca {
        display: none;
    }
    .new-table .income-breakdown-table--row-item-fatca {
        width: 100%;
        border: 0;
    }
    .fatca-radio-input .radio-container {
        margin-bottom: 0px;
        padding-left: 48px;
        padding-top: 8px;
    }
    .checkBoxBottomSub {
        padding-left: 0;
        padding-top: 10px;
    }
    .BIBPlusMain {
        padding-left: 0;
        padding-bottom: 10px;
    }
    .checkBoxBottomSub.custom-tooltip {
        padding-top: 0;
        margin-top: 0;
        padding-left: 60px;
    }
    .bibuser .toggle-input--container {
        margin-bottom: 20px;
    }
    .others-label.p-t-20 {
        padding-top: 28px;
    }
    .crs-container {
        padding-left: 0;
    }
    .crs-container .p-l-65 {
        padding-left: 50px;
    }
    .crs-container .others-label {
        font-size: 14px;
    }
    .crs-buttons label {
        width: 86px;
        padding: 9px 0px 7px;
        font-size: 18px;
    }
    .crs-buttons input[type="radio"]:checked+label {
        padding-bottom: 8px;
        padding-top: 9px;
    }
    .crs-buttons div {
        padding: 10px 0;
    }
    .others-container {
        width: calc(100% - 60px);
        display: table;
    }
    .multicheckbox-container .flex-alignCenter .toggle-input--container {
        padding-top: 12px;
    }
    .standardRoleMain .radio-container {
        padding-top: 5px;
    }
    #confirmTandC .toggle-input--container {
        margin-top: 20px;
    }
    #confirmTandC .checkbox-container input:checked~.checkmark, #confirmTandC .checkmark {
        width: 40px;
        height: 40px;
    }
    #confirmTandC .checkbox-container .checkmark:after {
        left: 13px;
        top: 4px;
        width: 8px;
        height: 18px;
        border-width: 0 6px 6px 0;
    }
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 260px);
        box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
        background-color: #f8f8f8;
        padding: 20px;
        overflow: auto;
        border: 0;
        margin: 10px 0 10px;
    }
    #confirmTandC .toggle-input--container {
        padding: 10px;
    }
    #confirmTandC .errorMsg, #confirmationMain .errorMsg {
        padding-left: 0;
    }
    #confirmTandC .toggle-input--container {
        padding-top: 0px;
    }
    #confirmTandC .checkbox-container {
        font-size: 14px;
        padding-left: 60px;
        padding-top: 10px;
    }
}

@media screen and (max-width: 450px) {
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 280px);
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    #confirmTandC .checkbox-container {
        padding-top: 8px;
    }
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 320px);
    }
}

@media (min-width: 320px) {
    /*Todo change :min-width: 992px*/
    body {
        padding-top: 0;
    }
}

/*For BookAppointment*/

@media only screen and (max-width: 824px) {
    .bookAppointment-popup {
        padding: 0px !important;
        left: 0;
    }
    .clickOutsideBox {
        width: 0px;
    }
    .bookAppointment-inner {
        width: 100%;
        position: fixed;
    }
    .bookAppointment-content {
        padding: 0px;
    }
    .close-icon {
        margin-right: 0px;
        margin-top: -15px;
    }
    .title-padding {
        padding: 0px 1rem;
    }
    
}