/* apply page  */

.apply-page-header-container {
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 5;
}

.apply-page-header-title img {
    /* width: 93px;
  height: 33px; */
}

.apply-page-header-title {
    display: flex;
    align-items: center;
}

.apply-page-header-title .title-text {
    margin-left: 40px;
    font-size: 20px;
    padding-top: 3px;
}


.title-text {
    font-family: "Helvetica-Light";
    font-size: 28px;
    color: #002469;
}

.img-size {
    width: 100px;
    height: 32px;
    padding-top: 3px;
}

.right-by-you-container img {
    width: 178px;
    height: 43px
}

.apply-page-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.apply-page-body-separater {
    width: 40px;
    height: 100%;
}

.apply-page-body-left, .apply-page-body-right {
    width: 536px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #2360a7;
}

.body-left-content, .body-right-content {
    height: 400px
}

.body-left-footer, .body-right-footer {
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

/* body left */

.body-left-title {
    font-size: 40px;
    line-height: 1.25;
    color: #ffffff;
    padding: 30px 30px 20px 30px;
    height: 100px;
}

.body-left-subtite {
    padding: 0 30px 20px 30px;
    display: flex;
    align-items: center;
    height: 55px;
}

.body-left-subtite-text {
    font-family: "Helvetica-Light";
    font-size: 16px;
    line-height: 1.25;
    color: #ffefa3;
    margin-left: 35px;
}

.body-left-description {
    font-size: 14px;
    color: #ffffff;
    padding: 0 30px 20px 30px;
}

.body-left-description p {
    margin-top: 0px;
}

.body-left-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-left-button {
    width: 233px;
    height: 50px;
    border-radius: 5px;
    background-color: #547fcc;
    color: #fff;
    font-family: "Helvetica-Bold";
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
}

.body-left-footer-image img {
    width: 85px;
    height: 50px;
}

.body-left-footer-text {
    font-size: 12px;
    color: #444444;
    padding-left: 15px;
}

/* body right */

.body-right-title {
    font-size: 40px;
    line-height: 1.25;
    color: #ffffff;
    padding: 30px 30px 20px 30px;
    height: 100px;
}

.body-right-subtite {
    padding: 0 30px 20px 30px;
    display: flex;
    align-items: center;
}

.body-right-subtite-text {
    font-size: 16px;
    line-height: 1.25;
    color: #fff;
    margin-left: 35px;
}

.body-right-description {
    font-size: 14px;
    color: #ffffff;
    padding: 0 30px 20px 30px;
}

.body-right-description p {
    margin-top: 0px;
}

.body-right-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-right-button {
    width: 233px;
    height: 50px;
    border-radius: 5px;
    background-color: transparent;
    color: #fff;
    font-family: "Helvetica-Bold";
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    cursor: pointer;
}

.body-right-footer-image img {
    /* width: 85px; */
    height: 50px;
}

.body-right-footer-text {
    font-size: 12px;
    color: #444444;
    padding-left: 15px;
}

.body-right-button-withoutDesc {
    padding-top: 115px;
}

/*  others */

input[type="radio"] {
    -webkit-appearance: none;
}

/* coporate*/

.corporate-apply-page-body-container-padding {
    padding-top: 55px !important;
}

.corporate-apply-page-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}

.corporate-apply-page-body-left {
    width: 766px;
    height: 480px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #2360a7;
}

.corporate-body-left-content {
    height: 400px
}

.corporate-body-left-footer {
    height: 80px;
    border-radius: 10px;
    background-color: #ffffff;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    padding: 0 30px;
    display: flex;
    align-items: center;
}

/* body left */

.corporate-body-left-title {
    font-size: 40px;
    line-height: 1.25;
    color: #ffffff;
    padding: 30px 30px 20px 30px;
    height: 100px;
}

.corporate-body-left-subtite {
    padding: 0 30px 20px 30px;
    display: flex;
    align-items: center;
    height: 55px;
}

.corporate-body-left-subtite-text {
    font-family: "Helvetica-Light";
    font-size: 16px;
    line-height: 1.25;
    color: #ffefa3;
    margin-left: 35px;
}

.corporate-body-left-description {
    font-size: 14px;
    color: #ffffff;
    padding: 0 30px 20px 30px;
}

.corporate-apply-page-tick {
    /* list-style-image: url('img/bullet.png'); */
    list-style-type: circle;
    margin: 0px
}

.corporate-body-left-description p {
    margin-top: 0px;
}

.corporate-body-left-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.corporate-body-left-button {
    width: 233px;
    height: 50px;
    border-radius: 5px;
    background-color: #547fcc;
    color: #fff;
    font-family: "Helvetica-Bold";
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

.corporate-body-left-footer-image img {
    width: 85px;
    height: 50px;
}

.corporate-body-left-footer-text {
    font-size: 12px;
    color: #444444;
    padding-left: 15px;
}

/* Others */

.uob-media-title {
    color: #EFE0B1 !important;
    text-transform: uppercase;
    font-size: 15px;
}

.no-flexbox .media, .no-flexbox .media__bd {
    zoom: 1;
    overflow: hidden
}

.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -moz-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    margin-bottom: 1rem
}

.media--centered {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.no-flexbox .media {
    display: block
}

.media__img {
    padding-right: 22px;
}

.media__img--tighter {
    margin-right: .75rem
}

.no-flexbox .media__img {
    float: left
}

.media__img--lessspaced {
    margin-right: 1rem
}

.media__bd {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.media__bd__title {
    text-transform: uppercase;
    display: block;
    /* font-size:70%; */
    font-weight: 200;
    color: #EFE0B1;
}

.media--unspaced {
    margin-bottom: 0
}

.truncated-content {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.truncated-content--multiline {
    white-space: initial;
    display: block;
    display: -webkit-box;
    max-width: 100%;
    height: 67.2px;
    margin: 0 auto;
    font-size: 24px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis
}

.html-tiles, .html-tiles body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal
}

.quoted-content::after, .quoted-content::before {
    content: '"'
}

.tiles, .tiles__item {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox
}

.html-tiles body::after {
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    background: url(../images/background/background2.png);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    background-position: 100%; */
}

button, input, textarea {
    outline: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent
}

/* input[type=radio] {
    -webkit-appearance: radio
} */

input[type=checkbox] {
    -webkit-appearance: checkbox
}

ul {
    list-style-type: none
}

.center-aligned {
    text-align: center !important
}

.right-aligned {
    text-align: right
}

.left-aligned {
    text-align: left !important
}

/* .font-medium{
    font-family:Roboto-Medium,sans-serif!important
}
.font-regular{
    font-family:Roboto-Regular,sans-serif!important
}
.font-light{
    font-family:Roboto-Light,sans-serif!important
} */

.uppercase {
    text-transform: uppercase
}

.lowercase {
    text-transform: lowercase
}

.x-small {
    font-size: .75rem !important
}

.x-small--relativefont {
    font-size: 3vw
}

@media (max-width: 266.66667px) {
    .x-small--relativefont {
        font-size: 8px
    }
}

@media (min-width: 400px) {
    .x-small--relativefont {
        font-size: 12px
    }
}

.small {
    font-size: .875rem !important
}

.small--relativefont {
    font-size: 3.75vw
}

@media (max-width: 293.33333px) {
    .small--relativefont {
        font-size: 11px
    }
}

@media (min-width: 400px) {
    .small--relativefont {
        font-size: 15px
    }
}

.mid-small {
    font-size: 1.0625rem !important
}

.mid-small--relativefont {
    font-size: 4.35vw
}

@media (max-width: 321.83908px) {
    .mid-small--relativefont {
        font-size: 14px
    }
}

@media (min-width: 390.8046px) {
    .mid-small--relativefont {
        font-size: 17px
    }
}

.large {
    font-size: 1.25rem !important
}

.large--relativefont {
    font-size: 5vw
}

@media (max-width: 320px) {
    .large--relativefont {
        font-size: 16px
    }
}

@media (min-width: 400px) {
    .large--relativefont {
        font-size: 20px
    }
}

.xx-large {
    font-size: 1.5625rem !important
}

.spaced {
    margin-bottom: 24px !important
}

.spaced--evenless {
    padding-bottom: .35rem
}

.spaced--less {
    margin-bottom: .75rem !important
}

.spaced--more {
    margin-bottom: 2.5rem !important
}

.spaced--evenmore {
    margin-bottom: 5rem !important
}

.transition-on-hover {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out
}

.transition-on-hover:hover {
    -webkit-transform: translateY(1px);
    -moz-transform: translateY(1px);
    transform: translateY(1px)
}

.transition-on-hover:active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    transform: translateY(2px)
}

.tiles {
    /* display: block; */
    /* padding: 0 40px 40px; */
    z-index: 1000;
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* margin-left: auto;
    margin-right: auto;
    z-index:2;
    width:80%;
    max-width:1280px; */
}

/* @media (max-width:70em){
    .tiles{
        width:90%
    }
}
@media (max-width:60em){
    .tiles{
        width:95%
    }
} */

/* @media (max-width:40em){
    .tiles{
        -webkit-box-orient:vertical;
        -webkit-box-direction:normal;
        -webkit-flex-direction:column;
        -moz-box-orient:vertical;
        -moz-box-direction:normal;
        -ms-flex-direction:column;
        flex-direction:column;
        width:80%;
        padding:1.875rem 0
    }
} */

.tiles__container, .tiles__item {
    -webkit-box-flex: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-direction: normal
}

/* @media (max-width:321px){
    .tiles{
        width:90%
    }
} */

.tiles__item_new {
    padding-bottom: 0;
    overflow: hidden;
    max-width: 689px;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.tiles__item+.tiles__item {
    margin-left: 1.875rem
}

.tiles__container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 30px;
    font-size: 10px;
    background-color: rgba(175, 212, 255, 0.5);
    color: #fff;
}

.tiles__button, .tiles__link {
    display: inline-block;
    cursor: pointer !important;
    color: #fff !important;
    text-decoration: none !important
}

.tiles__title {
    /* margin-bottom:.35em; */
    line-height: 1;
    /* font-family:"Roboto";!important */
    font-size: 34px;
    font-weight: 300 !important;
    margin-bottom: 27px;
    color: white !important;
    /* width: 300px; */
}

.tiles__copy {
    /*display: flex;*/
    font-size: 14px;
    align-self: flex-start;
}

.tiles__copy2 {
    display: block;
    font-size: 14px
}

.tiles__content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    flex: 1;
}

.tiles__button {
    /* min-width:60%; */
    display: block;
    padding: 18px;
    text-align: center;
    background-color: transparent;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, -moz-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    font-size: 14px;
    border-radius: 5px;
    border: solid 1px #ffffff;
    color: #ffffff;
    margin-top: 27px;
}

.tiles__button:hover {
    background-color: transparent;
    opacity: 1;
}

.tiles__link {
    padding-bottom: .15em;
    border-bottom: .2em solid currentColor
}

.tiles__link--dark {
    color: #1f6eda !important
}

.tiles__footer {
    padding: 10px 22px;
    background-color: #fff;
    font-size: 13px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    /* min-height: 104px; */
    line-height: 18px;
    color: #444444;
}

.tiles__footer img {
    max-width: 100px;
    max-height: 77px
}

@media (max-width: 60em) {
    .tiles__footer img {
        max-width: 90px
    }
}

@media (max-width: 40em) {
    .tiles__item+.tiles__item {
        margin-top: 1.875rem;
        margin-left: 0
    }
    .tiles__footer img {
        max-width: 70px
    }
}

.tiles__icon {
    width: 3.75rem;
    height: 3.75rem;
    -webkit-transform: translateX(1rem);
    -moz-transform: translateX(1rem);
    transform: translateX(1rem)
}

.tiles_img {
    margin-right: 20px;
    margin-bottom: 27px;
    width: 58px;
    height: 51px;
}

.title-header-container {
    display: flex;
}

/* .title-header{
  padding-top: 22px;
} */

.uob-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 15px;
    margin: 0 auto;
}

.uob-logo-applyPage {
    padding: 26px 40px 40px;
}

.button-container {
    margin-top: 10px;
    width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 765px) {
    .tiles__title {
        width: 100%;
    }
}

#productID {
    display: none;
}

@media only screen and (max-width: 320px) {
    .uob-logo img {
        /*height: 100%;
        width: 250px;*/
    }
}

@media only screen and (max-width: 765px) {
    .uob-logo {
        padding: 26px 40px;
        /*margin: 15px;*/
    }
}

@media only screen and (min-width: 375px) and (max-width: 1024px) {
    .html-tiles body {
        justify-content: initial;
    }
}

.tiles__container .main-content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.vertical-line-applyPage {
    width: 1px;
    height: initial;
    background: #ffffff;
    margin: 40px 20px;
}

@media (max-width: 579px) {
    .vertical-line {
        /*Todo : uncomment*/
        /*height: 1px;
        width: 100%;
        background: transparent;
        margin: 16px 0;*/
    }
    .tiles__container .main-content {
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .tiles {
        padding: 3px;
    }
    .tiles__item_new {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
    }
    .tiles__copy {
        display: none;
    }
    .button-container {
        margin-top: 0;
    }
    .tiles__button {
        margin-top: 0;
    }
    .tiles__title {
        font-size: 20px;
        line-height: 34px;
    }
    .tiles__content {
        flex: none;
    }

}

/*******Verify screen*************/

.verifyPage-container .uob-logo-applyPage {
    overflow: hidden;
}

.verifyPage-container .messageBox-title {
    font-size: 36px;
}

.verifyPage-container .tiles__item_new {
    width: 689px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(173, 173, 173, 0.5);
    background-color: #ffffff;
}

.verifyPage-container .logo {
    float: left;
}

.verifyPage-container .rightByYouLogo {
    float: right;
    padding: 0 !important;
}

.verifyPage-container .tiles__container {
    padding: 0;
    background-color: transparent;
    color: #000;
}

.verifyPage-container h1 {
    margin: 0;
    font-size: 30px;
    color: #000 !important;
}

.verifyPage-container p {
    font-size: 14px;
    margin-bottom: 20px;
}

.otp-content {
    font-size: 16px;
}

.center-content {
    width: 515px;
    font-size: 18px;
    position: relative;
}

.center-content .sub-head {
    font-size: 16px;
    margin-bottom: 80px;
}

.center-content .disable {
    position: absolute;
    bottom: 0;
    left: 140px;
}

.verifyPage-container .button-container {
    float: left;
    width: auto;
    margin: 0;
}

.verifyPage-container .disable .primary-button {
    background: #B2BCD1;
}

.verifyPage-container .primary-button {
    width: 104px;
    height: 65px;
    border-radius: 0 5px 5px 0;
    margin: 0 auto;
    background: #2b59ac;
    margin-top: 1px;
}

.verifyPage-container .textInputContainer {
    width: 395px;
    height: 69px;
}

.verifyPage-container .textInputContainer input {
    height: 65px;
    border: 1px solid #444444;
    width: 395px;
    border-radius: 5px 0 0 5px;
    padding-left: 18px;
}

.verifyPage-container .textInputContainer.textInputLabel-container--error input {
    border: 0;
}

.verifyPage-container .textInputLabel-container--error~.fullErrorContent {
    top: 0;
    height: 64px;
    width: 395px;
    border: 1px solid red;
    border-radius: 5px;
}

.verifyPage-container .textInputLabel-container--error~.bottomLine {
    display: none !important;
}

.verifyPage-container .input-container {
    float: left;
    width: 395px;
    margin-bottom: 50px;
    position: relative;
}

.verifyPage-container .textInputContainer .textInputLabel--focused {
    padding-left: 18px;
    left: 5px;
    top: 30px;
}

.verifyPage-container .textInputContainer .textInputLabel--focused.textInputLabel--error {
    width: 475px;
}

.verifyPage-container .textInputContainer .textInputLabel {
    padding-left: 18px;
}

.verifyPage-container .otp-content {
    margin-bottom: 56px;
}

.verifyPage-container .otp-btn {
    margin-top: 60px;
}

.verifyPage-container .uob-otp-coundown .primary-button {
    width: auto !important;
    height: auto !important;
    font-size: 16px !important;
    background: none;
    color: #6489ba;
    font-family: Helvetica;
    font-weight: bold;
    letter-spacing: 1px;
}

.verifyPage-container .uob-otp-coundown .resend-disable .primary-button, .resend-disable+.otp-border {
    color: #c0c0c0;
}

.verifyPage-container .passcode-box-container {
    opacity: 1;
    border-radius: 5px;
    height: 65px;
    width: 390px;
}

.verifyPage-container .uob-otp-container {
    margin-bottom: 35px;
}

.otp-border {
    border-bottom: 2px solid;
    width: 62px;
    height: 0px;
    text-align: center;
    margin: 0 auto;
    color: #6489ba;
}

.verifyPage-container .passcode-small-box {
    border-top: 1px solid;
    border-bottom: 1px solid;
    height: 65px;
    width: 16.6%
}

.verifyPage-container .passcode-small-box:first-child {
    border-left: 1px solid;
    border-radius: 0;
}

.verifyPage-container .passcode-small-box:last-child {
    border-right: 1px solid;
    border-radius: 0 5px 5px 0;
}

.verifyPage-container .counddown-label {
    height: 50px;
}

.verifyPage-container .passcode-prefix {
    border-top: 1px solid #000;
    margin: 0;
    padding: 0;
    height: 63px;
    border-left: 1px solid #000;
    border-bottom: 1px solid #000;
    border-radius: 5px 0 0 5px;
    width: 115px;
    font-size: 20px;
    color: #444;
    letter-spacing: 8px;
}

.text-with-logo {
    font-size: 30px;
    color: #002469;
    line-height: 30px;
    padding-left: 12px;
}

.resend-disable .counddown-label-wrap {
    display: none;
}

.resend-disable .primary-button {
    background: #c0c0c0;
    cursor: default;
}

.verifyPage-container .inline-error-message {
    font-size: 14px;
    padding-top: 5px;
    color: #fff;
    background: #ef7777;
    padding: 10px 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 919px) {
    .apply-page-body-container {
        width: 100%;
        flex-direction: column;
        /* padding: 0 !important; */
    }
    .apply-page-body-left, .apply-page-body-right {
        width: 100%;
        height: 320px;
        margin-bottom: 30px;
    }
    .corporate-apply-page-body-container {
        width: 100%;
        flex-direction: column;
        /* padding: 0 !important; */
    }
    .corporate-apply-page-body-left {
        width: 100%;
        height: 480px;
        margin-bottom: 30px;
    }
    .body-right-button-withoutDesc {
        padding: 0;
        margin-top: 2px;
    }
    .body-left-content, .body-right-content {
        height: 236px;
    }
    .corporate-body-left-content {
        height: 400px;
    }
    .body-left-footer, .body-right-footer {
        height: 84px;
    }
    .corporate-body-left-footer {
        height: 80px;
    }
    .body-left-title, .body-right-title {
        font-size: 26px;
        height: 50px;
        padding: 20px 20px 10px 20px;
    }
    .corporate-body-left-title {
        font-size: 26px;
        height: 70px;
        padding: 30px 30px 15px 30px;
    }
    .body-left-subtite, .body-right-subtite {
        padding: 0px 20px 20px 20px;
    }
    .body-left-subtite {
        margin-top: 5px;
    }
    .corporate-body-left-subtite {
        padding: 30px 30px 20px 30px;
        margin-top: 5px;
    }
    .body-left-subtite-text, .body-right-subtite-text {
        font-size: 16px;
        margin: 0;
    }
    .corporate-body-left-subtite-text {
        font-size: 16px;
        margin: 0;
    }
    .body-left-subtite-img, .body-right-subtite-img {
        display: none;
    }
    .corporate-body-left-subtite-img {
        display: none;
    }
    .body-left-description {
        /* font-size: 12px; */
        display: none;
    }
    .corporate-body-left-description {
        /* font-size: 12px; */
        display: none;
    }
    .body-left-footer, .body-right-footer {
        padding: 0 10px;
    }
    .corporate-body-left-footer {
        padding: 0 10px;
    }
    .applyPage-container {
        padding: 10px;
        overflow-x: hidden;
    }
    .body-left-footer-image img {
        width: 70px;
        height: 40px;
    }
    .corporate-body-left-footer-image img {
        width: 70px;
        height: 40px;
    }
    .apply-page-header-title img {
        width: 93px;
        height: 33.26px;
    }
    
    /* .apply-page-body-container, .apply-page-body-container-padding {
        padding-top: 0 !important;
    } */
    .title-text {
        font-size: 18px;
    }
    .right-by-you-container img {
        display: none;
    }
    .apply-page-header-container {
        padding: 0;
        padding-bottom: 15px;
    }
    /* .title-vertical-line {
    width: 0.5px;
  } */
    .whitePage-header {
        padding: 10px;
    }
    .whitepage-navBar {
        display: none;
    }
    .corporate-body-left-button-container {
        margin-top: 80px;
    }
    .corporate-body-left-button, .body-left-button, .body-right-button {
        width: 260px;
        height: 58px;
    }
}

@media only screen and (max-width: 767px) {
    .verifyPage-container .uob-logo-applyPage {
        padding: 0;
    }

    .text-with-logo, .uob-logo-applyPage .logo {
        display: none;
    }

    .apply.apply-page-header-title {
        display: none;
    }
    .verifyPage-container .tiles {
        padding: 0 10px 10px 10px;
        position: fixed;
        right: 0;
        bottom: 0;
        top: 60px;
        width: 100%;
        box-sizing: border-box;
    }

    .verifyPage-container .tiles__item_new {
        width: 100%;
        padding: 20px 10px 0 10px;
        position: relative;
    }

    .verifyPage-container .messageBox-title {
        font-size: 26px;
        margin-bottom: 12px;
    }

    .verifyPage-container p {
        font-size: 12px;
    }

    .center-content,.verifyPage-container .input-container,
    .verifyPage-container .textInputContainer,
    .verifyPage-container .textInputContainer input,
    .verifyPage-container .textInputLabel-container--error~.fullErrorContent {
        width: 100%;
    }

    .center-content {
        position: static;
    }
    .center-content .sub-head {
        margin-bottom: 10px;
    }

    .verifyPage-container .textInputContainer {
        height: 65px;
    }

    .verifyPage-container .textInputContainer input {
        border-radius: 5px;
    }

    .verifyPage-container .textInputContainer .textInputLabel {
        top: 24px;
    }

    .verifyPage-container .textInputContainer .textInputLabel--focused.textInputLabel--error {
        top: 30px;
        width: 350px;
    }

    .verifyPage-container .button-container {
        margin-left: 0px;
        margin-right: 0px;
        display: block;
        width: auto;
        position: absolute;
        bottom: 12px;
        width: calc( 100% - 20px );
    }

    .verifyPage-container .primary-button {
        border-radius: 5px;
        background: #547fcc;
        margin-top: 0;
        border-radius: 5px;
        border: 1px solid #fff;
        font-family: Helvetica-Bold;
        letter-spacing: 1px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
        width: 100%;
    }

    .verifyPage-container .passcode-small-box:first-child {
        border-radius: 0;
    }
    .verifyPage-container .uob-otp-coundown .primary-button {
        box-shadow: none;
    }

    .verifyPage-container .passcode-box-container {
        width: 67vw;
    }

    .verifyPage-container .passcode-prefix {
        width: 20vw;
        font-size: 4vw;
    }
}



