::-moz-selection {
    text-shadow: none;
}

::selection {
    text-shadow: none;
}

*:focus {
    outline: none;
}

/* width */

::-webkit-scrollbar {
    width: 10px;
    height: 5px;
}

/* Track */

::-webkit-scrollbar-track {
    background: #f0f0f0;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #c0c0c0;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #c0c0c0;
}

table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
}

.enableOverflowX {
    width: 100%;
    overflow-x: auto;
}

.textInputLabel--error {
    font-family: "Helvetica-Bold";
    /* font-weight: bold; */
}

body {
    color: #444444;
    font-size: 16px;
}

.p-lr-2rem {
    padding: 0 2rem;
}

.p-relative {
    position: relative;
}

.rightByYouLogo {
    width: 179px;
    height: 43px;
    padding: 40px 35px 0px!important;
}

.productTitle-header {
    width: auto;
    display: flex;
    justify-content: space-between;
}
.productTitle-header,
.productTitle-header.showNav {
    padding-left: 245px !important;
}

.leftTopLogo {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 25px 0 20px 0;
}

.logoRight {
    display: none !important;
}

.alignCenter {
    display: flex;
    align-items: center;
}

.blue-uob-logo {
    z-index: 3;
    top: 44px;
    position: absolute;
    left: 35px;
    width: 130px;
}

.error-button {
    /* min-width:60%; */
    display: block;
    padding: 16px;
    width: 235px;
    text-align: center;
    background-color: transparent;
    -webkit-transition: opacity .2s ease-in-out, -webkit-transform .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out, -moz-transform .2s ease-in-out;
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
    font-size: 16px;
    border-radius: 5px;
    border: solid 1px #5d7dc8;
    color: #5d7dc8;
    margin-top: 27px;
    font-family: "Helvetica-Bold";
}

.error-button-container {
    display: flex;
    justify-content: center;
}

.error-pg-container {
    width: 689px;
    height: 428px;
    margin: 40px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 0 rgba(173, 173, 173, 0.5);
    background-color: #ffffff;
}

/* @media only screen and (max-width: 991px) {
    .logoRight {
        display: inline-block !important;
    }

    .uob-logo {
        width: 130px;
        height: 34px;
        margin-right: 0.5rem;
    }
} */

.uob-logo {
  margin-left: -15px;
}

#loadingPage {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.isRetrieving {
    z-index: 1
}

.loadingText {
    width: 186px;
    height: 17px;
    font-family: "Helvetica-Light";
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #466c9f;
    padding-top: 20px;
}

.dot {
    height: 12px;
    width: 12px;
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    float: left;
}

.dot-common {
    height: 15px;
    width: 15px;
    background-color: transparent;
    border: 2px solid #466c9f;
    border-radius: 50%;
    display: inline-block;
    float: left;
    position: relative;
}

.show-white-circle {
    border: 2px solid #ffffff;
}

.show-white-bg {
    border: 2px solid #ffffff;
    background-color: #ffffff;
}

.mid-dot {
    position: absolute;
    top: -1px;
    z-index: 1000;
    left: 3.5px;
    color: #ffffff;
    font-size: 13px;
    display: none;
}

.mid-tick {
    color: #002165;
    position: absolute;
    top: -1px;
    left: 2px;
    font-size: 12px;
    /* font-weight: bolder; */
    transform: rotate(15deg);
    z-index: 1000;
    text-shadow: 1px 0px 0px #002165;
    display: none;
}

.mid-dot-show {
    display: block;
}

.mid-tick-show {
    display: block;
}

.vertical-line {
    width: 2px;
    height: 15px;
    background: #466c9f;
    display: block;
    margin: 0px 7px;
    position: absolute;
    bottom: 34px;
}

.white {
    background: #ffffff;
}

.show-white-bg~.vertical-line {
    background: #ffffff;
}

.show-white-link {
    font-family: "Helvetica-Light" !important;
    font-weight: normal !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

.show-white-bold-link {
    font-family: "Helvetica-Bold" !important;
    font-weight: bold !important;
    color: #ffffff !important;
    cursor: pointer !important;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-family: "Helvetica-Light";
    font-weight: normal;
    letter-spacing: 0.05rem;
    font-size: 14px;
    color: #466c9f;
    cursor: default;
}

#sideNav .navbar-nav .nav-item .navbarSelected {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    color: #ffffff !important;
    opacity: 1;
}

#sideNav.navbar {
    padding: 3px !important;
}

#sideNav .navbar-toggler:focus {
    outline-color: #d48a6e;
}

    #sideNav {
        text-align: left;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 240px;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 1;
        width: 100%;
        margin-bottom: auto;
        align-items: top;
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
        padding-left: 15px;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: flex;
        align-items: center;
        min-height: 40px;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: inline-block;
        text-decoration: none;
        float: left;
        padding: 0;
        line-height: 10px;
        margin-left: 10px;
        line-height: 20px;
        max-width: 185px;
    }




.navbar-nav {
  margin-top: 10px;
}

#additionalPartnersDetails-section .uob-headline {
    margin-bottom: 0px;
}

section.resume-section {
    background: none!important;
    padding: 40px 35px 14px!important;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

/* @media (min-width: 768px) {
    section.resume-section {
        /*min-height: 100vh;
        background: rgba(0, 123, 255, 0.08);
    }

    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
} */

.bg-primary-left {
    background-color: #002165;
}

.text-primary {
    color: #000e2d !important;
}

a {
    color: #6489ba;
}

a:hover, a:focus, a:active {
    color: #6489ba;
}

.content_1 {
    margin: 0 auto;
}

.content_1 .title1 {
    display: grid;
}

.content_1 .title1 span {
    font-size: 20px;
    color: #6b6b6b;
}

.content_1 .title2 {}

.accountSettingMain>.row>div {
    cursor: pointer;
    font-size: 16px;
    display: block;
    border: none;
    outline: none;
    color: #43545f;
    background-color: rgba(255, 255, 255, 0.85);
    box-sizing: border-box;
    padding: 1rem;
}

.midBorder {
    border: none !important;
}

/* @media (min-width: 768px) {
    .midBorder {
        border-left: 1px solid #c4c8d2bf !important;
        border-right: 1px solid #c4c8d2bf !important;
    }
} */

.accuntSettingSelected {
    background: #3366cc !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.additionalServiceTitle {
    font-size: 14px !important;
}

.m-r-10 {
    margin-right: 10px;
}

.accountSettingMain {
    border-top: 1px solid #f1f1f1;
}

.accountSettingMain h5 {
    font-size: 1rem;
}

.accuntSettingSelected h5 {
    color: #ffffff;
}

.cardAdd {
    width: 110px;
}

.cardAdd>span {
    display: block;
    text-align: center;
    padding: 8px 16px;
    color: #fff;
    line-height: 20px;
    padding: 5px 16px;
    color: #fff;
    margin-left: 1rem;
    font-size: 14px;
    background-color: #1f6eda;
    border-radius: 5px;
}

.cardAdded>span {
    background-color: transparent !important;
    border: 1px solid #ffffff;
}

.signatoriesInnerContent {
    background: #f3f3f3;
    padding: 1rem;
    margin-bottom: 6px;
}

.form-check {
    padding: 1rem 2rem;
}

.form-check-label {
    position: relative;
}

.form-check-input, .form-check-label {
    z-index: 100;
}

.radioContainer .form-check-label {
    cursor: pointer !important;
    width: 100%;
    height: 100%;
}

.radioContainer {
    position: relative;
    cursor: default !important;
    padding: 0 !important;
    cursor: pointer !important;
}

/* Create a custom checkbox */

.checkContainer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.radioContainer .form-check:hover input~.checkContainer {
    background-color: #ccc;
}

.radioContainer .form-check input:checked~.checkContainer {
    background-color: #3366cc;
}

.radioContainer .form-check input:checked~.form-check-label {
    color: #fff !important;
}

.checkContainer:after {
    content: "";
    position: absolute;
    display: none;
}

.radioContainer .form-check input:checked~.checkContainer:after {
    display: block;
}

.fullWidth {
    width: 100%;
}

.fullWidth>div {
    width: 100%;
}

.flexCenterFullWidth {
    width: 100%;
    display: flex;
    align-items: center;
}

.top-border {
    border-top: 1px solid #b1b1b1;
}

.right-border {
    border-right: 1px solid #b1b1b1;
}

.bottom-border {
    border-bottom: 1px solid #b1b1b1;
}

#email .textInput--focused, #email .read-only-text-input--input--focused {
    color: #336bce;
    padding-right: 3rem;
}

.fixedContinue button {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    margin: 0 !important;
    border-radius: 0;
    width: 100%;
    background: #2b59ac;
    font-family: "Helvetica-Light";
    padding-left: 18.4rem;
}
.fixedContinue .primary-button.showNav {
    padding-left: 0;
}

.fixedContinue button:hover {
    /* background: #6892de; */
}

.fixedContinueGray button {
    background: #454545;
    cursor: default;
}

.fullTable {
    width: 100%;
    display: table !important;
}

.halfRow {
    width: 50%;
    display: table-cell;
    vertical-align: middle;
    min-width: 150px;
    height: 60px;
    padding-left: 20px;
}

.sub-div-common-no-top {
    width: 100%;
    height: 60px;
}

.sub-div-common {
    border-top: 1px solid #c0c0c0;
    width: 100%;
    height: 60px;
}

.display-flex {
    display: flex;
    align-items: center;
}

.sub-title {
    font-size: 16px;
    /* font-weight: 300; */
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 30px 0 10px;
}

.desc {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 20px 0 10px;
}

.p-10-0 {
    padding: 10px 0 !important;
}

.p-32-0 {
    padding: 32px 0 !important;
}

.p-l-10 {
    padding-left: 20px;
}

.p-t-0 {
    padding-top: 0 !important;
}

.p-t-10 {
    padding-top: 10px !important;
}

.m-t-0 {
    margin-top: 0 !important;
}

.switch-bg--toggle-new {
    border-radius: 0;
    transition: 0.3s;
    position: relative;
    cursor: pointer;
    display: inline-block;
    height: 22px;
    background-color: transparent;
    border: 1px solid #336bce;
    width: 22px;
    margin-top: 10px;
}

.switch-toggle-new-tick {
    position: absolute;
    left: 5px;
    top: -3px;
    height: 20px;
}

.mail-checkBox {
    width: 100%;
}

.mail-checkBox tr td {
    vertical-align: middle;
}

.inputCheckBox {
    width: 17px;
    height: 17px;
    margin-left: 0;
}

.toggle-new-title {
    font-size: 26px;
    color: #6489ba;
    font-weight: 300;
}

.mailingDetails-section .confirmDetails-ValueCSS {
    color: #6489ba;
}

.mailingDetails-section {
    padding-top: 5px;
}

.currencyContent {
    width: 90%;
    max-width: 150px;
}

.currencyAmount {
    min-width: 70px;
}

.currencyType {
    font-size: 11px;
    width: 30px;
    color: #444444;
    font-weight: bold;
    text-align: right;
}

.ready-only-dropdown-container--focused .dropdown--value-text {
    color: #444444 !important;
}

.positionRelative {
    position: relative;
    cursor: pointer;
}

.lightGrey {
    color: #dfdfdf;
}

.darkGrey {
    color: #c0c0c0;
}

.bottomLine {
    width: 100%;
    height: 1px;
    background: #688cbc;
    position: absolute;
    left: 0;
    bottom: 0;
    display: none;
}

.positionRelative:hover .bottomLine {
    display: block;
}

.positionRelative:focus-within .bottomLine {
    display: none;
}

.textInputContainer--onFocus~.bottomLine {
    display: block !important;
}

.phoneInputContainer--onFocus~.bottomLine {
    display: block !important;
}

.postalCodeContainer--onFocus~.bottomLine {
    display: block !important;
}

.textInputLabel-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.dropdown--vertical-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.postal-code-input-container--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.PhoneInputContainer--error~.bottomLine {
    background: red;
    display: block !important;
    z-index: 1;
}

.textInputLabel-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.dropdown--vertical-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.postal-code-input-container--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.PhoneInputContainer--error~.fullErrorContent {
    background: #ffc8c8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.textInputLabel-container--error .textInput--focused, .PhoneInputContainer--error .phoneInput--focused, .dropdown--vertical-container--error .dropdown--value-text--error, .PhoneInputContainer--error .phoneInputFlag--number, .postal-code-input-container--error .postal-code-input--input--focused {
    color: red !important;
}

.showBlueColor {
    color: #336bce !important;
}

.buttonCommon {
    display: inline-block;
    border-radius: 5px;
    border: solid 1px #0e3f97;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #15408e;
    font-size: 14px;
    cursor: pointer;
    margin-top: 8px;
    padding: 8px 20px;
}

.alignRight {
    text-align: right;
}

.agreementContent {
    margin-top: 35px;
    border: solid 1px #979797;
    padding: 18px;
}

.agreementContent p {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
}

.agreementContent ol {
    color: #444444;
    font-size: 13px;
    margin: 0 0 1em 0;
}

.agreementButton {
    display: flex;
    align-items: center;
    border: 1px solid #6489ba;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 40px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 1.25;
    text-align: center;
    color: #6489ba;
    justify-content: center;
}

.agreementButton--selected {
    border: 1px solid #2961c5;
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.agreementButton--error {
    border: 1px solid #e14747;
    background-color: #ffffff;
    color: #e14747;
}

.agreementMainPopup {
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.agreementCloseMark {
    right: 20px;
    top: 20px;
    cursor: pointer;
    display: block;
    float: right;
    padding: 15px;
}

.sectionTitle {
    color: #6489ba;
    font-size: 26px;
    margin: 0;
}

.agreementCloseMark .close-icon {
    margin: 0;
}

/* .agreementContent ol ol {
    margin-left: 0;
    margin-top: 15px;
} */

.agreementContent ol ol ol {
    /* margin-left: 25px; */
}

.agreementContent ol ol.alpha li:first-child {
    margin-bottom: 20px;
}

.agreementContent ol li {
    margin-bottom: 20px;
    padding-left: 15px;
}

.agreementContent ol li ol li {
    /* padding-left: 0; */
}

.agreementContent ol.alpha>li:before {
    padding-top: 0;
}

.confirmDetails-LabelCSS {
    font-size: 12px;
    color: #787878;
}

.confirmDetails-labelValue {
    /* flex: 1; */
}

.confirmDetails-flexContainer {
    /* display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-flow: row wrap;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.85); */
}

.confirmDetails-label-container {
    /* flex: 0 50%;
    padding: 0; */
}

.confirmDetails-flexContainer:nth-last-child(-n + 2) {
    color: #444444;
}

.confirmDetails-label-container.first-child:first-child {
    flex: none;
    width: 100%;
}

.confirmDetails-other-names {
    font-size: 15px;
    word-break: break-word;
}

.confirmDetails-ValueCSS {
    font-size: 16px;
    color: #444444;
    margin-top: 3px;
    padding: 0;
    word-wrap: break-word;
}

.confirmDetails-ValueCSS .phoneInputFlag {
    top: 4px;
}

.--no-title {
    display: none;
}

.--no-button {
    display: none;
}

.reviewContent .confirmDetails-LabelCSS {
    display: inline-flex;
    float: left;
    min-width: 206px;
    padding-bottom: 4px;
}

.reviewContent .confirmDetails-ValueCSS {
    display: inline-flex;
    float: left;
    margin-top: -3px;
    min-width: 30vw;
}

.reviewContent .halfRow, .reviewContent .sub-div-common {
    height: 60px;
}

.reviewContent .display-flex .confirmDetails-labelValue {
    margin-top: 13px;
}

.review-title {
    font-family: "Helvetica-Light";
    font-size: 26px;
    color: #6489ba;
}

.review-subtite {
    font-family: "Helvetica-Light";
    font-size: 21px;
    color: #444444;
    margin-bottom: 10px;
}

.grayRuler {
    border-top: 1px solid #979797;
    border-bottom: none;
}

.confirmationCheckBoxMain {
    margin-top: 16px;
    font-size: 16px;
    display: flex;
}

.confirmationCheckBoxMain .centerAlign {
    align-items: center;
}

.confirmationCheckBox {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: solid 2px #444444;
    background-color: #ffffff;
}

.confirmationCheckBoxLable {
    margin-left: 1rem;
}

.income-breakdown-table--main-container-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    border: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.income-breakdown-table--titles-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #e5e5e5;
}

.new-table .income-breakdown-table--titles-container-flex {
    background-color: #e6eef7;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--title-flex {
    font-family: "Helvetica-Bold";
    font-weight: bold;
    display: flex;
    flex: 1;
    font-size: 12px;
    width: 70px;
    color: #444444;
    padding: 14px 0px 14px 20px;
}

.income-breakdown-table--row-item-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: white;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.new-table .income-breakdown-table--row-flex .income-breakdown-table--row-item:last-child {
    border: 0;
}

.income-breakdown-table--row-item-checkbox--title {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.income-breakdown-table--row-item-checkbox--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #1f6eda;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}

.income-breakdown-table--row-item-checkbox-tick {
    width: 12px;
    height: auto;
}

.income-breakdown-table--rows-container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.new-table .income-breakdown-table--rows-container-flex {
    margin: 0;
}

.income-breakdown-table--row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-table .income-breakdown-table--row-flex {
    border-bottom: 1px solid #c0c0c0;
}

.income-breakdown-table--row-flex--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.income-breakdown-table--row-item {
    width: 70px;
    flex: 1;
    font-size: 14px;
    color: #444444;
    padding: 10px 0px 10px 20px;
}

.new-table .income-breakdown-table--row-item {
    border-right: none;
}

.income-breakdown-table--separator {
    width: 100%;
    height: 1px;
    background: #c0c0c0;
}

.new-table .income-breakdown-table--separator {
    background: #c0c0c0;
    height: 1px;
}

.income-breakdown-table-header {
    font-size: 12px;
    color: #444444;
    padding: 10px;
}

.partner-subtitle-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 72px; */
    padding-top: 30px;
    padding-bottom: 10px;
}

.partner-subtite {
    margin: 0;
}

.partner-delete-icon {
    margin-right: 10px;
    width: 19px;
    height: 19px;
    cursor: pointer !important;
}

.noAdditionalPartnerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.noAdditionalPartnerText {
    /* width: 578px; */
    height: 36px;
    font-family: "Helvetica-Light";
    ;
    font-size: 30px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #cacaca;
    margin-bottom: 27px;
}

/* @media (max-width: 991px) {
    .uob-content {
        padding: 1rem 35px 2rem !important;
    }

    section.resume-section {
        padding: 32px 32px 0 !important;
    }

    .rightByYouLogo{
      display: none;
    }
} */

.flexDisplay {
    display: flex;
}

/* Contact Details */

.errorMsg-with-subtitle {
    display: flex;
}

.prefillSubtitle-text {
    font-family: "Helvetica-Light";
    font-size: 16px;
    color: #002469;
    justify-content: center;
}

.prefillSubtitle-icon {
    padding: 0 10px 0 0;
}

.prefillSubtitle-container, .prefillSubtitle-text {
    display: flex;
}

.prefillSubtitle-container {
    border-radius: 5px;
    border: 1px solid #002469;
    background-color: #ddebff;
    /* margin-bottom: 30px; */
    padding: 10px;
}

.title1 {
    margin-bottom: 0;
}

.dropdown-nopadding {
    padding: 0;
}

.height {
    height: 60px;
}

.desc {
    font-size: 21px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 40px 0 10px;
}

.sub-title-confirm {
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #6489ba;
    margin: 20px 0 10px;
}

.review-page-pencil {
    height: 20px;
    width: 20px;
    padding: 10px;
}

.review-page-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.fullWhitePage-logo {
    display: flex;
    justify-content: flex-end;
    padding-left: 35px;
}

.fullWhitePage-logo .rightByYouLogo {
    z-index: 3;
}

.fullWhitePage-logo .rightByYouLogo {
    padding: 20px 35px 0px !important;
}

.title-vertical-line {
    width: 1px;
    height: 41px;
    background-color: #002469;
    margin: 0 18px;
}
.mobile-header-vertical-line {
    width: 1.5px;
    background-color: #002469;
    margin: 5px 8px;
}

.mobile-header-logo {
    width: 90px;
}
.displayHeader.showNav {
    padding-left: 10px;
}
.fullWhitePage-title {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.fullWhitePage-logo .blue-uob-logo {
    width: 110px;
    position: static;
}

.mailing-checkbox-container {
    padding-left: 20px;
}

/* Nav Bar */

.show-finished-img {
    display: block;
}

.finished-img {
    display: none;
}

.show-current-img {
    display: block;
}

.current-img {
    display: none;
}

.show-not-finished-img {
    display: block;
}

.not-finished-img {
    display: none;
}

input {
    font-family: "Helvetica-Light";
}

/*  confirm t and c*/

#confirmTandC .toggle-input--container {
    display: block;
}


/* ==========================================================================
   ReModal  styles
   ========================================================================== */

   .remodal-overlay {
    position: fixed;
    z-index: 9999;
    top: -5000px;
    right: -5000px;
    bottom: -5000px;
    left: -5000px;
    display: none;
}

.remodal-wrapper {
    position: fixed;
    z-index: 1000000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    -webkit-overflow-scrolling: touch;
    padding: 10px;
    align-items: center;
}

.remodal-wrapper:after {
    display: inline-block;
    height: 100%;
    margin-left: -0.05em;
    content: "";
}

.remodal-overlay, .remodal-wrapper {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.remodal-overlay {
    background: rgba(192, 192, 192, 0.90);
}

.remodal-overlay.remodal-is-opening, .remodal-overlay.remodal-is-closing {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.remodal-overlay.remodal-is-opening {
    -webkit-animation: remodal-overlay-opening-keyframes 0.3s;
    animation: remodal-overlay-opening-keyframes 0.3s;
}

.remodal-overlay.remodal-is-closing {
    -webkit-animation: remodal-overlay-closing-keyframes 0.3s;
    animation: remodal-overlay-closing-keyframes 0.3s;
}

.remodal.remodal-is-opening, .remodal.remodal-is-closing {
    -webkit-animation-fill-mode: backwards;
    animation-fill-mode: backwards;
}

.remodal.remodal-is-opening {
    -webkit-animation: remodal-opening-keyframes 0.3s;
    animation: remodal-opening-keyframes 0.3s;
}

.remodal.remodal-is-closing {
    -webkit-animation: remodal-closing-keyframes 0.3s;
    animation: remodal-closing-keyframes 0.3s;
}

@-webkit-keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes remodal-opening-keyframes {
    from {
        -webkit-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0;
    }
    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@-webkit-keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}

@keyframes remodal-closing-keyframes {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    to {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
        opacity: 0;
    }
}

@-webkit-keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes remodal-overlay-opening-keyframes {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes remodal-overlay-closing-keyframes {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/**table tooltip**/

.row-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    padding: 0px;
}

.custom-tooltip-tb .tooltip-tb {
    position: relative;
    display: inline-block;
    opacity: 1;
    color: #444;
    cursor: pointer;
    font-family: "Helvetica-Light";
    font-size: 12px;
}

.tooltip-tb .tooltiptext-tb {
    visibility: hidden;
    background: #fff;
    color: #444;
    text-align: center;
    border-radius: 2px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -74px;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.5);
    font-size: 12px;
    padding: 5px 10px;
    text-align: left;
    display: inline-block;
}

.tooltip-tb:hover .tooltiptext-tb {
    visibility: visible;
    opacity: 1;
}

.font-14 {
    font-size: 14px !important;
}

.font-12 {
    font-size: 12px !important;
}

/****SessionExpire Popup*************************/

.popup-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1100;
}

.popup-inner {
    margin: auto;
    background: white;
    width: 482px;
    height: 252px;
    margin-top: 10%;
    border-radius: 10px;
    position: relative;
}

.popup-content {
    margin-top: 20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

.popup-content span {
    color: #6489ba;
    font-size: 20px;
    text-align: center;
}

.popup-content p {
    width: 394px;
    margin: 0 20px;
    margin-top: 25px;
    font-size: 14px;

}

.popup-inner .close-icon {
    margin: 20px 20px 0 0;
    position: absolute;
    right: 0;
}

.popup-inner .primary-button {
    width: 100%;
    bottom: 0;
    position: absolute;
    margin: 0;
    border-radius: 0 0 10px 10px;
    font-size: 14px;
    background: #2b59ac;
}

.sideBarCloseImage{
	position: relative;
	top: 15px;
	right: 15px;
	display: flex;
	width: 30px;
	height: 30px;
	align-items: center;
	text-align: center;
    justify-content: center;
    float: right;
    cursor: pointer;
    z-index: 10;
}

.alias {
    padding: 20px;
}
::-webkit-scrollbar:horizontal {
    height: 3px;
}

@media only screen and (max-width: 991px) {
    body, html {
        overflow: auto!important;
    }
    .productTitle-header {
        width: 100vw;
        justify-content: left;
        position: fixed;
        background: white;
        outline: none;
        z-index: 10;
        display: inherit;
    }
    .productTitle-header.hideNav {
        padding-left: 0px !important;
    }
    .rightByYouLogo {
        display: none;
    }
    .leftTopLogo .uob-logo {
        display: none;
    }
    #sideNav,
    #sideNav .hideNav {
        display: none;
        transition: 0.3s;
    }
    
    #sideNav.showNav {
        display: flex;
        transition: 0.3s;
    }
    .title-vertical-line {
        margin: 0 10px 0 6px;
        width: 1px;
        display: inline-block;
    }
    .displayHeader {
        display: flex;
        margin: 5px 0;
    }
    .apply-page-header-container .displayHeader {
        display: none;
        margin: 0; 
        width: 100%;
    }
    .mob-prodtitle {
        display: inline-block;
        color: #002469;
    }
    .apply-page-header-title .title-vertical-line {
        margin: 0 10px 0 10px;
        height: 28px;
    }
    .menuButton {
        border: none;
        background: none;
        cursor: pointer;
        padding: 7px 8px 3px;
    }
    .menuButton.showNav {
        display: none;
    }
    .menuButton:hover {
        color: #6489ba;
    } 
    .displayHeader {
        display: flex;
    }
    .mobileProgressTop{
        width: 0;
        height: 5px;
        background:#9fc8ff;
    }
    .progressTopMain {
        background: #f5f5f5;
        width: 100%;
        height: 5px;
    }
    .mobile-flex {
        justify-content: left;
        width: auto;
        display: flex;
    }
    section.resume-section {
        display: none;
    }
    .fixedContinue .primary-button.hideNav {
        padding-left: 0px;
    }
    .leftTopLogo {
        display: none;
    }
    .agreementContent {
        padding-left: 0px;
    }
    .reviewContent .halfRow, .reviewContent .sub-div-common {
        height: 60px;
    }
}

@media only screen and (min-width: 992px) {
    #loadingPage {
        max-width: 100%;
    }
    .menuButton, .displayHeader, .mobileProgressTop, .progressTopMain {
        display: none;
     }
    .mobile-flex {
        display: flex;
        width: calc(100vw - 245px);
        justify-content: space-between;
    }
}

@media only screen and (max-width: 767px) {
    #loadingPage {
        width: 100%;
        padding: 10px;
        position: static;
    }

    .error-pg-container {
        width: 100%;
        height: 84vh;
        margin: 0;
        min-height: 428px;
    }
    .uob-content {
        min-width: 300px;
        padding: 4rem 10px 0px;
        width: 100vw;
        overflow: hidden;
    }
    .positionRelative > div {
        width: 100%;
    }

    .halfRow {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
        padding-left: 0 !important;
    }

    .halfRow > div {
        padding: 0px;
    }
    .p-l-10 {
        padding: 0px;
    }

    .dropdown-nopadding .dropdown--content {
    margin-left: 0;
    }

    .dropdown-nopadding .ready-only-dropdown-container--focused{
    padding-left: 0;
    }

    .read-only-text-input--container {
        width: 100% !important;
        display: flex !important;
        align-items: center !important;
    }

    .right-border {
        border-right: none !important;
        border-bottom: 1px solid #b1b1b1 !important;
    }

    .read-only-text-input--content {
        padding: 0 10px;
    }

    .confirmDetails-label-container{
    flex: 1
    }

    .rightByYouLogo{
    display: none;
    }

    .alias {
        padding: 20px 20px 20px 0px;
    }

    .width-200 {
        /* padding-top: 8px; */
        vertical-align: middle;
    }
    .reviewContent .confirmDetails-ValueCSS {
        min-width: 70vw;
        float: initial;
    }

    #email .textInput--focused {
        width:93vw;
    }

    .textInput--focused, .postal-code-input--input--focused {
        padding-left: 0;
    }

    #confirmTandC .toggle-input--container {
        margin-top: 20px;
    }
    #confirmTandC .checkbox-container input:checked~.checkmark, #confirmTandC .checkmark {
        width: 40px;
        height: 40px;
    }
    #confirmTandC .checkbox-container .checkmark:after {
        left: 13px;
        top: 4px;
        width: 8px;
        height: 18px;
        border-width: 0 6px 6px 0;
    }
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 230px);
        box-shadow: 0 2px 4px 0 rgba(192, 192, 192, 0.5);
        background-color: #f8f8f8;
        padding: 20px;
        overflow: auto;
        border: 0;
        margin: 10px 0 10px;
    }
    #confirmTandC .toggle-input--container {
        padding: 10px;
    }
    #confirmTandC .errorMsg, #confirmationMain .errorMsg {
        padding-left: 0;
    }
    #confirmTandC .toggle-input--container {
        padding-top: 0px;
    }
    #confirmTandC .checkbox-container {
        font-size: 14px;
        padding-left: 60px;
        padding-top: 10px;
    }
    .apply-page-header-container .displayHeader {
        display: flex;
        margin: 6px 0;
    }
}

@media screen and (max-width: 450px) {
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 330px);
    }
}

@media (min-width: 320px) and (max-width: 400px) {
    #confirmTandC .checkbox-container {
        padding-top: 8px;
    }
    #confirmDetailsPage-section .agreementContent {
        height: calc(100% - 345px);
    }
}

@media only screen and (max-width: 480px) {
    .popup-inner {
        width: 90vw;
        margin-top: calc(50vh - 126px);
    }
    
    .popup-content p {
        width: auto;
    }
}

@media only screen and (max-width: 321px) {
    .sectionTitle {
        font-size: 24px;
    }
    .uob-headline {
        font-size: 15px;
    }
}

@media (min-width: 320px) {
    /*Todo change :min-width: 992px*/
    body {
        padding-top: 0;
    }
    /* .leftTopLogo {
        display: block;
    } */
}
