.apply-page-header-container {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 5;
}

.apply-page-header-title img {
  /* width: 93px;
  height: 33px; */
}

.apply-page-header-title {
  display: flex;
  align-items: center;
}

.apply-page-header-title .title-text {
  margin-left: 40px;
  font-size: 20px;
  padding-top: 3px;
}

.title-vertical-line {
  width: 1px;
  height: 41px;
  background-color: #002469;
  margin: 0 18px;
}

.title-text {
  font-family: "Helvetica-Light";
  font-size: 20px;
  color: #002469;
}

.img-size {
  width: 110px;
  height: 39.34px;
}

.right-by-you-container img {
  width: 178px;
  height: 43px
}

.apply-page-body-container-padding {
  padding-top: 55px !important;
}

.apply-page-body-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.apply-page-body-separater {
  width: 40px;
  height: 100%;
}

.apply-page-body-left, .apply-page-body-right {
  width: 536px;
  height: 480px;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  background-color: #2360a7;
}

.body-left-content, .body-right-content {
  height: 400px;
}

.body-left-footer, .body-right-footer {
  height: 80px;
  border-radius: 10px;
  background-color: #ffffff;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  padding: 0 30px;
  display: flex;
  align-items: center;
}

/* body left */

.body-left-title {
  font-size: 40px;
  line-height: 1.25;
  color: #ffffff;
  padding: 30px 30px 20px 30px;
  height: 100px;
}

.body-left-subtite {
  padding: 0 30px 20px 30px;
  display: flex;
  align-items: center;
  height: 55px;
}

.body-left-subtite-text {
  font-family: "Helvetica-Bold";
  font-size: 16px;
  line-height: 1.25;
  color: #ffefa3;
  margin-left: 35px;
}

.body-left-description {
  font-size: 14px;
  color: #ffffff;
  padding: 0 30px 20px 30px;
}

.apply-page-tick {
  /* list-style-image: url('img/bullet.png'); */
  list-style-type: circle;
  margin: 0px
}

.body-left-description p {
  margin-top: 0px;
}

.body-left-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-left-button {
  width: 233px;
  height: 50px;
  border-radius: 5px;
  background-color: #547fcc;
  color: #fff;
  font-family: "Helvetica-Bold";
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.body-left-footer-image img {
  width: 85px;
  height: 50px;
}

.body-left-footer-text {
  font-size: 12px;
  color: #444444;
  padding-left: 15px;
}

/* body right */

.body-right-title {
  font-size: 40px;
  line-height: 1.25;
  color: #ffffff;
  padding: 30px 30px 20px 30px;
  height: 100px;
}

.body-right-subtite {
  padding: 0 30px 20px 30px;
  display: flex;
  align-items: center;
}

.body-right-subtite-text {
  font-size: 16px;
  line-height: 1.25;
  color: #fff;
  margin-left: 35px;
}

.body-right-description {
  font-size: 14px;
  color: #ffffff;
  padding: 0 30px 20px 30px;
}

.body-right-description p {
  margin-top: 0px;
}

.body-right-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.body-right-button {
  width: 233px;
  height: 50px;
  border-radius: 5px;
  background-color: transparent;
  color: #fff;
  font-family: "Helvetica-Bold";
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
}

.body-right-footer-image img {
  width: 85px;
  height: 50px;
}

.body-right-footer-text {
  font-size: 12px;
  color: #444444;
  padding-left: 15px;
}

.body-right-button-withoutDesc {
  padding-top: 101px;
}

/*  others */

input[type="radio"] {
  -webkit-appearance: none;
}

@media only screen and (max-width: 768px) {
  .apply-page-body-container {
    width: 100%;
    flex-direction: column;
    /* padding: 0 !important; */
  }
  .apply-page-body-left, .apply-page-body-right {
    width: 100%;
    margin-bottom: 30px;
    height: auto;
  }
  .body-left-content, .body-right-content {
    height: auto;
  }
  .body-left-title, .body-right-title {
    font-size: 26px;
    height: 50px;
    padding: 20px;
  }
  .body-left-subtite, .body-right-subtite {
    padding: 5px 20px;
  }
  .body-left-subtite-text, .body-right-subtite-text {
    font-size: 14px;
    margin-left: 0px;
  }
  .body-left-description {
    display: none;
  }
  .body-left-footer {
    padding: 0 10px;
  }
  .body-right-footer {
    display: none;
  }
  .apply-page-container {
    padding: 10px;
  }
  .body-left-footer-image img {
    width: 70px;
    height: 40px;
  }
  .apply-page-header-title img {
    width: 93px;
    height: 33.26px;
  }
  /* .apply-page-body-container, .apply-page-body-container-padding {
    padding-top: 0 !important;
  } */
  .title-text {
    font-size: 18px;
  }
  .right-by-you-container img,
  .body-left-subtite-img img,
  .body-right-subtite-img img {
    display: none;
  }
  .apply-page-header-container {
    padding: 0;
    padding-bottom: 15px;
  }
  /* .title-vertical-line {
    width: 0.5px;
  } */
  .whitePage-header {
    padding: 10px;
  }
  .body-left-button-container {
    padding-bottom: 20px;
  }
  .body-right-button-withoutDesc {
    padding: 10px 0px 20px;
  }
  .apply-page-body-container-padding {
    padding: 0px !important;
  }
  .apply-page-header-title {
    display: none;
  }
  .whitePage-header .apply-page-header-title {
    display: flex;
  }
}
@media only screen and (max-width: 991px) {
  .whitepage-navBar{
    display: none;
  }
}