
.bottom-details .tableDetails_Seperator {
  display: flex;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.tableDetailsLabels , .overviewLabels{
  flex: 2;
  color: #ffffff
}

.tableDetailsValue , .overviewValue{
  flex:1;
  text-align: right;
  color: #ffffff
}

.summary-right .tableDetails_Seperator , .overview_Seperator {
  font-size: 15px;
  line-height: 1.54;
  color: #ffffff;
  display: flex;
  width: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 600px){
  .tableDetails_Seperator {
    padding-left: 0;
  }
  .OverviewtableDetails {
    width: 100%;
  }
  .summary-right .tableDetailsLabels, .overviewLabels{
    width: 70%;
    padding: 0;
  }
}

@media only screen and (max-width: 320px){
  .tableDetailsLabels, .overviewLabels{
    padding: 0;
  }
}
