.signature-main-container{
  width: 430px;
}
.signature-pad-container{
  width: 100%;
  height: 174px;
  border: solid 1px #444444;
  background-color: #ffffff;
  display: flex;
}

.signature-button-container{
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.displayNone{
  display: none
}

.signaturebutton {
  width: 111px;
  height: 27px;
  border-radius: 5px;
  border: solid 1px #444444;
  background: none;
  margin-left: 10px;
}

.signature-pad-img {
  width: 430px;
  height: 174px;
  border: solid 1px #444444;
  display: flex;
  align-items: center;
  justify-content: center;
}

canvas {
  width: 100%;
  display: flex;
}

@media (max-width: 767px) {
  .signature-main-container{
    width: 100%;
  }

  .signature-pad-img{
    width: 100%;
  }
}
