.toggle-input--container {
    font-size: 18px;
    border-radius: 2px;
    padding: 0px;
    display: block;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
}

.toggle-input--text-container {
    padding-right: 10px;
}

.toggle-input--description {
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: normal;
    color: #43545f;
    padding-top: 5px;
}

.toggle-input-container--error {
    background-color: rgb(255, 242, 242);
    border: 1px solid red;
    box-shadow: 0 0 9px rgba(255, 0, 0, .5);
}

.toggle-input--error {
    color: red;
    font-size: 13px;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
    .toggle-input--description {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        letter-spacing: normal;
        color: #43545f;
        padding-top: 5px;
    }
}