.list-panel {
    width: 300px;
}

.list-panel .storelist {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    height: 462px;
}

li.store {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    font-size: 12px;
    font-weight: 500;
    list-style-type: none;
    cursor: pointer;
    padding: 20px 20px 0 20px;
    position: relative;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 1px;
    z-index: 5;
    background: #ffffff no-repeat 5px 0;
}

li.store .store {
    margin-left: 20px;
}

li.compDist .store {
    margin-left: 40px;
}

li.compDist .distance {
    position: absolute;
    left: 12px;
    top: 26px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
}

li.store .title {
    width: 95%;
    font-size: 16px;
    font-weight: 400;
    color: #5d7dc8;
    line-height: 140%;
}

li.store address {
    font-style: normal;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #444444;
}

li.store .buttons {
    list-style: none;
    margin: 0;
    padding: 0;
}

li.store .buttons li {
    display: inline-block;
    padding: 10px 0;
    margin-right: 20px;
}

li.store .buttons li .branchTel {
    border: none;
    padding: 0;
    line-height: initial;
    color: #8cb5eb;
    letter-spacing: 0.5px;
    font-weight: 400;
    text-transform: capitalize;
    text-align: center;
    white-space: nowrap;
    font-size: 14px;
}

li.store:after {
    content: '';
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #e4e7ea;
    margin-top: 0;
    left: 0;
    right: 0;
}

li.store:hover {
    background-color: #F0F6FF;
    z-index: 5;
}

li.store.selected {
    background-color: #F0F6FF;
    z-index: 5;
}

li.store .type, li.store .openhour {
    padding-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    margin-top: 0;
    color: #444444;
}

li.store .serviceMessage {
    color: #444444;
    padding-top: 10px;
    font-size: 14px;
    margin-top: 0;
    font-weight: 600;
    line-height: 18px;
}

li.store .bottomSpace {
    height: 1rem;
    display: block;
}

li.store .descSumContent {
    color: #e14747;
}

li.store .descSumContent strong {
    font-weight: 400;
}

#geocodeInput {
    max-width: 265px;
    height: 45px;
    background: white;
    border-radius: 0;
    border: none;
    border-bottom: 1px solid #c0c0c0;
    font-size: 14px;
    font-weight: 400;
    color: #5a9aff;
    outline: none;
    padding-left: 20px;
    width: 100%;
    padding-right: 45px;
}

#geocodeInput.active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.icon-search {
    background-position: -5px -8px;
    width: 50px;
    height: 50px;
    background-color: transparent;
    top: -2px;
    position: absolute;
    right: 0;
}

.bookAppointmentButton {
    text-align: center;
    display: block;
    margin: 1rem auto 10px;
    border: none;
    padding: 6px 10px;
    background: #2b59ac;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.appointmentMainPopup {
    max-width: 1300px;
    /* margin: 0 auto;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.16);
    background-color: #ffffff;*/
    width: 100%;
}

.popupRightSearchMain {
    position: absolute;
    z-index: 10;
    right: -1px;
    top: 1px;
    height: 100%;
    background: #ffffff;
    text-align: left;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    -webkit-transition: width 0.2s;
    transition: width 0.2s;
    border-left: 1px solid #cccccc;
}

.popupRightToggleSwitch {
    text-align: center;
    box-shadow: 0 2px 4px 0 rgba(163, 163, 163, 0.5);
    background-color: #ffffff;
    position: absolute;
    top: 15px;
    left: -35px;
    cursor: pointer;
    z-index: 0;
    padding: 15px 6px;
    font-size: 14px;
    line-height: 10px;
    border-radius: 5px 0 0 5px;
    min-width: 13px;
    color: #5d7dc8;
}

.react-datepicker__input-container {
    width: 100%;
}

.react-datepicker__input-container input {
    width: 100%;
    height: 58px;
    cursor: pointer;
    border: none;
}

.react-datepicker-wrapper {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    opacity: 0;
    left: 0;
}

.branchSelectButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 5px;
    border: 1px solid #0e3f97;
    width: 80px;
    cursor: pointer;
    padding: 2px;
    background: #ffffff;
    color: #0e3f97
}

.branchSelectButton:hover {
    background: #0e3f97;
    color: #ffffff
}

/*----- Replace calender styles -----*/

.react-datepicker {
    color: #444444 !important;
    border-radius: 0 !important;
    border: 1px solid #d9d9d9 !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
    color: #444444 !important;
}

.react-datepicker__header--time {
    padding-bottom: 33px !important;
}

.react-datepicker__current-month, .react-datepicker-time__header {
    color: #444444 !important;
    font-weight: normal !important;
    font-size: 15px !important;
}

.react-datepicker-popper[data-placement^="bottom"] {
    margin-top: 3px !important;
    transform: translate3d(-21px, 60px, 0px) !important;
}

.react-datepicker__header {
    background-color: #f2f2f2 !important;
    border-bottom: 1px solid #d9d9d9 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.react-datepicker__time-container {
    border-left: 1px solid #d9d9d9 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item {
    height: 16px !important;
    padding: 6px !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--disabled {
    color: #d9d9d9 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: #9fc8ff !important;
    color: #444444 !important;
    border-radius: 5px !important;
    border: 1px solid #839dc0 !important;
    margin: 0 10px !important;
    font-weight: normal !important;
}

.react-datepicker__day--selected, .react-datepicker__day--in-selecting-range, .react-datepicker__day--in-range {
    background-color: #9fc8ff !important;
    color: #444444 !important;
    border-radius: 5px !important;
    font-weight: normal !important;
    border: 1px solid #839dc0 !important;
}

.react-datepicker__day--disabled {
    color: #d9d9d9 !important;
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
    width: 110px !important;
}

.react-datepicker__time-container {
    width: 110px !important;
}

.react-datepicker__navigation--next--with-time {
    right: 120px !important;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle, .react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before {
    display: none;
}

.react-datepicker-popper {
    left: 20px !important;
    width: 100% !important;
}

.semi-circle {
    width: 70px;
    height: 55px;
    background-color: #ffffff;
    margin-top: -20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    -webkit-box-shadow: 0 -3px 0px rgba(206, 206, 206, 0.5);
    box-shadow: 0 -3px 0px rgba(206, 206, 206, 0.5);
    transition: transform 1s;
    transform: scale(1);
}

.remove {
    transform: scale(1);
    background-color: #979797;
    height: 2px;
    width: 30px;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 10px;
}

.google-map-container {
    width: 100%;
    position: relative;
    min-height: 510px;
}

.uob-headline-m {
    color: #444444;
    font-size: 16px;
    margin: 30px 0 30px;
}

@media only screen and (max-width: 824px) {
    #geocodeInput {
        font-size: 18px;
        border: none;
    }
    .list-panel .storelist {
        height: 100%;
        margin: 0;
        border-top: 1px solid #c0c0c0;
    }
    .close {
        top: 100% !important;
        height: 0% !important;
    }
    ul.storelist.remove-border {
        border-top: none;
    }
    .popupRightSearchMain {
        right: 0;
        bottom: 0;
        top: auto;
        width: 100% !important;
        height: 50%;
        transition: all 1s;
    }
    .bookAppointmentFixed button {
        width: 100vw;
        z-index: 1;
    }
    .popupRightToggleSwitch {
        top: -20px;
        left: 0px;
        bottom: 0;
        padding: 0px;
        justify-content: center;
        display: flex;
        -webkit-box-shadow: 0 -3px 4px 0 rgba(206, 206, 206, 0.5);
        ;
        box-shadow: 0 -3px 4px 0 rgba(206, 206, 206, 0.5);
        ;
        border-radius: 10px 10px 0 0px;
        min-width: 100%;
        height: 25px;
    }
    .bookAppointment-m {
        padding: 0px 15px;
    }
    .bookAppointment-table {
        display: initial
    }
    .bookAppointment-table-left, .bookAppointment-table-right {
        width: 100%;
        margin-top: 25px;
    }
    .react-datepicker__time-container {
        width: 99px !important;
    }
    li.store .title {
        font-size: 16px;
        font-family: 'Helvetica-Bold';
        color: #444444;
    }
    .geocodesearch-block {
        border: 1px solid #c0c0c0;
        margin-right: 15px;
        margin-left: 15px;
        margin-top: 5px;
        margin-bottom: 15px;
    }
    .icon-search {
        right: 15px;
        top: 5px;
    }
    .m-message {
        font-size: 18px;
        color: #6489ba;
        font-style: italic;
        margin: 15px;
    }
    li.store {
        padding: 15px 15px 0 15px;
    }
    .geocodesearch-top-container {
        border-bottom: 1px solid #c0c0c0;
    }
}

@media only screen and (min-width: 320px) and (max-width: 359px) {
    #geocodeInput {
        max-width: 220px;
    }
    .google-map-container {
        min-height: calc(100vh - 105px);
    }
    .react-datepicker-popper {
        left: -15px !important;
        width: 320px !important;
    }
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
        width: 90px !important;
    }
    .react-datepicker__time-container {
        width: 90px !important;
    }
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
        margin: 0 !important;
    }
    .react-datepicker__header--time {
        padding-bottom: 30px !important;
    }
    .react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
        width: 25px !important;
        height: 25px !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 824px) {
    .google-map-container {
        min-height: calc(100vh - 105px);
    }
}

@media only screen and (min-width: 321px) and (max-width: 360px) {
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
        width: 90px !important;
    }
    .react-datepicker__time-container {
        width: 80px !important;
    }
    .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
        margin: 0 5px !important;
    }
    .uob-headline-m {
        margin: 10px 0 0px;
    }
    #geocodeInput {
        max-width: 260px;
    }
}