.compatibility-error-message--wrapper-flex {
    /* position: fixed; */
    height: 40px;
    background: #ececec;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transition: 0.3s;
    align-items: center;
}

.compatibility-error-message--wrapper-flex--hidden {
    height: 40px;
    background: #ececec;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    transition: 0.3s;
    opacity: 0;
    transform: translate(0, -20px);
    visibility: collapse;
}

.compatibility-error-message--message-text {
    color: #444;
    font-size: 14px;
    text-align: left;
    padding-left: 15px;
}

.compatibility-error-message--icon-wrapper {
    padding: 10px 15px;
    align-items: center;
    display: flex;
}

.compatibility-error-message--icon-cross {
    opacity: 0.50;
    cursor: pointer;
}

.compatibility-error-message--icon-signal {
    height: 20px;
    width: 20px;
}

/* @media only screen and (max-width: 812px) {
    .compatibility-error-message--wrapper-flex, .compatibility-error-message--wrapper-flex--hidden {
        display: none;
    }
} */
