.radio-toggle-input--container {
  margin-left: 20px
}

.p-32-0 {
  padding: 32px 0 !important;
}

.p-t-50 {
  padding-top: 50px;
}

.radio-toggle-input--container .p-t-50 {
  padding-top: 50px;
}

.inputradio {
  width: 17px;
  height: 17px;
  margin-left: 0;
}

/* Customize the label (the container) */

.radio-container {
  display: block;
  position: relative;
  padding-left: 45px;
  /* padding-bottom: 10px; */
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  /* width: 389px; */
  font-family: Helvetica;
  font-size: 14px;
  color: #444444;
  line-height: 20px;
}

/* Hide the browser's default radio */

.radio-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio */

.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px #444444;
}

.sub-sub-title {
  color: #777777;
  font-size: 14px;
  margin-bottom: 20px;
}

/* On mouse-over, add a grey background color */

.radio-container:hover input~.radio-checkmark {
  /* background-color: #ccc; */
}

/* When the radio is checked, add a blue background */

.radio-container input:checked~.radio-checkmark {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

/* Create the radio-checkmark/indicator (hidden when not checked) */

.radio-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the radio-checkmark when checked */

.radio-container input:checked~.radio-checkmark:after {
  display: block;
}

/* Style the radio-checkmark/indicator */

.radio-container .radio-checkmark:after {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-color: #a8c0ec;
  border-radius: 50%
}

.radio-errorMsg {
  font-size: 12px;
  padding-bottom: 10px;
  color: red;
}

.radio-container input:disabled~.radio-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px #d9d9d9;
}

.radio-container input:disabled~.disabledCheckRadio {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: solid 1px #d9d9d9;
}

.radio-container input:disabled~.radio-checkmark:after {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 14px;
  height: 14px;
  background-color: #a8c0ec;
  border-radius: 50%
}

.disabledText {
  color: #d9d9d9;
}

@media only screen and (max-width: 767px) {
  .radio-container {
    padding-left: 48px;
  }
  .radio-toggle-input--container {
    margin-left: 0;
  }
  .radio-toggle-input--container .radio-container {
    padding-left: 50px;
    margin-bottom: 20px;
  }
  .radio-checkmark, .radio-container input:checked~.radio-checkmark, .radio-container input:disabled~.radio-checkmark {
    width: 30px;
    height: 30px;
  }
  .radio-container .radio-checkmark:after, .radio-container input:disabled~.radio-checkmark:after {
    height: 18px;
    width: 18px;
  }
}