.file-upload--container {
    font-size: 18px;
    border-radius: 5px;
    width: 100%;
    outline: none;
    background-color: rgba(255, 255, 255, 0.85);
    /*display: flex;*/
    justify-content: space-between;
    border: 1px solid transparent;
    box-sizing: border-box;
    padding: 10px 20px;
}

.file-upload--container--error {
    background-color: rgb(255, 242, 242);
    border: 1px solid red;
    box-shadow: 0 0 9px rgba(255, 0, 0, .5);
}

.file-upload--text-container {
    padding-right: 10px;
}

.file-upload--text-container {
    width: 83%;
    overflow: hidden;
}

.file-upload-step-two-buttons--container {
    display: flex;
    align-content: space-around;
}

.file-upload--title {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #43545f;
}

.file-upload--title--focused {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    transform: translate(-20%) scale(0.6);
    color: #1f6eda;
    font-size: 18px;
    font-weight: normal;
    pointer-events: none;
    left: 15px;
    top: 20px;
    padding-bottom: 8px;
    z-index: 2;
    transition: 0.3s;
    text-align: left;
    width: 150%;
}

.file-upload--description {
    font-size: 13px;
    line-height: 1.3;
    color: #43545f;
    overflow: hidden;
    text-overflow: ellipsis;
}

.file-upload-button {
    background-color: transparent;
    width: 160px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
    position: relative;
}

.file-upload-button--upload-complete {
    background-color: #1f6eda;
    width: 60px;
    height: 50px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
    margin-left: 5px;
}

.file-upload-button--selected {
    background-color: #1f6eda;
    width: 200px;
    height: 34px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
    position: relative;
}

.file-upload-button--text {
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.1px;
    line-height: 31px;
    width: 100%;
    color: #15408e;
    position: absolute;
    border: solid 1px #0e3f97;
    border-radius: 5px;
}

.file-upload-input--edit-button {
    font-size: 18px;
    opacity: 0.0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    bottom: 45px;
    position: relative;
    border-radius: 2px;
}

.file-upload-input {
    font-size: 18px;
    opacity: 0.0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.file-upload-edit-icon {
    padding: 22px 0 0 20px;
    cursor: pointer;
}

.file-upload-delete-icon {
    cursor: pointer;
    padding: 22px 0 0 23px;
}

.file-upload-progress {
    width: 100%;
    height: 33px;
    left: 1px;
    position: absolute;
    border-radius: 0 5px 5px 0;

}

.file-upload-progress-drag {
    height: 5px;
    left: 0;
    /*position: absolute;*/
    border-radius: 5px;
    width: 100%;
    background-color: #1f6eda;
    /*transition: 0.20s linear;*/
    margin-top: 10px;

}

.file-upload-button--text---drag {
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1px;
    line-height: 35px;
    width: 100%;
    position: absolute;
    /*    border: solid 1px #0e3f97;*/
    border-radius: 5px;
    top: -1px;
}

.file-upload-progress::-webkit-progress-value {
    background-color: #1f6eda;
    transition: 0.5s linear;
}

.file-upload-progress-drag::-webkit-progress-bar {
    background-color: #2b59ac;
    transition: 0.5s linear;
    height: 34px;
    border-radius: 0 5px 5px 0;
}

.file-upload-progress-drag::-webkit-progress-value {
    background-color: #1f6eda;
    transition: 0.5s linear;
    height: 34px;
    border-radius: 0 5px 5px 0;
}

.file-upload--error {
    color: red;
}

.file-upload--error-drag {
    color: red;
    font-size: 14px;
    background-color: #ffc8c8;
    border: 1px solid #ac2828;
}

.show-white-text {
    color: #ffffff;
}

.file-upload-input-drag {
    font-size: 18px;
    opacity: 0.0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.file-upload-container-drag {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.file-upload-MiddleText {
    position: absolute;
    right: 1px;
    /*transform: translate(-50%, -50%);*/
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    min-width: 100px;
    z-index: 2;
    color: #777777;
}

.fileNameDescription {
    font-size: 14px;
    color: #b1b1b1;
    margin-top: 5px;
}


.upload-main-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
}

.file-upload-wrapper {
    position: relative;
    width: 100%;
    height: 65px;
    border-radius: 10px;
    background-color: #ffffff;
    border: 1px dashed #466c9f;
    /*top:8px;*/
}

.file-upload--error-drag .file-upload-wrapper {
    background-color: #ffffff;
    border: 1px dashed #ac2828;
    background-color: rgba(255, 255, 255, 0.5);
}

/*.file-upload-wrapper:after {
    content: attr(data-text);
    font-size: 16px;
    position: absolute;

    margin: 0 auto;
    background: #fff;
    padding: 10px 15px;
    display: block;
    width: calc(100% - 30px);
    pointer-events: none;
    z-index: 1;
    height: 14px;
    line-height: 14px;
    color: #999;
    border-radius: 5px 10px 10px 5px;
    font-weight: 300;
}*/

.uploadInputSection{
    width: 100%;
    height: 65px;
    position: absolute;
    z-index: 2;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    color: #444444;
}

.file-upload--error-drag .uploadInputSection {
    color: #ac2828;
}

/*.file-upload-wrapper:hover:before {
    background: #2b59ac;
}

.file-upload-wrapper:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    display: inline-block;
    height: 35px;
    background: #2b59ac;
    color: #fff;
    font-weight: 700;
    z-index: 2;
    font-size: 14px;
    line-height: 34px;
    padding: 0 27px;
    pointer-events: none;
    border-radius: 0 5px 5px 0;
    width: 46px;
}*/

.file-upload-wrapper input {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    height: 65px;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    width: 100%;
}

.fileUploadSubTitle {
    margin-top: -15px;
    /*margin-bottom: 20px;*/
}

.fileUploadSection{
    position: relative;
}

.upload-guide {
    font-size: 14px;
    color: #444444;
    margin-top: 5px;
    line-height: 16px;
}

.removeUploadedFile {
    padding: 0 1rem;
    float: left;
}

.mainUploadSection {
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
}

.fileUploadTable {
    width: 100%;
}

.fileUploadTable td:nth-child(2) {
    padding: 0 10px;
}

.uploadSectionTitle {
    min-width: 20%;
    color: #444444;
    display: flex;
    align-items: center;
}

.fileUploadDropperMain {
    width: 100%;
}

.file-size {
    float: left;
}
@media only screen and (max-width: 767px) {
    .mainUploadSection {
        margin-left: -14px;
        margin-right: -10px;
        padding-left: 0;
        padding-right: 0;
        border-radius: 0;
    }

    .file-upload--container {
        border-radius: 0;
        padding-left: 10px;
        padding-right: 10px;
    }

    .fileUploadProgressMain {
        width: 100%;
        word-break: break-all;
    }
}

@media only screen and (max-width: 360px) {
    .uploadInputSection {
        font-size: 12px; 
    }
}
