.toggle-input--container {
    /* font-size: 18px;
    border-radius: 2px;
    padding: 15px;
    display:block;
    border:none;
    outline:none;
    background-color: rgba(255,255,255,0.85);
    display: flex;
    justify-content: space-between; */
    padding-top: 44px;
    padding-bottom: 2px;
}

.check-top-20 {
    padding-top: 20px;
}

.p-32-0 {
    padding: 32px 0 !important;
}

.mailingWidth {
    width: 25px;
}

.inputCheckBox {
    width: 17px;
    height: 17px;
    margin-left: 0;
}

/* Customize the label (the container) */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    /* margin-bottom: 12px; */
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 389px;
    height: 17px;
    font-family: Helvetica;
    font-size: 14px;
    color: #444444;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    border: 1px solid #444;
    /* background-color: #eee; */
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    /* background-color: #ccc; */
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background-color: #568aea;
    border: none;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:disabled ~ .checkmark {
    width: 18px;
    height: 18px;
    border-radius: 2px;
    background-color: #c0c0c0;
    border: none;
    cursor: default;
}

/*  when the checkbox is checked and disabled */
.checkbox-container input:disabled ~ .checkDisabled {
    width: 17px;
    height: 17px;
    border-radius: 2px;
    background: none;
    border: 1px #c0c0c0 solid;
    cursor: default;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 6px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.errorMsg {
    font-size: 12px;
    padding-bottom: 10px;
    color: red;
}

.radioButton {
    opacity: 1 !important;
    width: initial !important;;
    height: initial !important;;
    left: 0;
}

.mailingFontColor{
    color: #6489ba;
}

.labelFontWeight{
    font-weight: bold;
}
