.textInputContainer {
  display: flex;
  position: relative;
}

.textInput {
    font-size: 24px;
    border-radius: 2px;
    display:block;
    width:100%;
    height: 60px;
    border:none;
    outline:none;
    color: #000;
    background: white;
    cursor: pointer;
    opacity:0.4;
    padding-left: 15px;
    box-sizing: border-box;
}

.textInput--focused{
    opacity: 0.85;
    transition: 0.3s;
    cursor: text;
    font-size: 24px;
    border-radius: 2px;
    display:block;
    width:100%;
    height: 60px;
    border:none;
    outline:none;
    color: #000;
    background: white;
    padding-top: 15px;
    padding-left: 15px;
    box-sizing: border-box;
}

.textInputContent {
    flex: 1;
}

.textInputLabel{
    font-size:18px;
    font-weight:normal;
    pointer-events:none;
    height: 1px;
    top:20px;
    display: block;
    z-index: 2;
    position: relative;
    transition:0.3s;
    text-align: left;
    width: 90%;
    opacity: 0.4;
    padding-left: 15px;
}


.textInputLabel--focused{
    transform: translate(-18%, -15px) scale(0.6);
    /*color:#1f6eda;*/
    color: #9b9b9b;
    font-size:18px;
    font-weight:normal;
    pointer-events:none;
    height: 1px;
    top:20px;
    display: block;
    z-index: 2;
    position: relative;
    transition:0.3s;
    text-align: left;
    width: 100%;
}

.textInputTickContainer {
  background-color: white;
  opacity: 0.85;
  display: flex;
  align-items: center;
  transition:0.3s;
  border:none;
  outline:none;
}

.textInputTick--visible {
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 2;
    visibility: visible;
    border:none;
    outline:none;
    background-color: rgba(0, 0, 0, 0);
}

.textInputTick--invisible {
    position: absolute;
    right: 10px;
    top: 25px;
    z-index: 2;
    visibility: hidden;
    border:none;
    outline:none;
    background-color: rgba(0, 0, 0, 0);
}

/* .textInputLabel--error{
    transform: translate(-18%, -15px) scale(0.6);
    color:red;
    font-size:18px;
    font-weight:normal;
    pointer-events:none;
    height: 1px;
    top:29px;
    display: block;
    z-index: 2;
    position: relative;
    transition:0.3s;
    text-align: left;
    width: 150%;
} */
