.confirmDetails-editButton{
  outline: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  font-family: 'Roboto';
  background-color: #ffffff;
  color: #1f6eda;
  position: relative;
  display: flex;
  padding: 7px 3px 0px 0px;
}

.confirmDetails-editImg{
  width: 12px;
  height: 10px;
  margin: 5px;
}

.confirmDetails-TableTitle{
  font-size: 18px;
  color: #43545f;
  flex: 1;
  background-color: #ffffff;
  border-left: 3px solid #1f6eda;
  padding: 12px;
}

.confirmDetails-mailingAddress{
  font-size: 13px;
  color: #1f6eda;
  font-family: roboto-bold;
  padding: 15px 0px 15px 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.confirmDetails-mailingToggle-CSS{
  font-size: 13px;
  color: #43545f;
  font-family: roboto-bold;
  padding-top: 15px;
  margin-right: 15px;
}

.confirmDetails-LabelCSS{
  font-size: 11px;
  color: #1f6eda;
  font-weight: bold;
}

.confirmDetails-labelValue{
  flex: 1;
  padding-left: 12px;
}

.confirmDetails-flexContainer {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   flex-flow: row wrap;
   flex-wrap: wrap;
   justify-content: space-between;
}

#diffMailingAdd.confirmDetails-flexContainer{
  border-top: 1px solid #e0e0e0;
}

#rebateNoWrap.confirmDetails-flexContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-between;
  background-color: rgba(255, 255 , 255, 0.85);
}

#rebateNoWrap.confirmDetails-mailingToggle-CSS{
  .confirmDetails-mailingToggle-CSS{
    font-size: 13px;
    color: #43545f;
    font-family: roboto-bold;
    padding-top: 15px;
  }
}

.confirmDetails-label-container{
  flex: 0 50%;
  padding: 15px 0px;
}
.confirmDetails-ValueCSS{
  font-size: 18px;
  color: #43545f;
  margin-top: 3px;
  padding:0;
}

.--no-title{
  display: none;
}

.--no-button{
  display: none;
}
