.cpf-table--main-container-flex {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    border: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.cpf-table--titles-container-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10%;
    background-color: #e5e5e5;
    padding: 10px;
}

.cpf-table--title-flex {
    display: flex;
    flex: 1;
    font-size: 12px;
    font-weight: bold;
    width: 70px;
    color: #1f6eda;
}

.cpf-table--row-item-checkbox {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: white;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.cpf-table--row-item-checkbox--title {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}
.cpf-table--row-item-checkbox--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #1f6eda;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}

.cpf-table--row-item-checkbox-tick {
    width: 12px;
    height: auto;
}

.cpf-table--rows-container-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.cpf-table--row-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cpf-table--row-flex--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.cpf-table--row-item {
    width: 70px;
    flex: 1;
    font-size: 18px;
    color: #43545f;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cpf-table--separator {
    width: 100%;
    height: 1px;
    background: #e0e0e0;
}

.cpf-table-header {
  font-size: 13px;
  color: #1f6eda;
  font-weight: bold;
  padding: 10px;
}
