input:disabled, input[disabled]  {
    color: #444444;
    -webkit-text-fill-color: #444444;
}

progress {
    border: 0;
    height: 32px;
    border-radius: 5px;
    background: #ffffff;
}
progress::-webkit-progress-bar {
    border: 0;
    height: 32px;
    border-radius: 5px;
    background: #ffffff;
}
progress::-webkit-progress-value {
    border: 0;
    height: 32px;
    border-radius: 5px;
}
progress::-moz-progress-bar {
    border: 0;
    height: 32px;
    border-radius: 5px;
    background: #ffffff;
}

.signature--main-container-flex {
    width: 100%;
    height: auto;
    border: none;
    outline: none;
    /*background-color: white;*/
    background-color: rgba(255, 255, 255, 0.85);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid transparent;
}

.signature--main-container--error {
    background-color: rgb(255, 242, 242);
    border: 1px solid red;
    box-shadow: 0 0 9px rgba(255, 0, 0, .5);
}

.draw-signature--separator {
    height: 1px;
    width: 100%;
    margin: 10px 0 10px 0;
    background: #a0a0a0;
    opacity: 0.5;
}

.draw-signature--disclamer {
    font-size: 13px;
    color: #43545f;
    /*opacity: 0.85;*/
    background-color: rgba(255, 255, 255, 0);
}

.signature--container {
    font-size: 18px;
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.signature--avatar-editor-button-icon {
    user-select: none;
}

.signature--buttons-container {
    padding-top: 10px;
    display: flex;
    flex-direction: row-reverse;
}

.signature--right-side-button {
    background: #568aea;
    color: #ffffff;
    font-size: 14px;
    width: 50px;
    height: 100px;
    text-align: center;
    margin: 20px 0;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #466c9f;
    opacity: 1;
}

.button--red {
    background: #e14747;
    color: #ffffff;
    font-size: 14px;
    width: 50px;
    height: 100px;
    text-align: center;
    margin: 20px 0;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    border: solid 1px #ac2828;
    opacity: 1;
}

.signature--right-side-button-red {
    background: #ffffff;
    color: #ac2828!important;
    -webkit-text-fill-color: #ac2828!important;
    font-size: 14px;
    width: 50px;
    height: 100px;
    text-align: center;
    margin: 20px 0;
    user-select: none;
    cursor: default;
    border-radius: 5px;
    border: solid 1px #ac2828;
    opacity: 0.5!important;
}

.signature--right-side-button-disabled {
    background: #ffffff;
    -webkit-text-fill-color: #466c9f!important;
    font-size: 14px;
    width: 50px;
    height: 100px;
    text-align: center;
    margin: 20px 0;
    user-select: none;
    cursor: default;
    border-radius: 5px;
    border: solid 1px #466c9f;
    opacity: 0.5!important;
}

.signature--right-side-button-progress {
    border-radius: 2px;
    background: #1f6eda;
    color: white;
    width: 80px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0 0px 0 5px;
    user-select: none;
    cursor: progress;
}

.signature--right-side-button-undo {
    border-radius: 2px;
    background: #a0a0a0;
    color: white;
    width: 80px;
    height: 40px;
    text-align: center;
    padding-top: 10px;
    margin: 0 0px 0 5px;
    user-select: none;
    cursor: pointer;
}

.signature--avatar-editor-button {
    border-radius: 2px;
    padding: 13px;
    margin: 1px;
    height: 30px;
    background: #a0a0a0;
    cursor: pointer;
}

.signature--avatar-editor-reset-button {
    border-radius: 2px;
    cursor: pointer;
    color: #a0a0a0;
}

.signature--avatar-editor-main-container {
    display: flex!important;
		align-items: center!important;
    /*padding: 0 15px 10px 15px;*/
}

.signature--avatar-editor-main-container--hidden {
    flex-direction: column;
    margin: 0 auto;
    padding: 0 10px 10px 10px;
    background: darkseagreen;
    display: none;
}

.signature--avatar-editor-frame-container {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: column;
}

.signature--avatar-editor-frame-container canvas {
    /*width: 100% !important;
    height: 100% !important;*/
    /*max-width: 400px !important;*/
    border: dashed 1px #444444;
    cursor: move;
    border-radius: 10px;
    background: #ffffff;
}

.signature--avatar-editor-frame-container-red canvas {
    border: dashed 1px #ac2828;
    cursor: move;
    border-radius: 10px;
    background: #ffe3e3;
}

.signature--avatar-editor-right-side-buttons-wrapper-flex {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
}

.signature--text-container {
    padding-right: 10px;
    flex: 1;
    width: 80%;
}

.signature--avatar-editor-buttons-bar {
    margin-top: 5px;
    padding: 5px 0 5px 0;
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

.signature--title {
    font-size: 18px;
    padding-bottom: 5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #43545f;
}

.signature--title p {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #43545f;
    margin: 0;
}

.file-upload--error {
		top:auto;
		left: auto;
    bottom: 20px;
    position: absolute;
    right: 20px;
    display: block;
    background: #ffe3e3;
    padding: 3px 16px;
    border-radius: 5px;
}

.signature--title--focused {
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    transform: translate(-20%) scale(0.6);
    color: #1f6eda;
    font-size: 18px;
    pointer-events: none;
    left: 15px;
    top: 20px;
    padding-bottom: 8px;
    z-index: 2;
    transition: 0.3s;
    text-align: left;
    width: 150%;
}

.signature--description {
    font-size: 13px;
    line-height: 1.3;
    color: #43545f;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.signature-button {
    background-color: transparent;
    width: 190px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
    position: relative;
}

.signature-button--upload-complete {
    background-color: #1f6eda;
    width: 60px;
    height: 30px;
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
    margin-left: 5px;
}

.signature-button--selected {
    background-color: #1f6eda;
    width: 200px;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    letter-spacing: -0.1px;
    line-height: 1.17;
}

.signature-button--text {
    font-size: 14px;
    text-align: center;
    letter-spacing: -0.1px;
    /*line-height:30px;*/
    width: 99%;
    color: #444444;;
    position: absolute;
    cursor: pointer;
    border: solid 1px #444444;
    border-radius: 5px;
    height: 22px;
    padding-top: 7px;
}
.font-white{
    color: #ffffff;
}

.signature-progress--spinner {
    position: absolute;
    top: 6px;
    z-index: 2;
    margin-left: -8px;
    animation: App-logo-spin infinite 1.5s linear;
}

.signature-button--text-progress {
    font-size: 15px;
    text-align: center;
    letter-spacing: -0.1px;
    line-height:30px;
    width: 100%;
    color: white;
    position: absolute;
    cursor: progress;
}

.signature-input--edit-button {
    font-size: 18px;
    opacity: 0.0;
    cursor: pointer;
    width: 100%;
    height: 100%;
    bottom: 45px;
    position: relative;
}

.signature-input {
    border-radius: 2px;
    font-size: 18px;
    opacity: 0.0;
    cursor: pointer;
    width: 100%;
    height: 100%;
}

.signature-input-progress {
    border-radius: 2px;
    font-size: 18px;
    opacity: 0.0;
    cursor: progress;
    width: 100%;
    height: 100%;
}

.signature-edit-icon {
    padding: 22px 0 0 20px;
    cursor: pointer;
}

.signature-delete-icon {
    cursor: pointer;
    padding: 22px 0 0 23px;
}

.signature-progress {
    appearance: none;
    width: 100%;
    height: 30px;
    position: absolute;
    border: none;
    border-radius: 2px;
    cursor: progress;
}

.signature-progress::-webkit-progress-value {
    background-color: #1f6eda;
    transition: 0.5s linear;
}

.signature--error {
    color: red;
}

.signature--avatar-editor-main-container .accordian--block .accordian--block-header-container--with-content {
    height: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 2px;
    padding: 0px;
    background: none;
}

.signature--avatar-editor-main-container .accordian--block .accordian--block-content-container--open {
    background: none;
    padding: 10px 0 0 0;
    transition: 0.2s ease-in-out;
    transform-origin: top;
    transform: scaleY(1);
}

.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 2px solid gray;
    color: gray;
    background-color: white;
    padding: 8px 20px;
    border-radius: 8px;
    font-size: 20px;
    font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}
.signatureUpload-header{
    margin: 15px 0;
}
.signatureUpload-info{
    line-height: 16px;
}

.signatureUpload-info-main{
    font-size: 12px;
    color: #444444;
}

.signatureUpload-info-sub{
    font-size: 14px;
    color: #444444;
}
.signatureUploadButtonsBottom{
    margin-top: 20px;
}
.signatureUploadButtonsBottom table{
    float: right;
}
.bottomPreviewContent{
    margin-top: -15px;
    border: 1px solid;
    display: grid;
    max-width: 400px;
}
.rightButtonSection{
    padding:0 20px;
}

.rightButtonSection button{
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
}
.signatureUploadMiddleText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 45px;
    font-size: 20px;
    min-width: 230px;
    z-index: 2;
    color: #777777;
}
.MiddleTextRed{
    color: #ac2828;
}
.lightBlueBG{
    background-color: #e6f2f9;
    border-radius: 10px;
    padding: 20px
}

.lightRedBG{
    background-color: #ffc8c8;
    border-radius: 10px;
    padding: 20px
}

.signature-title {
  font-size: 21px;
  font-weight: 300;
  color: #6489ba;
  padding-top: 30px;
  padding-bottom: 10px;
  margin: 0;
}

.fakeUploadLoader{
	display: flex;
	position: absolute;
	z-index: 4;
	width: 100%;
	height: 100%;
	background: #ffffff;
	opacity: 0.7;
	top: 0;
	left: 0;
}

.signatureMoveCommon{
	position: absolute;
	background: transparent;
	color: #fff;
	cursor: pointer;
	z-index: 3;
	background: url(../../assets/images/signatureIcons/moveArrow.svg) 0 0 no-repeat;
	width: 44px;
	height: 28px;
}

.signatureMoveCommon:hover{
	background: url(../../assets/images/signatureIcons/moveArrowHover.svg) 0 0 no-repeat;
}

.signatureMoveUp{
	top:10px;
	left:calc(50% - 22px);
	transform: rotate(0);
}
.signatureMoveDown{
	bottom: 10px;
	left:calc(50% - 22px);
	transform: rotate(180deg);
}
.signatureMoveLeft{
	top:calc(50% - 22px);
	left:10px;
	transform: rotate(270deg);
}
.signatureMoveRight{
	top:calc(50% - 22px);;
	right:10px;
	transform: rotate(90deg);
}

@media only screen and (max-width: 600px) {
	.file-upload--error {
		top: -58px;
		bottom: auto;
		position: absolute;
		right: auto;
		left: 0;
		display: block;
		background: #ffe3e3;
		padding: 3px 16px;
		border-radius: 5px;
		font-size: 14px;
	}
	.signatureUploadMiddleText{
		font-size: 14px;
	}
}

@media only screen and (max-width: 400px) {
	.file-upload--error {
		top: -68px;
	}
}
