.start-new-loan-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
  background: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
  cursor: pointer;
  /*background-color: #1f6eda;*/
  background-color: white;
}
.start-new-loan-label {
  font-size: 25px;
  color: #1F6EDA;
  padding-top: 15px;
}
