@font-face {
  font-family: "Helvetica";
  src: url("./assets/fonts/Helvetica.otf");
}
@font-face {
  font-family: "Helvetica-Oblique";
  src: url("./assets/fonts/Helvetica-Oblique.otf");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("./assets/fonts/Helvetica-Bold.otf");
}

@font-face {
  font-family: "Helvetica-Light";
  src: url("./assets/fonts/Helvetica-Light.otf");
}

@font-face {
  font-family: "Arial";
  src: url("./assets/fonts/arial.ttf");
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica-Light";
  font-size: 16px;
  text-shadow: none;
}

h1 {
  font-family: "Helvetica-Light";
  font-size: 26px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #777777;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

::-ms-clear {
  display: none;
}

@-webkit-keyframes App-icon-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes App-icon-spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
