.dropdown {
    width: 100%;
    outline: none;
    position: initial;
    height: 100%
}

.dropdown-container {
    display: flex;
    opacity: 0.4;
    align-items: center;
    border-radius: 2px;
    background-color: white;
    width: 100%;
    height: 100%;
}

.dropdown--vertical-container {
    height: 100%
}

.dropdown-container:hover {
    opacity: 0.7;
}

.dropdown-container--focused {
    display: flex;
    /*opacity: 0.85;*/
    align-items: center;
    border-radius: 2px;
    /*background-color: white;*/
    width: 100%;
    height: 100%;
}

.dropdown--content {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    margin-left: 20px;
}

.dropdown--content--error {
    /* background-color: rgb(255, 242, 242);
    border: 1px solid red;
    box-shadow: 0 0 9px rgba(255, 0, 0, .5); */
}

.dropdown--content-left {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    flex: 1;
    width: 100%;
    position: relative;
    z-index: 1;
}

/*.dropdown-container:hover {
  opacity: 0.7;
}*/

.dropdown--inputLabel {
    /* padding-left: 15px; */
    font-size: 18px;
    transition: 0.3s;
    z-index: 2;
    position: absolute;
    top: 20px;
}

.dropdown--inputLabel--focused {
    /* transform: translate(-14%, -15px) scale(0.72);
    /*transform: translateX(-14%) translateY(-15px) scale(0.72);*/
    /*-webkit-transform: translate(-14%, -15px) scale(0.72);
    color: #1f6eda;
    font-size: 18px;
    width: auto;
    font-weight: bold;
    pointer-events: none;
    left: 15px;
    height: 1px;
    top: 28px;
    display: block;
    z-index: 2;
    position: absolute;
    transition: 0.3s;
    text-align: left; */
    -webkit-transform: translate(-14%, -15px) scale(0.72);
    -ms-transform: translate(-14%, -15px) scale(0.72);
    transform: translate(-14%, -15px) scale(0.72);
    color: #787878;
    pointer-events: none;
    height: 1px;
    top: 26px;
    display: block;
    z-index: 2;
    position: relative;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    text-align: left;
    width: 125%;
}

.dropdown--selectValue {
    display: none;
}

.dropdown--value-text {
    /*padding: 0px 0 0 14px;*/
    /* margin-left: 15px;
    margin-top: 15px;
    font-size: 18px;
    height: 21px;
    color: #43545f; */
    /* opacity: 0.85; */
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: text;
    font-size: 16px;
    border-radius: 2px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: #336bce;
    /* background-color: rgba(255, 255, 255, 0.85); */
    /* padding-top: 15px; */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown--value-text--error {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    cursor: text;
    font-size: 14px;
    border-radius: 2px;
    display: block;
    width: 100%;
    border: none;
    outline: none;
    color: red;
    /* background-color: rgba(255, 255, 255, 0.85); */
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dropdown--input-container {
    display: none;
}

.dropdown--input-container--focused {
    display: flex;
    position: relative;
}

.dropdown--input-searchInput--icon {
    z-index: 2;
    padding: 20px 20px 0 0;
    right: 0;
    position: absolute;
}

.hideValue--focused {
    display: none;
}

.hideValue {
    display: flex;
}

.dropdown--searchValue {
    border: 0px;
    display: none;
}

.dropdown--searchValue--focused {
    font-size: 19px;
    border-radius: 0px;
    outline: none;
    border: 0px;
    margin: 0px;
    width: 100%;
    background-color: transparent;
}

.dropdown--searchValue--focused::placeholder {
    color: #C0C0C0;
}
.dropdown--inputArrow {
    padding-right: 15px;
    /* width: 28px;
    height: 60px; */
    box-sizing: border-box;
    z-index: 1;
}

.dropdown-selection {
    height: 0px;
    overflow: hidden;
    animation: 0.3s;
}

.dropdown-selection--focused {
    display: block;
    overflow-y: auto;
    width: 100%;
    /*background-color: white;
    opacity: 0.85;*/
    /* background-color: rgba(255, 255, 255, 0.85); */
    animation: 0.3s;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
}

.dropdown-selection--focused .dropdown-selection-item {
    font-size: 18px;
    padding: 10px 20px;
    border-top: solid 0.5px #e0e0e0;
}

.dropdown-selection--focused .dropdown-selection-item:hover {
    background-color: rgba(44, 124, 221, 0.15);
    color: #43545f;
}

.dropdown-selection--focused .dropdown-selection-item--select {
    background-color: blue;
    color: white;
}

.dropdownLabel--error {
    color: red;
    font-family: "Helvetica-Bold";
}

.dropdown--input-container--focused {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 60px;
}

.dropdown--input-searchInput--crossIcon {
    display: none;
}

.dropdown--search-and-selection-flex-container--focused {
    position: absolute;
    left: 0;
    z-index: 5;
    width: 100%;
    background-color: rgba(255, 255, 255, 1);
    /* top: 70px; */
}

.iphone-fix {
    display: none;
    height: 44px;
}

.dropdown-flagImg {
    margin-right: 8px;
    margin-top: 4px;
    margin-left: 2px;
    height: 12px;
    width: 16px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
    z-index: 2;
}

.dropdown-input-field {
    display: flex;
    align-items: center;
    padding-top: 30px
}

.editableDropdown-flagImg {
    margin-top: 3px;
}

.dropdown--vertical-container--error {
    height: 100%
}

.dropdown--search-and-selection-flex-container--focused.drop-up {
    top: auto;
    bottom: 100%;
}

@media only screen and (min-width: 320px) and (max-width: 667px) {
    .dropdown--input-container--focused {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .dropdown--input-searchInput--crossIcon {
        padding: 0 5px 0 15px;
        display: inline;
    }

    .dropdown--search-and-selection-flex-container {
        transition: 0.3s;
        opacity: 0;
    }
    .dropdown-container--focused {
        display: flex;
        align-items: center;
        border-radius: 2px;
        background-color: rgba(255, 255, 255, 0.85);
        width: 100%;
        height: 60px;
    }
    .dropdown--searchValue--focused {
        font-size: 16px;
        border-radius: 2px;
        outline: none;
        border: 0px;
        margin: 10px;
        padding: 0 30px 0 10px;
        width: 100%;
    }
    .iphone-fix {
        display: block;
        height: 88px;
    }
}
