.tenorTable-desktop {
    display: block;
}
.tenorTable-mobile {
    display: none;
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .tenorTable-desktop {
        display: none;
    }
    .tenorTable-mobile {
        display: block;
    }
}
