.primary-button{
    outline: none;
    width: 300px;
    height: 48px;
    border: none;
    border-radius: 2px;
    background-color: #1f6eda;
    cursor: pointer;
    font-family: 'Helvetica-Light';
    font-size: 18px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
}

.primary-button--spinner {
    z-index: 2;
    animation: App-logo-spin infinite 1.5s linear;
}

@media only screen
and (min-width : 320px)
and (max-width : 667px) {
    .primary-button{
        outline:none;
        width: 100%;
        height: 60px;
        border:none;
        border-radius: 2px;
        background-color: #1F6EDA;
        cursor:pointer;
        font-weight: 400;
        font-size: 18px;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.17;
        letter-spacing: -0.1px;
        text-align: center;
        color: #ffffff;
        position: relative;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .primary-button--spinner {
        z-index: 2;
        animation: App-logo-spin infinite 1.5s linear;
    }
}

.primary-button--main-container {
}

.App {
  text-align: center;
}

.App-logo {
  -webkit-animation: App-logo-spin infinite 20s linear;
          animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@-webkit-keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes App-logo-spin {
  from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}


/*.progress-progress-button:disabled {
    cursor: default;
    background-color: #b5b5b5;
}

.progress-button:active{
    cursor: default;
    border:none;
    background-color: #0042ad;
}

.progress-button:active .progress-button-text{
    color: white;
}*/
