.bg-checked {
    background: #e6e6e6;
}

.disabledText {
    color: #c0c0c0;
}

.income-breakdown-table--main-container-flex-fatca {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.85);
    width: 100%;
    height: auto;
    border: 2px;
    border-radius: 2px;
    box-sizing: border-box;
}

.income-breakdown-table--titles-container-flex-fatca {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
}

.new-table .income-breakdown-table--titles-container-flex-fatca {
    border-top: 1px solid #979797;
    border-bottom: 1px solid #979797;
    border-left: 1px solid #979797;
}

.income-breakdown-table--title-flex-fatca-70 {
    font-family: "Helvetica-Light";
    display: flex;
    font-size: 14px;
    flex: 1;
    justify-content: center;
    align-items: center;
    color: #444444;
    height: 47px;
    border-right: 1px solid #979797;
    /* padding: 14px 0px 14px 20px; */
}

.income-breakdown-table--title-flex-fatca-15 {
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    width: 157px;
    -ms-flex-pack: center;
    -ms-flex-align: center;
    align-items: center;
    height: 47px;
    border-right: 1px solid #979797;
    padding: 0 15px;
}

.income-breakdown-table--row-item-checkbox-fatca {
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: white;
    border: solid 0.5px #e0e0e0;
    cursor: pointer;
}

.income-breakdown-table--rows-container-flex-fatca .radio-container {
    color: #c0c0c0;
}

.income-breakdown-table--rows-container-flex-fatca .bg-checked .radio-container {
    color: #444;
}

.income-breakdown-table--row-item-fatca .bg-checked {
    color: #444;
}

.income-breakdown-table--row-item-fatca {
    color: #c0c0c0;
}

.new-table .income-breakdown-table--row-flex-fatca .income-breakdown-table--row-item-fatca:last-child {
    border-left: 1px solid #979797;
    /* padding-right: 20px; */
}

.income-breakdown-table--row-item-checkbox--title-fatca {
    height: 20px;
    width: 20px;
    margin-right: 20px;
}

.income-breakdown-table--row-item-checkbox-fatca--selected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    margin-right: 20px;
    border-radius: 3px;
    background-color: #1f6eda;
    border: solid 0.5px #1f6eda;
    cursor: pointer;
}

.income-breakdown-table--row-item-checkbox-tick-fatca {
    width: 12px;
    height: auto;
}

.income-breakdown-table--rows-container-flex-fatca {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: auto;
}

.new-table .income-breakdown-table--rows-container-flex-fatca {
    margin: 0;
}

.income-breakdown-table--row-flex-fatca {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-table .income-breakdown-table--row-flex-fatca .bg-checked {
    background: #e6e6e6;
    color: #444;
}

.new-table .income-breakdown-table--row-flex-fatca {
    border-bottom: 1px solid #979797;
    border-right: 1px solid #979797;
}

.income-breakdown-table--row-flex-fatca--selected {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 19px 10px;
    width: 100%;
    background-color: #e1ebf7;
}

.income-breakdown-table--row-item-fatca:nth-child(2), .income-breakdown-table--row-item-fatca:nth-child(3) {
    display: flex;
    justify-content: center;
    align-items: center;
}

.income-breakdown-table--row-item-fatca {
    /* width: 70px; */
    font-size: 14px;
    height: 78px;
    color: #444444;
    /* white-space: nowrap; */
    /* overflow: hidden; */
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    /* padding: 10px 0px 10px 20px; */
    width: 157px;
    padding: 0 15px;
}

.income-breakdown-table--row-item-fatca:nth-child(1) {
    flex: 1;
    padding: 0;
    /* padding-left: 20px; */
    display: flex;
    align-items: center;
}

.fatca-header {
    margin: 0;
    font-weight: bold;
    font-size: 16px;
}

.fatca-desc {
    margin: 0;
    font-size: 12px;
    margin-top: 5px;
}

.fatca-radio-input {
    margin-left: 28px;
    margin-right: 10px;
}

.new-table .income-breakdown-table--row-item-fatca {
    border-left: 1px solid #979797;
    color: #c0c0c0;
}

.income-breakdown-table--separator-fatca {
    width: 100%;
    height: 1px;
    background: #979797;
}

.new-table .income-breakdown-table--separator-fatca {
    background: #979797;
    height: 1px;
}

.income-breakdown-table-header-fatca {
    font-size: 12px;
    color: #444444;
    padding: 10px;
}

.mobile-content {
    display: none;
}

.enableOverflowX.mob-lgwidth .income-breakdown-table--main-container-flex {
    width: 940px;
}

@media only screen and (max-width: 1285px) {
    .income-breakdown-table--row-item-fatca {
        height: 25vh;
    }
}

@media only screen and (max-width: 991px) {
    .enableOverflowX.mob-lgwidth .income-breakdown-table--main-container-flex {
        width: 940px;
    }
}

@media only screen and (max-width: 824px) {
    .new-table .income-breakdown-table--row-item-fatca {
        justify-content: flex-start;
        width: 100%;
        border: 0;
        height: auto;
        margin-bottom: 20px;
    }
    .fatca-radio-input {
        margin: 0;
    }
    .new-table .income-breakdown-table--row-flex-fatca {
        flex-direction: column;
        border: 0;
    }
    .new-table .income-breakdown-table--row-flex-fatca .income-breakdown-table--row-item-fatca:last-child {
        border: 0;
    }
    .bg-checked {
        background: none;
    }
    .income-breakdown-table--main-container-flex-fatca {
        margin-top: 35px;
    }
    .fat-status {
        font-size: 14px;
        font-weight: bold;
        padding-right: 5px;
        margin-top: 10px;
        display: inline-block;
    }
    .mobile-content {
        display: block;
    }
    .mob-active {
        margin-left: 68px;
    }
    .mob-hide {
        display: none;
    }
    .income-breakdown-table--row-item-fatca:nth-child(3).mob-hide, .income-breakdown-table--row-item-fatca:nth-child(2).mob-hide {
        display: none;
    }
    .enableOverflowX.mob-smwidth .income-breakdown-table--main-container-flex {
        width: 540px;
    }
}

.enableOverflowX.mob-lgwidth .income-breakdown-table--main-container-flex {
    width: 940px;
}