.messageBox-container {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 0;
    margin: 40px;
    text-align: left;
}

.messageBox-title {
    font-size: 36px;
    color: #5d7dc8;
    margin-bottom: 49px;
}

.messageBox-subtitle {
    font-size: 18px;
    color: #444444;
    /* padding-bottom: 35px; */
}

.messageBox-information-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messageBox-description {
    font-size: 12px;
    color: #43545f;
    max-width: 575px;
}

/* ThankYouPage */
.thankyou-container {
    border-radius: 2px;
    background-color: #ffffff;
    padding: 0;
    margin: 40px;
    text-align: center;
}

.thankyou-imageAlignment {
  width: 120px;
  height: 120px;
}

.thankyou-title {
    font-size: 36px;
    color: #444;
    margin-bottom: 49px;
    margin-top: 30px;
    color: #4fa92a;
    font-family: Helvetica;
}

.thankyou-subtitle {
    font-size: 18px;
    color: #444444;
    /* padding-bottom: 35px; */
}

.thankyou-information-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.thankyou-description {
    font-size: 12px;
    color: #43545f;
    max-width: 575px;
    padding-top: 20px;
}

@media only screen and (max-width: 768px) {
  .messageBox-container, .thankyou-container {
    margin: 20px;
  }
}
