.PhoneInputWrap{
  /* display: flex;
  position: relative;
  border: 1px solid transparent;
  z-index: 2; */
}
/* .PhoneInputContainer {
  position: relative;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
} */

.phoneInputField {
  display: flex;
  padding-left: 0;
  /* padding-top: 5px; */
  flex: 1
}

.PhoneInputContainer--error {
  /* background-color: rgb(255, 242, 242);
  border: 1px solid red;
  box-shadow: 0 0 9px rgba(255, 0, 0, 0.5); */
}

.PhoneInputContainer--error input {
  background: none;
}

.PhoneInputMessageContent {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.85);
  border-top: 1px solid #e0e0e0;
  height: auto;
  padding: 15px;
  font-size: 13px;
  margin-top: -1px;
}

.phoneInputFlag {
  margin-left: 2px;
  height: 12px;
  /* -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3); */
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
  top: 34px;
  margin-right: 8px;
  left: 0px;
}

.PhoneInputContainer--readOnly {
  pointer-events: none;
  cursor: not-allowed;
}

.phoneInputFlag--invisible {
  /*top: 31px;
  left: 15px;*/
  height: 12px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: relative;
  visibility: collapse;
  display: block;
  margin-bottom: -15px;
}

.phoneInput {
  font-size: 18px;
  border-radius: 2px;
  padding: 10px 15px 0px 45px;
  display: block;
  width: 100%;
  margin-top: -1px;
  height: 60px;
  border: none;
  outline: none;
  background: white;
  cursor: pointer;
  opacity: 0.4;
  /*background-color: rgba(255, 255, 255, 0.4);*/
  box-sizing: border-box;
}

.phoneInput:hover {
  opacity: 0.7;
}

.phoneInput--focused {
  /*opacity: 0.85;*/
  transition: 0.3s;
  cursor: text;
  font-size: 16px;
  border-radius: 2px;
  display: block;
  width: 100%;
  height: 60px;
  border: none;
  outline: none;
  color: #6489ba;
  /*background: white;*/
  background: none;
  padding-top: 19px;
  /* padding-left: 15px; */
  box-sizing: border-box;
  z-index: 2;
}

.phoneInputLabel {
  opacity: 0.4;
  font-size: 18px;
  font-weight: normal;
  pointer-events: none;
  /* left: 15px; */
  height: 1px;
  top: 20px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 150%;
}

.phoneInputLabel--focused {
  transform: translate(-14%, -15px) scale(0.72);
  color: #787878;
  /* font-size: 18px; */
  /* font-weight: bold; */
  pointer-events: none;
  /* left: 15px; */
  height: 1px;
  top: 26px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 150%;
}

.phoneInputTick {
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 2;
  visibility: visible;
}

.phoneInputTick--verified {
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 2;
  visibility: visible;
  width: 50px;
}

.phoneInputTick--invisible {
  position: absolute;
  right: 15px;
  top: 25px;
  z-index: 2;
  visibility: hidden;
}

.phoneInputLabel--error {
  transform: translate(-14%, -15px) scale(0.72);
  color: red;
  /* font-size: 18px; */
  /* font-weight: bold; */
  pointer-events: none;
  /* left: 15px; */
  height: 1px;
  top: 26px;
  display: block;
  z-index: 2;
  position: relative;
  transition: 0.3s;
  text-align: left;
  width: 100%;
  font-family: "Helvetica-Bold";
  font-weight: bold
}

.phoneInputFlag--number {
  height: 12px;
  z-index: 2;
  position: relative;
  top: 31px;
  left: 0px;
  font-size: 16px;
  padding-right: 4px;
  color: #6489ba;
  font-family: "Helvetica-Light";
}

input:disabled, input[disabled]  {
  color: #444444 !important;
  -webkit-text-fill-color: #444444 !important;
}

.isReadOnly{
  color: #444444 !important;
}